<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragmentos/cabecera.html::cabecera(titulo='MedicalTec')}">

<!--</head>-->
<body>
    <div>
        <nav th:replace="~{fragmentos/navbarprincipal.html::navbarprincipal}"></nav>

        <div>
            <img class="card-img-top img-fluid" th:src="@{img/principalpage/foto_clinica.png}">
        </div>

        <!-- Invitación Registro -->
        <div style="background: white">
            <div class="alert alert-success" role="alert" th:if="${success != null}" th:text="${success}">
            </div>
            <div class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}">
            </div>
            <div style="padding: 50px 0;">
                <div style="justify-content: center;
    text-align: center;
    display: flex;
    margin-bottom: 10px !important;">
                    <div id="qrcode" style="margin-right: 30px;"></div>
                    <div class="card bg-card-gradient" style="background: #FFFFFF; border: 1px solid #b6c1d2; border-radius: 0;">
                        <div class="card-body" style="padding: 2rem !important;">
                            <h4 class="card-subtitle"
                                style="color: #0032aa; font-weight: bold; padding-bottom: 5px">ÚNETE A NOSOTROS</h4>
                            <h6 class="card-title"
                                style="color: #0032aa; font-weight: bold; font-size: 15px;">(Registro de Nuevo usuario)</h6>
                            <p class="card-text" style="color: #5e6e82;"> Ve a la página de registro
                                escaneando el QR o presionando el botón de abajo</p>
                            <a type="button" class="btn btn-light" style="background: #00a9b1; color: #FFFFFF"
                               th:href="@{/register}">Quiero registrarme</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Invitación Registro -->

        <!-- NUESTROS SERVICIOS -->
        <div style="text-align: center">
            <div class="container" data-layout="container" style="overflow-y: auto">
                <div class="content" style="text-align: center">
                    <h2 style="color: #0032aa; font-weight: bold; padding-left: 15px; margin: 0;"> Nuestros Servicios</h2>
                    <!--<a type="button" th:href="@{/servicios}" class="btn btn-link" style="text-align: right; text-decoration: underline;
                    color: #0032aa; padding: 0 !important;">
                        Conoce más aquí
                    </a>-->
                    <div style="height: 20px;"></div>
                    <div style="display: flex">
                        <div class="card mb-3" style="flex: 1; border: 1px solid #b6c1d2; margin-right: 20px; border-radius: 0;">
                            <div class="row g-0" style="height: 100%;">
                                <div class="col-md-5" style="
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            overflow: hidden;
                            ">
                                    <img  th:src="@{/img/principalpage/consulta.jpg}" class="img-fluid rounded-start" style="height: 100% !important;
                                object-fit: cover;
                                object-position: center;
                                border-right: 1px solid #b6c1d2;">
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body">
                                        <h5 class="card-title" style="color: #00a9b1; font-weight: bold; padding-bottom: 5px">Consulta médica</h5>
                                        <p class="card-text">
                                            La consulta médica es un encuentro fundamental entre tú y nuestros expertos en salud.
                                            Durante la consulta, nuestros médicos escucharán tus preocupaciones y
                                            evaluarán detalladamente tu condición de salud. Tu bienestar es nuestra prioridad.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="height: 10px;"></div>
                        <div class="card mb-3" style="flex: 1; border: 1px solid #b6c1d2; border-radius: 0;">
                            <div class="row g-0" style="height: 100%;">
                                <div class="col-md-5" style="
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            overflow: hidden;">
                                    <img  th:src="@{/img/principalpage/examen.jpg}" class="img-fluid rounded-start" style="    height: 100% !important;
                                object-fit: cover;
                                object-position: center;
                                border-right: 1px solid #b6c1d2;">
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body">
                                        <h5 class="card-title" style="color: #00a9b1; font-weight: bold; padding-bottom: 5px">Examen Médico</h5>
                                        <p class="card-text">
                                            Nuestros exámenes médicos son una oportunidad invaluable para cuidar de tu salud de manera integral.
                                            Los exámenes médicos nos permiten detectar tempranamente posibles afecciones, monitorear tu progreso
                                            y brindarte recomendaciones preventivas personalizadas.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height: 110px;"></div>
                </div>
            </div>
        </div>
        <!-- NUESTROS SERVICIOS -->

        <!-- TECNOLOGIA -->
        <div style="display: flex;
    justify-content: center;
    align-items: center;
    /* height: 400px; */
    background: #eef2f9;">
            <div style="display: flex; width: 80%">
                <div style="flex: 1; flex-direction: column; display: flex; justify-content: center;">
                    <h4 style="padding: 0 40px;
    font-weight: 700;
    color: #0529a7;">Innovación e investigación:</h4>
                    <p style="padding: 0 60px 0 40px;
    color: #0529a7;
    font-size: 17px;">
                        En nuestra clínica, estamos comprometidos con la integración de la tecnología en la atención médica para brindar
                        servicios de calidad y vanguardia. Contamos con un equipo de especialistas en tecnología altamente capacitados que
                        trabajan en colaboración con nuestro personal médico para optimizar la experiencia de nuestros pacientes y mejorar
                        los resultados de salud
                    </p>
                </div>
                <div style="flex: 2; height: 100%; ">
                    <img th:src="@{/img/principalpage/tecnologiacli.jpg}" class="img-fluid rounded-start"
                         style="height: 100% !important; object-fit: cover; object-position: center;
                         width: 100% !important; max-height: 450px;">
                </div>
            </div>
        </div>
        <div style="height: 60px;"></div>
        <!-- TECNOLOGIA -->

        <!-- POR QUÉ NOSOTROS-->
        <div style="text-align: center">
            <div class="container" data-layout="container" style="overflow-y: auto">
                <div class="content" style="text-align: center">
                    <div style="height: 30px;"></div>
                    <h2 style="color: #0032aa; font-weight: bold; padding-left: 15px; "> ¿Por qué elegir MedicalTec?</h2>
                    <div style="display: flex">
                        <div style="padding: 40px; flex: 1;">
                            <h4 style="color: #00a9b1; padding-bottom: 10px;">Atención centrada en el paciente</h4>
                            <p style="font-size: 15px;">
                                Nos preocupamos por ti. Eso significa
                                que nuestra clínica se toma el tiempo para escuchar lo que es importante para ti.
                            </p>
                        </div>
                        <div style="padding: 40px; flex: 1;">
                            <h4 style="color: #00a9b1; padding-bottom: 10px;">Reconocimiento nacional:</h4>
                            <p style="font-size: 15px;">
                                MedicalTec se encuentra consistentemente clasificada como uno de los mejores hospitales de la nación según
                                U.S. News & World Report. Newsweek.
                            </p>
                        </div>
                        <div style="padding: 40px; flex: 1;">
                            <h4 style="color: #00a9b1; padding-bottom: 10px;">Proveedores colaborativos:</h4>
                            <p style="font-size: 15px;">
                                Recibirás atención de expertos certificados por el consejo
                                quienes trabajan juntos para crear un plan de tratamiento diseñado especialmente para ti.
                            </p>
                        </div>
                        <div style="padding: 40px; flex: 1;">
                            <h4 style="color: #00a9b1; padding-bottom: 10px;">Innovación e investigación:</h4>
                            <p style="font-size: 15px;">
                                Nuestro enfoque en la investigación y en ofrecer las últimas opciones
                                significa que puedes encontrar una amplia gama de ensayos clínicos y otros tratamientos que no encontrarás en otro lugar.
                            </p>
                        </div>
                    </div>
                    <div style="height: 30px;"></div>
                </div>
            </div>
        </div>

        <!-- VISITANOS -->
        <div style="text-align: center">
            <div class="container" data-layout="container" style="overflow-y: auto">
                <div class="content" style="text-align: center">
                    <div style="height: 30px;"></div>
                    <h2 style="color: #0032aa; font-weight: bold; padding-left: 15px; padding-bottom: 25px"> Visitanos</h2>
                    <div class="row">
                        <div class="col-md-5">
                            <h4 style="color: #00a9b1; padding-bottom: 10px;">Dirección</h4>
                            <p style="font-size: 15px;">
                                Estamos ubicados en
                                <br>
                                [nombre de la calle], [ciudad], [estado], [código postal].
                                <br>
                                Nuestra clínica se encuentra en una ubicación conveniente y de fácil acceso.
                            </p>
                        </div>
                        <div class="col-md-7">
                            <h4 style="color: #00a9b1; padding-bottom: 10px;">Horario de atención:</h4>
                            <p style="font-size: 15px;">
                                Lunes a viernes: 08:00am - 10:00pm
                                <br>
                                Sábados: 11:00am - 7:00pm
                                <br>
                                Domingos: Cerrado
                            </p>
                        </div>
                    </div>
                    <div style="height: 30px;"></div>
                </div>

            </div>
        </div>
        <div style="height: 20px;"></div>
        <div class="card-body text-white fs--1" style="display: flex; align-items: center; justify-content: space-around;padding: 0;">
            <div id="map" class="col-sm-12" style="height: 450px;"></div>
        </div>
        <div class="container">
            <footer th:replace="~{fragmentos/footer.html::footer}"></footer>
        </div>
    </div>

    <div th:replace="~{fragmentos/scripts.html::scripts}"></div>
    <script th:src="@{/js/qrcode.min.js}" ></script>
    <script type="text/javascript">
        function getCurrentURL () {
            return window.location.href
        }
        // Example
        const url = getCurrentURL()+"register";
        console.log(url);
        //const QRcontenedor = ;
        let qrcode = new QRCode(document.getElementById("qrcode"), {
            text: url ,
            width: 200,
            height: 200,

        });
    </script>
    <script th:inline="javascript">
        $(document).ready(function () {
            $('#zona').on('change', function () {
                set_map($(this).val());
            });
            var map = L.map('map')

            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            var marker;

            function set_map(){

                /*<![CDATA[*/
                var arregloSedes = [[${sedeList}]];
                var latitudes = [];
                var longitudes = [];
                var nombres = [];
                // Iterar sobre la lista de zonas
                var longitud, latitud, nombre, sedeId;
                for (var i = 0; i < arregloSedes.length; i++) {
                    var sede = arregloSedes[i];
                    console.log(sede.idsedes)
                    console.log(sede)
                    // Obtén los valores de cada elemento
                    sedeId = sede.idsedes;
                    longitud = sede.longitud;
                    latitud = sede.latitud;
                    nombre = sede.nombre;
                    console.log("Latitud: " + latitud + ", Longitud: " + longitud + ", Nombre: " + nombre);
                    // Agrega los valores a los arreglos correspondientes
                    latitudes.push(latitud);
                    longitudes.push(longitud);
                    nombres.push(nombre);
                }
                map.setView([latitudes[0], longitudes[0]], 30);

                if (marker) {
                    map.removeLayer(marker);
                }
                for (var i = 0; i < latitudes.length; i++) {
                    const marker = L.marker([latitudes[i], longitudes[i]]).addTo(map)
                        .bindPopup(nombres[i])
                        .openPopup();
                }
            }

            set_map($('#zona').val())
            /*]]>*/
        });
    </script>
</body>
</html>