<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragmentos/cabecera.html::cabecera(titulo='Pagina Principal')}">
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" ></script>-->
<script defer src="/static/js/app.js"></script>-->
<!--</head>-->
<body>
    <nav th:replace="~{fragmentos/navbarprincipal.html::navbarprincipal}"></nav>

    <!-- Invitación Registro -->
    <div style="background: #f9f9fa">
        <div style="height: 50px;"></div>
        <div style="text-align: center">
            <div class="container" data-layout="container" style="overflow-y: auto">
                <div class="content" style="text-align: center">
                    <!--div style="height: 30px;"></div>
                    <h1 style="color: #0032aa; font-weight: bold; padding-left: 15px; padding-bottom: 5px"> Conoce nuestras Sedes</h1>
                    <div style="height: 30px;"></div>
                    <div style="height: 10px;"></div-->
                    <div class="row justify-content-center" style="margin-left: 15px;margin-right: 15px;">
                        <div class="col-sm-5 mb-1" style="margin-bottom: 10px !important;">

                            <!--<div id="contenedorQR" ></div>-->
                            <img class="img-fluid" th:src="@{/img/QR.png}" alt="..." width="200">
                        </div>
                        <div class="col-sm-5 mb-1" style="margin-bottom: 10px !important;">
                            <div class="card bg-card-gradient" style="background: #FFFFFF; border: 2px solid #edf2f9 !important;">
                                <div class="card-body" style="padding: 1rem !important;">
                                    <h4 class="card-subtitle"
                                        style="color: #3d8af7; font-weight: bold; padding-bottom: 5px">ÚNETE A NOSOTROS</h4>
                                    <h6 class="card-title"
                                        style="color: #0032aa; font-weight: bold">Registro de Nuevo usuario</h6>
                                    <p class="card-text" style="color: #9da9bb; font-weight: bold"> Ve a la página de registro
                                        escaneando el QR o presionando el botón de abajo</p>
                                    <a type="button" class="btn btn-light" style="background: #b38df7; color: #FFFFFF"
                                    th:href="@{/register}">Quiero registrarme</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height: 50px;"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Invitación Registro -->

    <!-- Listar Sedes -->
    <div style="background: #FFFFFF">
        <div style="text-align: center">
            <div class="container" data-layout="container" style="overflow-y: auto">
                <div class="content" style="text-align: center">
                    <div style="height: 30px;"></div>
                    <h1 style="color: #0032aa; font-weight: bold; padding-left: 15px; padding-bottom: 5px"> Conoce nuestras Sedes</h1>
                    <div style="height: 30px;"></div>
                    <div style="height: 10px;"></div>
                    <div class="row justify-content-center" style="margin-left: 15px;margin-right: 15px;">
                        <div class="col-sm-3 mb-1" th:each="sede, i : ${sedeList}" style="margin-bottom: 10px !important;">
                            <div class="card bg-card-gradient" style="background: #FFFFFF; border: 2px solid #edf2f9 !important;
                                    min-height: 200px">
                                <img class="card-img-top img-fluid" th:src="@{/img/clinica.jpg}" alt="...">
                                <div class="card-body" style="padding: 1rem !important;">
                                    <h6 class="card-title" th:text="|N°${i.index+1}|"
                                        style="color: #3d8af7; font-weight: bold">Número Sede</h6>
                                    <h4 class="card-subtitle" th:text="${sede.nombre}"
                                        style="color: #0032aa; font-weight: bold; padding-bottom: 5px">Nombre Especialidad</h4>
                                    <p class="card-text" th:text="|${sede.torre} - ${sede.piso}|"
                                       style="color: #3d8af7; font-weight: bold">Torre - Piso</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height: 50px;"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Listar Sedes -->

    <!-- Listar Especialidades -->
    <div style="background: #0032aa">
        <div style="text-align: center">
            <div class="container" data-layout="container" style="overflow-y: auto">
                <div class="content" style="text-align: center">
                    <div style="height: 30px;"></div>
                    <h1 style="color: #FFFFFF; font-weight: bold; padding-left: 15px; padding-bottom: 5px"> Conoce nuestras Especialidades</h1>
                    <div style="height: 30px;"></div>
                    <div style="height: 10px;"></div>
                    <div class="row justify-content-center align-items-center" style="margin-left: 15px;margin-right: 15px;">
                        <div class="col-sm-3 mb-1" th:each="especialidad, i : ${especialidadesList}" style="margin-bottom: 10px !important;">
                            <div class="card bg-card-gradient align-content-center" style="background: #FFFFFF; border: 2px solid #edf2f9 !important;">
                                <div class="card-body" style="padding: 1rem !important;">
                                    <h6 class="card-title" th:text="|N°${i.index+1}|"
                                       style="color: #9da9bb; margin-bottom: 0 !important;">Número Especialidad</h6>
                                    <h4 class="card-text" th:text="${especialidad.nombreEspecialidad}"
                                        style="color: #0032aa; font-weight: bold; padding-bottom: 5px">Nombre Especialidad</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height: 50px;"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Listar Especialidades -->


    <div style="height: 100px;"></div>
    <footer th:replace="~{fragmentos/footer.html::footer}"></footer>


    <div th:replace="~{fragmentos/scripts.html::scripts}"></div>
</body>
</html>