<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/cabecera.html::cabecera(titulo='Staff Médico')}">

<body style="background: white;">
  <nav th:replace="~{fragmentos/navbarprincipal.html::navbarprincipal}"></nav>

  <div class="container">
    <h1 style="color: #0032aa; font-weight: bold; padding-left: 15px; padding-bottom: 5px; margin-top: 60px"> Conoce nuestro Staff Médico</h1>
    <div style="display: flex; flex-wrap: wrap;">
      <div class="card" style="flex: 1 0 300px; margin: 10px; border: 1px solid #b6c1d2; background: #edf2f9;text-align: center; max-width: 350px "
           th:each="doctor, i : ${doctoresList}" th:if="${i.index &lt; 10}">
        <img class="card-img-top" th:src="@{'/fotoPerfilDoctor?dni='+${doctor.id}}" alt="Card image cap" style="margin: 15px;border: 1px solid;height: 350px;width: 91%; margin-bottom: 0; background: #748194;">
        <div class="card-body" style="padding: 15px; text-align: center">
          <h5 class="card-title" th:text="|${doctor.nombre} ${doctor.apellido}|" style="color: #00a9b1;"></h5>
          <h6 class="card-subtitle mb-2 text-muted" th:text="|${doctor.especialidadesIdEspecialidad.nombreEspecialidad} - ${doctor.sedesIdsedes.nombre}|"
              style="color: #0032aa !important;"></h6>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" th:text="|Nro. de Colegiatura: ${doctor.ceduladoctor}|"></li>
        </ul>
      </div>
    </div>

  </div>


</body>
</html>