<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="cabecera(titulo)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- cometchat links para funciones en frontend del chat-->
    <script type="text/javascript"
            src="https://unpkg.com/@cometchat-pro/chat@3.0.12/CometChat.js">
    </script>
    <script defer src="https://widget-js.cometchat.io/v3/cometchatwidget.js"></script>


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
            crossorigin=""></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
    <script src="../../js/colores.js" defer async></script>
    <style>
        #map {
            height: 400px;
            width: 300px;
        }
    </style>

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title th:text="${titulo}"></title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <!--link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/favicons/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/favicons/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicons/favicon-16x16.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicons/favicon.ico}">
    <link rel="manifest" th:href="@{/img/favicons/manifest.json}"-->
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <script th:src="@{/js/config.navbar-vertical.js}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link th:href="@{/lib/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet">
    <link th:href="@{/lib/prismjs/prism-okaidia.css}" rel="stylesheet">
    <link th:href="@{/lib/emojionearea/emojionearea.min.css}" rel="stylesheet">
    <link th:href="@{/lib/fancybox/jquery.fancybox.min.css}" rel="stylesheet">
    <link th:href="@{/css/theme.css}" rel="stylesheet">
    <!--link th:href="@{/css/theme.min.css}" rel="stylesheet"-->
    <link th:href="@{/lib/datatables-bs4/dataTables.bootstrap4.min.css}" rel="stylesheet">
    <link th:href="@{/lib/fullcalendar/main.min.css}" rel="stylesheet">
    <link th:href="@{/lib/datatables.net-responsive-bs4/responsive.bootstrap4.css}" rel="stylesheet">
    <link th:href="@{/lib/dropzone/dropzone.min.css}" rel="stylesheet">
    <link th:href="@{/lib/flatpickr/flatpickr.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">



</head>