<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<footer th:fragment="footer">
    <div class="row no-gutters justify-content-between fs--1 mt-4 mb-3">
        <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600">Medictal-Tec <span class="d-none d-sm-inline-block">| </span><br class="d-sm-none" /> 2023 &copy; <span>GTICS</span></p>
        </div>
        <div class="col-12 col-sm-auto text-center" style="display: flex;">
            <p th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy HH:mm:ss')}"></p>
            <p class="mb-0 text-600"> (Hora Actual) - v1.0.0</p>
        </div>
    </div>
</footer>