<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<div th:fragment="scripts">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/lib/@fortawesome/all.min.js}"></script>
    <script th:src="@{/lib/stickyfilljs/stickyfill.min.js}"></script>
    <script th:src="@{/lib/sticky-kit/sticky-kit.min.js}"></script>
    <script th:src="@{/lib/is_js/is.min.js}"></script>
    <script th:src="@{/lib/lodash/lodash.min.js}"></script>
    <script th:src="@{/lib/perfect-scrollbar/perfect-scrollbar.js}"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900&amp;display=swap"
          rel="stylesheet">
    <script th:src="@{/lib/prismjs/prism.js}"></script>
    <script th:src="@{/lib/emojionearea/emojionearea.min.js}"></script>
    <script th:src="@{/lib/fancybox/jquery.fancybox.min.js}"></script>
    <script th:src="@{/js/theme.js}"></script>

    <script>
        const activePage = window.location.pathname;
        const navLinks = document.querySelectorAll('nav.navbar-vertical li a').forEach(link => {
            if(link.href.includes(`${activePage}`)){
                link.classList.add('active');
                console.log(link);
            }
        })
    </script>

</div>