<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav th:fragment="sideBar" id="change" class="navbar navbar-vertical navbar-expand-xl navbar-light">
     <div class="d-flex align-items-center">
       <div class="toggle-icon-wrapper">
         <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-toggle="tooltip" data-placement="left" title="Opciones"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
       </div>
       <a class="navbar-brand" th:href="@{/paciente/principal}">
         <div class="d-flex align-items-center py-3"><img class="rounded-circle" th:src="@{/logo}" alt="" width="50px" height="50px"/><span class="text-sans-serif" style="font-size: large">MedicalTec</span>
         </div>
       </a>
     </div>
     <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
       <div class="navbar-vertical-content perfect-scrollbar scrollbar">
         <ul class="navbar-nav flex-column">
           <li class="nav-item">
             <a class="nav-link" th:href="@{/paciente/principal}">
               <div class="d-flex align-items-center">
                            <span class="nav-link-icon">
                                <i class="fa fa-home"></i>
                            </span>
                 <span class="nav-link-text"> Página Principal</span>
               </div>
             </a>
           </li>
           <li class="nav-item">
             <a class="nav-link" th:href="@{/paciente/perfil}">
               <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                       class="fas fa-user">
                    </span></span><span class="nav-link-text">Perfil</span>
               </div>
             </a>
           </li>
           <li class="nav-item">
             <a class="nav-link" th:href="@{/paciente/agendarCita}">
               <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                       class="far fa-hospital">
                    </span></span><span class="nav-link-text">Agendar citas</span>
               </div>
             </a>
           </li>
           <li class="nav-item">
             <a class="nav-link" th:href="@{/paciente/listaDoctores}">
               <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                       class="fas fa-user-nurse">
                    </span></span><span class="nav-link-text">Lista de doctores</span>
               </div>
             </a>
           </li>
           <li class="nav-item">
             <a class="nav-link" th:href="@{/paciente/consultas}">
               <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                       class="far fa-address-book">
                    </span></span><span class="nav-link-text">Consultas Médicas</span>
               </div>
             </a>
           </li>
           <li class="nav-item">
             <a class="nav-link" th:href="@{/paciente/pagos}">
               <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                       class="far fa-credit-card">
                    </span></span><span class="nav-link-text">Sección de Pagos</span>
               </div>
             </a>
           </li>
           <li class="nav-item">
             <a class="nav-link" th:href="@{'/paciente/cuestionarios'}">
               <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                       class="far fa-file-alt">
                    </span></span><span class="nav-link-text">Cuestionarios</span>
               </div>
             </a>
           </li>
           <li class="nav-item">
             <a class="nav-link" th:href="@{/paciente/notificaciones}">
               <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                       class="fas fa-bell">
                    </span></span><span class="nav-link-text">Notificaciones</span>
               </div>
             </a>
           </li>
           <li class="nav-item">
             <a class="nav-link" th:href="@{/paciente/mensajeria}">
               <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                       class="fab fa-facebook-messenger">
                    </span></span><span class="nav-link-text">Mensajería</span>
               </div>
             </a>
           </li>
           <li class="nav-item">
             <form class="nav-link" th:action="@{/logout}" method="post">
               <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                       class="fas fa-sign-out-alt">
                    </span></span><input class="nav-link-text" type="submit" value="Cerrar Sesión"
                                         style="color: #5e6e82; background: #eef3f9; border: 0; font-weight: 500">
               </div>
             </form>
           </li>
         </ul>
         <div class="navbar-vertical-divider">
           <hr class="navbar-vertical-hr my-2"/>
         </div>
       </div>
     </div>
</nav>
