<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<nav th:fragment="topBar" class="navbar navbar-light navbar-glass navbar-top sticky-kit navbar-expand">

  <button class="btn navbar-toggler-humburger-icon navbar-toggler mr-1 mr-sm-3" type="button" data-toggle="collapse" data-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
  <ul class="navbar-nav navbar-nav-icons ml-auto flex-row align-items-center">
    <li class="nav-item">
      <div class="col-md">
        <h5 class="mb-0" id="top_navbar_name" style="font-size: 1rem">Paciente</h5>
        <span th:text="|${session.usuario.nombre.toUpperCase()} ${session.usuario.apellido.toUpperCase()}|"></span>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link px-0 notification-indicator notification-indicator-warning notification-indicator-fill icon-indicator" th:href="@{/paciente/mensajeria}"><span class="fab fa-facebook-messenger fs-4" data-fa-transform="shrink-7"></span><span class="notification-indicator-number">1</span></a>

    </li>
    <li class="nav-item dropdown dropdown-on-hover">
      <a class="nav-link notification-indicator notification-indicator-primary px-0 icon-indicator" id="navbarDropdownNotification" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-bell fs-4" data-fa-transform="shrink-6"></span></a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-card" aria-labelledby="navbarDropdownNotification">
        <div class="card card-notification shadow-none" style="max-width: 20rem">
          <div class="card-header">
            <div class="row justify-content-between align-items-center">
              <div class="col-auto">
                <h6 class="card-header-title mb-0">Notificaciones</h6>
              </div>
            </div>
          </div>
          <div class="list-group list-group-flush font-weight-normal fs--1">
            <div class="list-group-title border-bottom">NEW</div>
            <div class="list-group-item">
              <a class="notification notification-flush bg-200" href="#!">
                <div class="notification-avatar">
                  <div class="avatar avatar-2xl mr-3">
                    <img class="rounded-circle" src="/img/team/1-thumb.png" alt="" />
                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1"><strong>Emma Watson</strong> replied to your comment : "Hello world 😍"</p>
                  <span class="notification-time"><span class="mr-1" role="img" aria-label="Emoji">💬</span>Just now</span>
                </div>
              </a>
            </div>
            <div class="list-group-item">
              <a class="notification notification-flush bg-200" href="#!">
                <div class="notification-avatar">
                  <div class="avatar avatar-2xl mr-3">
                    <div class="avatar-name rounded-circle"><span>AB</span></div>
                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1"><strong>Albert Brooks</strong> reacted to <strong>Leonardo's</strong> status</p>
                  <span class="notification-time"><span class="mr-1 fab fa-gratipay text-danger"></span>9hr</span>
                </div>
              </a>
            </div>
            <div class="list-group-title">EARLIER</div>
            <div class="list-group-item">
              <a class="notification notification-flush" href="#!">
                <div class="notification-avatar">
                  <div class="avatar avatar-2xl mr-3">
                    <img class="rounded-circle" src="/img/icons/weather-sm.jpg" alt="" />
                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1">The forecast today shows a low of 20&#8451; in California. See today's weather.</p>
                  <span class="notification-time"><span class="mr-1" role="img" aria-label="Emoji">🌤️</span>1d</span>
                </div>
              </a>
            </div>
          </div>
          <div class="card-footer text-center border-top"><a class="card-link d-block" th:href="@{/paciente/notificaciones}" >View all</a></div>
        </div>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link pr-0" id="navbarDropdownUser" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="avatar avatar-xl">
          <!--img class="rounded-circle" th:src="@{|/paciente/image/${session.usuario.id}|}" alt="" /-->
          <img class="rounded-circle" th:src="@{/fotoPerfil}" alt="" />
        </div>
      </a>
      <div class="dropdown-menu dropdown-menu-right py-0" aria-labelledby="navbarDropdownUser">
        <div class="bg-white rounded-soft py-2">
          <a class="dropdown-item" th:href="@{/paciente/perfil}">Perfil</a>
        </div>
        <div class="bg-white rounded-soft py-2">
          <form th:action="@{/logout}" method="post">
            <input class="dropdown-item" type="submit" value="Cerrar Sesión">
          </form>
        </div>

      </div>
    </li>
  </ul>
</nav>
