<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav th:fragment="topBar" id="change" class="navbar navbar-light navbar-glass navbar-top sticky-kit navbar-expand">


    <button class="btn navbar-toggler-humburger-icon navbar-toggler mr-1 mr-sm-3" type="button" data-toggle="collapse" data-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
    <ul class="navbar-nav navbar-nav-icons ml-auto flex-row align-items-center">
        <li class="nav-item">
            <div class="col-md">
                <h5 class="mb-0" id="top_navbar_name2" style="font-size: 1rem" th:text="|${session.usuario.nombre} ${session.usuario.apellido}|"></h5>
                <h5 class="mb-0" id="top_navbar_name" style="font-size: 1rem">Superadmin</h5>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link pr-0" id="navbarDropdownUser" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="avatar avatar-xl">
                    <img class="rounded-circle" th:src="@{|/superAdmin/image/${session.usuario.id}}" alt=""/>

                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right py-0" aria-labelledby="navbarDropdownUser">
                <div class="bg-white rounded-soft py-2">
                    <form th:action="@{/logout}" method="post">
                        <input class="dropdown-item" type="submit" value="Cerrar Sesión">
                    </form>
                </div>
            </div>
        </li>
    </ul>
</nav>