<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="topBar" class="navbar navbar-light navbar-glass navbar-top sticky-kit navbar-expand">

  <button class="btn navbar-toggler-humburger-icon navbar-toggler mr-1 mr-sm-3" type="button" data-toggle="collapse" data-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
  <ul class="navbar-nav navbar-nav-icons ml-auto flex-row align-items-center">

    <li class="nav-item">
      <!-- Button trigger modal-->
      <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal">Agendar cita</button>
      <!-- Modal-->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Agendar Cita</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span class="font-weight-light" aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <div class="container">

                <form action="#" method="post">

                  <div class="row">

                    <!-- Columna 1 -->
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="dni">DNI</label>
                        <input type="text" id="dni" name="dni"  placeholder="12345678" class="form-control" disabled>
                      </div>

                      <div class="form-group">
                        <label for="pais">Especialidad:</label>
                        <select id="pais" name="pais" class="form-control">
                          <option value="Argentina">Argentina</option>
                          <option value="Brasil">Brasil</option>
                          <option value="Chile">Chile</option>

                        </select>
                      </div>
                      <div class="form-group">
                        <label for="fecha">Fecha </label>
                        <input type="date" id="fecha" name="nombre" class="form-control" required>
                      </div>

                      <div class="form-group">
                        <label for="tipocita">Tipo de cita: </label>
                        <select id="tipocita" name="tipocita" class="form-control">
                          <option value="Argentina">Argentina</option>
                          <option value="Brasil">Brasil</option>
                          <option value="Chile">Chile</option>

                        </select>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                          Enviar notificaciones
                        </label>
                      </div>


                    </div>

                    <!-- Columna 2 -->
                    <div class="col-sm-6">

                      <div class="form-group">
                        <label for="sede">Sede de atencion:  </label>
                        <select id="sede" name="sede" class="form-control">
                          <option value="Argentina">Argentina</option>
                          <option value="Brasil">Brasil</option>
                          <option value="Chile">Chile</option>
                        </select>
                      </div>


                      <div class="form-group">
                        <label for="doctor">Doctor:  </label>
                        <select id="doctor" name="doctor" class="form-control">
                          <option value="Argentina">Argentina</option>
                          <option value="Brasil">Brasil</option>
                          <option value="Chile">Chile</option>
                        </select>
                      </div>


                      <div class="form-group">
                        <label for="hora">Hora</label>
                        <input type="time" id="hora" name="hora" class="form-control" required>
                      </div>

                      <div class="form-group">
                        <label for="seguro">Seguro de salud:  </label>
                        <select id="seguro" name="seguro" class="form-control">
                          <option value="Argentina">Argentina</option>
                          <option value="Brasil">Brasil</option>
                          <option value="Chile">Chile</option>
                        </select>
                      </div>


                    </div>

                  </div>

                  <!-- Botón de envío -->

                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-falcon-danger btn-sm" type="button" data-dismiss="modal">Cancelar</button>
              <a th:href="@{'/paciente/principal'}" class="btn btn-falcon-primary btn-sm">Registrar cita</a>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <div class="col-md">
        <h5 class="mb-0" id="top_navbar_name" style="font-size: 1rem">Paciente</h5>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link px-0 notification-indicator notification-indicator-warning notification-indicator-fill icon-indicator" th:href="@{/paciente/mensajeria}"><span class="fab fa-facebook-messenger fs-4" data-fa-transform="shrink-7"></span><span class="notification-indicator-number">1</span></a>

    </li>
    <li class="nav-item dropdown dropdown-on-hover">
      <a class="nav-link notification-indicator notification-indicator-primary px-0 icon-indicator" id="navbarDropdownNotification" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-bell fs-4" data-fa-transform="shrink-6"></span></a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-card" aria-labelledby="navbarDropdownNotification">
        <div class="card card-notification shadow-none" style="max-width: 20rem">
          <div class="card-header">
            <div class="row justify-content-between align-items-center">
              <div class="col-auto">
                <h6 class="card-header-title mb-0">Notificaciones</h6>
              </div>
            </div>
          </div>
          <div class="list-group list-group-flush font-weight-normal fs--1">
            <div class="list-group-title border-bottom">NEW</div>
            <div class="list-group-item">
              <a class="notification notification-flush bg-200" href="#!">
                <div class="notification-avatar">
                  <div class="avatar avatar-2xl mr-3">
                    <img class="rounded-circle" src="/img/team/1-thumb.png" alt="" />

                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1"><strong>Emma Watson</strong> replied to your comment : "Hello world 😍"</p>
                  <span class="notification-time"><span class="mr-1" role="img" aria-label="Emoji">💬</span>Just now</span>

                </div>
              </a>

            </div>
            <div class="list-group-item">
              <a class="notification notification-flush bg-200" href="#!">
                <div class="notification-avatar">
                  <div class="avatar avatar-2xl mr-3">
                    <div class="avatar-name rounded-circle"><span>AB</span></div>
                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1"><strong>Albert Brooks</strong> reacted to <strong>Leonardo's</strong> status</p>
                  <span class="notification-time"><span class="mr-1 fab fa-gratipay text-danger"></span>9hr</span>

                </div>
              </a>

            </div>
            <div class="list-group-title">EARLIER</div>
            <div class="list-group-item">
              <a class="notification notification-flush" href="#!">
                <div class="notification-avatar">
                  <div class="avatar avatar-2xl mr-3">
                    <img class="rounded-circle" src="/img/icons/weather-sm.jpg" alt="" />

                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1">The forecast today shows a low of 20&#8451; in California. See today's weather.</p>
                  <span class="notification-time"><span class="mr-1" role="img" aria-label="Emoji">🌤️</span>1d</span>

                </div>
              </a>

            </div>
          </div>
          <div class="card-footer text-center border-top"><a class="card-link d-block" th:href="@{/paciente/notificaciones}" >View all</a></div>
        </div>
      </div>

    </li>

    <li class="nav-item dropdown">
      <a class="nav-link pr-0" id="navbarDropdownUser" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="avatar avatar-xl">
          <img class="rounded-circle" th:src="@{/img/team/3-thumb.png}" alt="" />

        </div>
      </a>
      <div class="dropdown-menu dropdown-menu-right py-0" aria-labelledby="navbarDropdownUser">
        <div class="bg-white rounded-soft py-2">
          <a class="dropdown-item" href="#">Cerrar  Sesión</a>
        </div>
      </div>
    </li>
  </ul>
</nav>
