<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/cabecera.html::cabecera(titulo='Dashboard')}">
  <title>Crear Plantilla de Informe</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>


<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">


  <div class="container" data-layout="container">
    <nav th:replace="~{fragmentos/sidebarSuper.html::sideBar}"></nav>
    <div class="content" >
      <nav th:replace="~{fragmentos/topbarSuper.html::topBar}"></nav>

      <!-- ===============================================-->
      <!--    static Content-->
      <!-- ===============================================-->

      <div class="card mb-3 bg-card-gradient" style="; background: #FFFFFF">
        <div class="card-body" style="background: #FFFFFF">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-11">
              <h1 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; padding-left: 15px; padding-bottom: 5px">
                Formato del Informe
              </h1>
            </div>
            <div class="col-md-11">
              <h5 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; padding-left: 15px">
                Estructure las preguntas cómo mejor lo crea conveniente
              </h5>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="card mb-3">
        <div class="card-header position-relative min-vh-25 mb-7">
          <div class="bg-holder rounded-soft rounded-bottom-0" style="background-image:url(/img/generic/4.jpg);">
          </div>
          <!--/.bg-holder-->
        </div>
        <div class="card-body" style="margin-top: -70px">
          <br>
          <div class="row">
            <div class="col-lg-12">
              <form th:action="@{/superAdmin/guardarInforme}" method="post">
                <div class="row">
                  <label for="nombre">Nombre del informe</label>
                  <input type="text" class="form-control"  th:classappend="${nombremsg!=null?'is-invalid':''}" id="nombre" name="nombre" required>
                  <div class="invalid-feedback" th:if="${nombremsg!=null}" th:text="${nombremsg}"></div>
                </div>
                <div class="row">
                  <label>Diagnostico</label>
                  <input type="text" class="form-control">
                </div>
                <div class="row">
                  <label>Bitácora</label>
                  <input type="text" class="form-control">
                </div>
                <div class="row">
                  <label>Tratamiento</label>
                  <input type="text" class="form-control">
                </div>
                <div class="row">
                  <div id="preguntas-adicionales"></div>
                  <input type="hidden" id="preguntas-adicionales-input" name="listaPreguntas">

                  <br>
                </div>
                <div class="row">
                  <div class="container-fluid mt-3 mb-3">
                    <button type="button" class="btn btn-secondary" style="background-color: #06ff97" onclick="agregarPregunta()">Agregar campo extra al informe</button>
                  </div>
                </div>
                <a th:href="@{/superAdmin/informes}">
                  <button type="submit" class="btn btn-danger mx-2">Cancelar</button>
                </a>
                <button type="submit" class="btn btn-primary">Registrar Informe</button>
              </form>
            </div>

            <script>
              var contadorPreguntas = 0;
              var preguntasAdicionales = [];

              function agregarPregunta() {
                contadorPreguntas++;

                var divPregunta = document.createElement('div');
                divPregunta.classList.add('col', 'mb-3');

                var label = document.createElement('label');
                label.setAttribute('for', 'pregunta-' + contadorPreguntas);
                label.classList.add('form-label');
                label.innerText = 'Redacte el nombre del campo extra ' + contadorPreguntas;

                var input = document.createElement('input');
                input.setAttribute('type', 'text');
                input.setAttribute('id', 'pregunta-' + contadorPreguntas);
                input.classList.add('form-control');
                input.addEventListener('input', function () {
                  preguntasAdicionales[contadorPreguntas - 1] = input.value;
                  document.getElementById('preguntas-adicionales-input').value = preguntasAdicionales.join('>%%%%%<%%%%>%%%%%<');
                });

                var btnBorrar = document.createElement('button');
                btnBorrar.setAttribute('type', 'button');
                btnBorrar.classList.add('btn', 'btn-danger', 'btn-sm','mt-3');
                btnBorrar.innerText = 'Borrar campo extra';
                btnBorrar.addEventListener('click', function () {
                  divPregunta.remove();
                  preguntasAdicionales.splice(contadorPreguntas - 1, 1);
                  document.getElementById('preguntas-adicionales-input').value = preguntasAdicionales.join('>%%%%%<%%%%>%%%%%<');
                  contadorPreguntas--;
                });

                divPregunta.appendChild(label);
                divPregunta.appendChild(input);
                divPregunta.appendChild(btnBorrar);

                var divPreguntasAdicionales = document.getElementById('preguntas-adicionales');
                divPreguntasAdicionales.appendChild(divPregunta);
              }
            </script>

          </div>
        </div>
      </div>

      <!-- ===============================================-->
      <!--    static Content-->
      <!-- ===============================================-->

      <footer th:replace="~{fragmentos/footer.html::footer}"></footer>
    </div>
  </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->




<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<div th:replace="~{fragmentos/scripts.html::scripts}"></div>

<!--    Scripts de DataTable -->
<script th:src="@{/lib/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/lib/datatables-bs4/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables.net-responsive/dataTables.responsive.js}"></script>
<script th:src="@{/lib/datatables.net-responsive-bs4/responsive.bootstrap4.js}"></script>
<script th:src="@{/lib/datatables-buttons/dataTables.buttons.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.flash.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/jszip.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.html5.min.js}"></script>




</body>
</html>