<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/cabecera.html::cabecera(titulo='Dashboard')}">
  <title>Antecedentes Familiares</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>


<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">


  <div class="container" data-layout="container">
    <nav th:replace="~{fragmentos/sidebarSuper.html::sideBar}"></nav>
    <div class="content" >
      <nav th:replace="~{fragmentos/topbarSuper.html::topBar}"></nav>

      <!-- ===============================================-->
      <!--    static Content-->
      <!-- ===============================================-->

      <div class="card mb-3 bg-card-gradient" style="; background: #FFFFFF">
        <div class="card-body" style="background: #FFFFFF">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-11">
              <h1 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; padding-left: 15px; padding-bottom: 5px">
                Formato del cuestionario
              </h1>
            </div>
            <div class="col-md-11">
              <h5 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; padding-left: 15px">
                Responda con sinceridad las preguntas formuladas para usted
              </h5>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="card mb-3">
        <div class="card-header position-relative min-vh-25 mb-7">
          <div class="bg-holder rounded-soft rounded-bottom-0" style="background-image:url(/img/generic/4.jpg);">
          </div>
          <!--/.bg-holder-->
        </div>
        <div class="card-body" style="margin-top: -70px">
          <br>
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
              <h3 th:text="${cuestionarios.nombre}"></h3>
            </div>
              <form>
                <div th:each="pregunta : ${cuestionarios.listapreguntas}">
                  <div class="row">
                    <div class="col mb-3">
                      <label class="form-label" th:text="${pregunta}"></label>
                      <input type="text" class="form-control" th:placeholder="${pregunta}">
                    </div>
                  </div>
                </div>
                <br>
                <a th:href="@{/superAdmin/cuestionarios}">
                  <button type="button" class="btn btn-danger mx-2">Cancelar</button>
                </a>
                <button type="submit" class="btn btn-primary">Enviar cuestionario</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- ===============================================-->
      <!--    static Content-->
      <!-- ===============================================-->

      <footer th:replace="~{fragmentos/footer.html::footer}"></footer>
    </div>
  </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->




<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<div th:replace="~{fragmentos/scripts.html::scripts}"></div>

<!--    Scripts de DataTable -->
<script th:src="@{/lib/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/lib/datatables-bs4/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables.net-responsive/dataTables.responsive.js}"></script>
<script th:src="@{/lib/datatables.net-responsive-bs4/responsive.bootstrap4.js}"></script>
<script th:src="@{/lib/datatables-buttons/dataTables.buttons.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.flash.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/jszip.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.html5.min.js}"></script>

<!-- Initialize DataTable in JavaScript -->
<script>
  $(document).ready(function () {
    //Esta busacando por el ID del tah <table>
    //para que entiendan bien lo que se esta haciendo, leer la documentación de datatable
    $('#userList').DataTable({
      dom: "<'d-flex justify-content-end pb-4'B>\n" +
              "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>\n" +
              "<'table-responsive'tr>\n" +
              "<'row align-items-center'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 d-flex justify-content-end'p>>",
      language: {
        processing: "Procesando...",
        lengthMenu: "Mostrar  _MENU_  usuarios",
        zeroRecords: "No se encontraron usuarios",
        emptyTable: "No hay usuarios",
        info: "Mostrando usuarios del _START_ al _END_ <br>Total _TOTAL_ usuarios",
        infoEmpty: "Mostrando usuarios del 0 al 0 <br>Total 0 usuarios",
        infoFiltered: "(filtrado de un total de _MAX_ usuarios)",
        loadingRecords: "Cargando...",
        search: "Buscar:",
        paginate: {
          previous: '<i class="fa fa-lg fa-angle-left mr-2"></i>Anterior',
          next: 'Siguiente<i class="fa fa-lg fa-angle-right ml-2"></i>'
        }
      },
      autoWidth: false,
      lengthMenu: [
        [10, 25, 50, -1], [10, 25, 50, "Todos"]
      ],
      buttons: [
        {extend: 'csv', className: 'btn btn-falcon-default', text: '<span class="fa fa-file-csv mr-1"></span>CSV'},
        {extend: 'excel', className: 'btn btn-falcon-success', text: '<span class="fa fa-file-excel mr-1"></span>Excel'}
      ]
    });
  });
</script>


</body>
</html>