<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/cabecera.html::cabecera(titulo='Calendario')}">
</head>


<body class="">

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">


  <div class="container" data-layout="container">
    <nav th:replace="~{fragmentos/sidebaradministrador.html::sideBar}"></nav>
    <div class="content" >
      <nav th:replace="~{fragmentos/topbaradministrador.html::topBar}"></nav>

      <div class="card mb-3 bg-card-gradient" style="; background: #FFFFFF">
        <div class="card-body" style="background: #FFFFFF">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-11">
              <h1 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; padding-left: 15px; padding-bottom: 5px">
                Calendario
              </h1>
            </div>
            <div class="col-md-11">
              <h5 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; padding-left: 15px">
                Revisa el calendario de citas agendadas para tu sede.
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="card" style="padding: 3%">
        <div id="calendar"></div>
      </div>

      <footer th:replace="~{fragmentos/footer.html::footer}"></footer>
    </div>
  </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

<div class="modal fade" id="modalCitasCalendario" role="dialog" tabindex="-1" aria-labelledby="exampleModal1Label" aria-hidden="true" data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-5" id="exampleModalLabel">Información Cita</h3>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span class="font-weight-light" aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <!-- columna 1 -->
            <div class="col-sm-6">
              <div class="form-group">
                <label for="tipocita">Tipo de cita: </label>
                <input type="text" name="tipocita" id="tipocita" class="form-control" readonly="" placeholder="">
              </div>
              <div class="form-group">
                <label for="doctor">Doctor:</label>
                <input type="text" name="doctor" id="doctor" class="form-control" readonly="" placeholder="">
              </div>
              <div class="form-group">
                <label for="fecha">Fecha:</label>
                <input type="text" name="fecha" id="fecha" class="form-control" readonly="" placeholder="">
              </div>
              <div class="form-group">
                <label for="especialidad">Especialidad:</label>
                <input type="text" name="especialidad" id="especialidad" class="form-control" readonly="" placeholder="">
              </div>
              <div class="form-group">
                <label for="estado">Estado de cita:</label>
                <input type="text" name="estado" id="estado" class="form-control" readonly="" placeholder="">
              </div>
            </div>
            <!-- columna 2 -->
            <div class="col-sm-6">
              <div class="form-group">
                <label for="modalidad">Modalidad:</label>
                <input type="text" name="modalidad" id="modalidad" class="form-control" readonly="" placeholder="">
              </div>
              <div class="form-group">
                <label for="paciente">Paciente:</label>
                <input type="text" name="paciente" id="paciente" class="form-control" readonly="" placeholder="">
              </div>
              <div class="form-group">
                <label for="hora">Hora:</label>
                <input type="text" name="hora" id="hora" class="form-control" readonly="" placeholder="">
              </div>
              <div class="form-group">
                <label for="forma">Forma de pago:</label>
                <input type="text" name="forma" id="forma" class="form-control" readonly="" placeholder="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<div th:replace="~{fragmentos/scripts.html::scripts}"></div>
<script th:src="@{/lib/fullcalendar/main.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6.3.4/dist/tippy-bundle.umd.js"></script>
<!--    Scripts de DataTable -->
<script th:src="@{/lib/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/lib/datatables-bs4/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables.net-responsive/dataTables.responsive.js}"></script>
<script th:src="@{/lib/datatables.net-responsive-bs4/responsive.bootstrap4.js}"></script>
<script th:src="@{/lib/datatables-buttons/dataTables.buttons.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.flash.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/jszip.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.html5.min.js}"></script>

<script th:inline="javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      start: 'title', // will normally be on the left. if RTL, will be on the right
      center: '',
      end: 'today prev,next', // will normally be on the right. if RTL, will be on the left
      defaultView: 'month',
      weekday: 'long',
      selectable: true,
      height: 650,
      events: [],
      eventTextColor: '#ffffff',
      eventBackgroundColor: '#3d8af7',
      eventDisplay: 'block',
      eventTimeFormat:{
        hour: 'numeric',
        minute: '2-digit',
        meridiem: 'short'
      },
      firstDay: 1,
      locale: 'es',
      allDay: false,
      displayEventTime: true,
      eventClick: function (info){
        let modalA = $('#modalCitasCalendario');
        modalA.modal('show');
        modalA.on('shown.bs.modal', function() {
          let time = moment(info.event.extendedProps.hora, 'HH:mm');
          let formattedTime = time.format('h:mm A');
          let date = moment(info.event.start, 'YYYY-MM-DD');
          let formattedDate = date.format('DD-MM-YYYY');
          let tipoCita = $("#tipocita");
          let modalidad = $("#modalidad");
          let especialidad = $("#especialidad");
          let paciente = $("#paciente");
          let fecha = $("#fecha");
          let horaGa = $("#hora");
          let estadoCita = $("#estado");
          let doctor = $("#doctor");
          let formaPago = $("#forma");
          tipoCita.attr('placeholder', info.event.title);
          modalidad.attr('placeholder', info.event.extendedProps.modalidad);
          especialidad.attr('placeholder', info.event.extendedProps.especialidad);
          paciente.attr('placeholder', info.event.extendedProps.paciente);
          horaGa.attr('placeholder', formattedTime);
          fecha.attr('placeholder', formattedDate);
          estadoCita.attr('placeholder', info.event.extendedProps.estado);
          doctor.attr('placeholder', info.event.extendedProps.doctor);
          formaPago.attr('placeholder', info.event.extendedProps.formaPago);
        })
      }
    });
    // AJAX request to fetch events
    $.ajax({
      url: 'http://34.132.54.61:8081/api/citasSede', // Replace with your API endpoint URL
      type: 'GET',
      data: {
        idSede: [[${session.usuario.sedesIdsedes.id}]] // Specify the GET parameter
      },
      headers: {
        'Content-Type': 'application/json' // Set the Content-Type header
      },
      success: function(response) {
        // Parse and format the received data
        var events = [];
        response.forEach(function(eventData) {
          var dateString = eventData.start;
          var date = moment(dateString, 'DD/MM/YYYY');
          var fechaFormateada = date.format('YYYY-MM-DD');
          var event = {
            title: eventData.title,
            start: fechaFormateada,
            modalidad: eventData.modalidad,
            hora: eventData.hora,
            paciente: eventData.paciente,
            doctor: eventData.doctor,
            formaPago: eventData.formaPago,
            especialidad: eventData.especialidad,
            estado: eventData.estado
            // Add more properties as needed
          };
          events.push(event);
        });

        // Add the events to FullCalendar
        calendar.addEventSource(events);
      },
      error: function(xhr, status, error) {
        console.log('Error:', error);
      }
    });
    calendar.render();
  });
</script>
</body>
</html>