<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/cabecera.html::cabecera(titulo='Crear Doctor')}">

</head>


<body class="">

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">


    <div class="container" data-layout="container">
        <nav th:replace="~{fragmentos/sidebaradministrador.html::sideBar}"></nav>
        <div class="content" >
            <nav th:replace="~{fragmentos/topbaradministrador.html::topBar}"></nav>
            <div class="card mb-3 bg-card-gradient" style="; background: #FFFFFF">
                <div class="card-body" style="background: #FFFFFF">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md-11">
                            <h1 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; padding-left: 15px; padding-bottom: 5px">
                                Crear Doctor
                            </h1>
                        </div>

                    </div>
                </div>
            </div>
            <br>
            <div class="card mb-3 bg-card-gradient" style="; background: #FFFFFF">
                <div class="card-body" style="background: #FFFFFF">

                    <div class="row">
                        <div class="col-lg">

                            <form method="post" th:action="@{/administrador/crearDoctor}" th:object="${doctor}">
                                <fieldset >
                                    <div class="row">
                                        <div class="col mb-3 form-group">
                                            <label  class="form-label">DNI</label>
                                            <input type="text" maxlength="8" th:field="*{id}" class="form-control"  th:classappend="${dnimsg !=null ?'is-invalid':''}">
                                            <div class="invalid-feedback" th:if="${dnimsg!=null}" th:text="${dnimsg}"></div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col mb-3 form-group">
                                            <label class="form-label">Nombre</label>
                                            <input type="text" th:field="*{nombre}" class="form-control" th:classappend="${nombremsg !=null?'is-invalid':''}" >
                                            <div class="invalid-feedback" th:if="${nombremsg !=null}" th:text="${nombremsg}"></div>
                                        </div>

                                    </div>



                                    <div class="row">
                                        <div class="col mb-3 form-group">
                                            <label  class="form-label">Apellido</label>
                                            <input type="text" th:field="*{apellido}" class="form-control" th:classappend="${apellidomsg !=null?'is-invalid':''}">
                                            <div class="invalid-feedback" th:if="${apellidomsg !=null}" th:text="${apellidomsg}"></div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col mb-3 form-group">
                                            <label  class="form-label">Direccion</label>
                                            <input type="text" th:field="*{direccion}" class="form-control"  th:classappend="${direccionmsg !=null?'is-invalid':''}">
                                            <div class="invalid-feedback" th:if="${direccionmsg != null}" th:text="${direccionmsg}"></div>
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col mb-3 form-group">
                                            <label >Sexo  </label>
                                            <select class="form-control" th:classappend="${sexomsg !=null?'is-invalid':''}" th:field="*{sexo}">
                                                <option value="M"> Masculino </option>
                                                <option value="F"> Femenino </option>
                                            </select>
                                            <div class="invalid-feedback" th:if="${sexomsg !=null}" th:text="${sexomsg}"></div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label>Fecha de nacimiento</label>
                                        <input th:field="*{fechaNacimiento}" class="form-control"  th:classappend="${nacimientomsg !=null?'is-invalid':''}" type="date">
                                        <div class="invalid-feedback" th:if="${nacimientomsg !=null}" th:text="${nacimientomsg }"></div>
                                    </div>


                                    <div class="row">
                                        <div class="col mb-3 form-group">
                                            <label  class="form-label">Email</label>
                                            <input type="email" th:field="*{email}" class="form-control" th:classappend="${emailmsg !=null?'is-invalid':''}">
                                            <div class="invalid-feedback" th:if="${emailmsg !=null}" th:text="${emailmsg}"></div>
                                        </div>

                                    </div>


                                    <div class="row">
                                        <div class="col mb-3 form-group">
                                            <label for="especialidad">Especialidad</label>
                                            <select class="form-control form-select" th:classappend="${especialidadmsg !=null?'is-invalid':''}" name="especialidad" id="especialidad">
                                                <option th:each="especialidad : ${listaEspecialidades}" th:value="${especialidad.id}" th:text="${especialidad.nombreEspecialidad}"
                                                        ></option>
                                            </select>
                                            <div class="invalid-feedback" th:if="${especialidadmsg !=null}" th:text="${especialidadmsg}"></div>
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col mb-3 form-group">
                                            <label  class="form-label">Telefono</label>
                                            <input type="text" th:field="*{telefono}" maxlength="9" class="form-control" th:classappend="${telefonomsg !=null?'is-invalid':''}">
                                            <div class="invalid-feedback" th:if="${telefonomsg !=null}" th:text="${telefonomsg}"></div>
                                            <!-- <div class="invalid-feedback" th:if="${telefonomsg!=null}" th:text="${telefonomsg}"></div>-->
                                        </div>

                                    </div>


                                </fieldset>

                                <button type="submit" class="btn btn-primary" > Crear doctor </button>
                                <a th:href="@{/administrador/usuarios}" class="btn btn-falcon-default" >Volver a página de usuarios</a>
                            </form>
                        </div>

                    </div>



                </div>
            </div>


            <footer th:replace="~{fragmentos/footer.html::footer}"></footer>
        </div>
    </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<div th:replace="~{fragmentos/scripts.html::scripts}"></div>

<!--    Scripts de DataTable -->
<script th:src="@{/lib/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/lib/datatables-bs4/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables.net-responsive/dataTables.responsive.js}"></script>
<script th:src="@{/lib/datatables.net-responsive-bs4/responsive.bootstrap4.js}"></script>
<script th:src="@{/lib/datatables-buttons/dataTables.buttons.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.flash.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/jszip.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.html5.min.js}"></script>

<!-- Initialize DataTable in JavaScript -->
<script>

    $(document).ready(function () {
        var fechaActual = new Date();
        var fechaMayorEdad = new Date(fechaActual.getFullYear() - 28, fechaActual.getMonth(), fechaActual.getDate());

        var maxYear = fechaMayorEdad.getFullYear();
        var maxMonth = fechaMayorEdad.getMonth() + 1;
        var maxDay = fechaMayorEdad.getDate();
        if (maxMonth < 10) {
            maxMonth = "0" + maxMonth;
        }
        if (maxDay < 10) {
            maxDay = "0" + maxDay;
        }
        var fechaMaxima = maxYear + "-" + maxMonth + "-" + maxDay;
        $("#fechanacimiento").attr("max", fechaMaxima);



        $("#telefono").on('input', function (evt) {
            // Allow only numbers.
            $(this).val(jQuery(this).val().replace(/[^0-9]/g, ''));
            var valor = $(this).val();
            if (valor.length > $(this).attr('maxlength')) {
                $(this).val(valor.slice(0, $(this).attr('maxlength')));
            }
        });

        $("#dni").on('input', function (evt) {
            // Allow only numbers.
            $(this).val(jQuery(this).val().replace(/[^0-9]/g, ''));
            var valor = $(this).val();
            if (valor.length > $(this).attr('maxlength')) {
                $(this).val(valor.slice(0, $(this).attr('maxlength')));
            }
        });

    });


    $(document).ready(function () {
        //Esta busacando por el ID del tah <table>
        //para que entiendan bien lo que se esta haciendo, leer la documentación de datatable
        $('#userList').DataTable({
            dom: "<'d-flex justify-content-end pb-4'B>\n" +
                "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>\n" +
                "<'table-responsive'tr>\n" +
                "<'row align-items-center'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 d-flex justify-content-end'p>>",
            language: {
                processing: "Procesando...",
                lengthMenu: "Mostrar  _MENU_  usuarios",
                zeroRecords: "No se encontraron usuarios",
                emptyTable: "No hay usuarios",
                info: "Mostrando usuarios del _START_ al _END_ <br>Total _TOTAL_ usuarios",
                infoEmpty: "Mostrando usuarios del 0 al 0 <br>Total 0 usuarios",
                infoFiltered: "(filtrado de un total de _MAX_ usuarios)",
                loadingRecords: "Cargando...",
                search: "Buscar:",
                paginate: {
                    previous: '<i class="fa fa-lg fa-angle-left mr-2"></i>Anterior',
                    next: 'Siguiente<i class="fa fa-lg fa-angle-right ml-2"></i>'
                }
            },
            autoWidth: false,
            lengthMenu: [
                [10, 25, 50, -1], [10, 25, 50, "Todos"]
            ],
            buttons: [

            ]
        });
    });
</script>


</body>
</html>