<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/cabecera.html::cabecera(titulo='Dashboard')}">

</head>


<body class="">

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">


  <div class="container" data-layout="container">
    <nav th:replace="~{fragmentos/sidebaradministrador.html::sideBar}"></nav>
    <div class="content" >
      <nav th:replace="~{fragmentos/topbaradministrador.html::topBar}"></nav>

      <div class="card mb-3 bg-card-gradient" style="; background: #FFFFFF">
        <div class="card-body" style="background: #FFFFFF">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-11">
              <h1 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; padding-left: 15px; padding-bottom: 5px">
                Editar Paciente
              </h1>
            </div>

          </div>
        </div>
      </div>
      <br>
      <div class="card mb-3 bg-card-gradient" style="; background: #FFFFFF">
        <div class="card-body" style="background: #FFFFFF">

          <div class="row">
            <div class="col-lg">
              <div th:if="${msgDanger != null}" th:text="${msgDanger}" class="alert alert-danger" role="alert"></div>
              <form method="post" th:action="@{/administrador/editarPaciente}" th:object="${paciente}">
                <fieldset >
                  <!--<input type="hidden" id="sedesIdsedes" name="sedesIdsedes"  value="1" class="form-control" >
                  <input type="hidden" th:field="*{direccion}" class="form-control" >
                  <input type="hidden"  th:field="*{sexo}" class="form-control" >
                  <input type="hidden"  th:field="*{edad}" class="form-control" >-->
                  <div class="row">
                    <div class="col mb-3 form-group">
                      <label  class="form-label">DNI</label>
                      <input type="hidden" th:field="*{id}" class="form-control"  >
                      <div style="background-color: #edf2f9;opacity: 1;" th:text="${paciente.id}" class="form-control" ></div>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col mb-3 form-group">
                      <label class="form-label">Nombre</label>
                      <input type="text" th:field="*{nombre}" class="form-control" th:classappend="${nombremsg !=null?'is-invalid':''}" >
                      <div class="invalid-feedback" th:if="${nombremsg !=null}" th:text="${nombremsg}"></div>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col mb-3 form-group">
                      <label  class="form-label">Apellido</label>
                      <input type="text" th:field="*{apellido}" class="form-control" th:classappend="${apellidomsg !=null?'is-invalid':''}">
                      <div class="invalid-feedback" th:if="${apellidomsg !=null}" th:text="${apellidomsg}"></div>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col mb-3 form-group">
                      <label  class="form-label">Email</label>
                      <input type="email" th:field="*{email}" class="form-control" th:classappend="${emailmsg !=null?'is-invalid':''}">
                      <div class="invalid-feedback" th:if="${emailmsg !=null}" th:text="${emailmsg}"></div>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col mb-3 form-group">
                      <label  class="form-label">Telefono</label>
                      <input type="number" th:field="*{telefono}" class="form-control" th:classappend="${telefonomsg !=null?'is-invalid':''}">
                      <div class="invalid-feedback" th:if="${telefonomsg !=null}" th:text="${telefonomsg}"></div>
                    </div>

                  </div>



                  <!--
                  <div class="row">
                    <div class="col mb-3 form-group">
                      <label  class="form-label">Estado</label>
                      <input type="hidden" th:field="*{estadosIdestado}" class="form-control"  >
                      <div style="background-color: #edf2f9;opacity: 1;" th:text="${#strings.capitalize(paciente.estadosIdestado.nombre)}" class="form-control" ></div>
                    </div>
                  </div> -->

                </fieldset>

                <button type="submit" class="btn btn-primary" > Editar paciente </button>
                <a th:href="@{/administrador/usuarios}" class="btn btn-falcon-default" >Volver a página de usuarios</a>
              </form>
            </div>

          </div>



        </div>
      </div>


      <footer th:replace="~{fragmentos/footer.html::footer}"></footer>
    </div>
  </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->




<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<div th:replace="~{fragmentos/scripts.html::scripts}"></div>

<!--    Scripts de DataTable -->
<script th:src="@{/lib/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/lib/datatables-bs4/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables.net-responsive/dataTables.responsive.js}"></script>
<script th:src="@{/lib/datatables.net-responsive-bs4/responsive.bootstrap4.js}"></script>
<script th:src="@{/lib/datatables-buttons/dataTables.buttons.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.flash.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/jszip.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.html5.min.js}"></script>

<!-- Initialize DataTable in JavaScript -->
<script>
  $(document).ready(function () {
    //Esta busacando por el ID del tah <table>
    //para que entiendan bien lo que se esta haciendo, leer la documentación de datatable
    $('#userList').DataTable({
      dom: "<'d-flex justify-content-end pb-4'B>\n" +
              "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>\n" +
              "<'table-responsive'tr>\n" +
              "<'row align-items-center'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 d-flex justify-content-end'p>>",
      language: {
        processing: "Procesando...",
        lengthMenu: "Mostrar  _MENU_  usuarios",
        zeroRecords: "No se encontraron usuarios",
        emptyTable: "No hay usuarios",
        info: "Mostrando usuarios del _START_ al _END_ <br>Total _TOTAL_ usuarios",
        infoEmpty: "Mostrando usuarios del 0 al 0 <br>Total 0 usuarios",
        infoFiltered: "(filtrado de un total de _MAX_ usuarios)",
        loadingRecords: "Cargando...",
        search: "Buscar:",
        paginate: {
          previous: '<i class="fa fa-lg fa-angle-left mr-2"></i>Anterior',
          next: 'Siguiente<i class="fa fa-lg fa-angle-right ml-2"></i>'
        }
      },
      autoWidth: false,
      lengthMenu: [
        [10, 25, 50, -1], [10, 25, 50, "Todos"]
      ],
      buttons: [

      ]
    });
  });
</script>


</body>
</html>