<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/cabecera.html::cabecera(titulo='Mensajeria')}">
</head>

<style>
  @media only screen and (max-width: 480px) {
    #cometchat__widget {
      width: 200px;
      height: 300px;
      /* Estilos adicionales para pantallas pequeñas */
    }
  }

  @media only screen and (min-width: 481px) and (max-width: 768px) {
    #cometchat__widget {
      width: 600px;
      height: 400px;
      /* Estilos adicionales para pantallas medianas */
    }
  }

  @media only screen and (min-width: 769px) {
    #cometchat__widget {
      width: 800px;
      height: 600px;
      /* Estilos adicionales para pantallas grandes */
    }
  }

</style>
<body class="">

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">


  <div class="container" data-layout="container">
    <nav th:replace="~{fragmentos/sidebaradministrador.html::sideBar}"></nav>
    <div class="content" >
      <nav th:replace="~{fragmentos/topbaradministrador.html::topBar}"></nav>

      <div class="card mb-3 bg-card-gradient" style="; background: #FFFFFF">
        <div class="card-body" style="background: #FFFFFF">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-11">
              <h1 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; padding-left: 15px; padding-bottom: 5px">
                Mensajería
              </h1>
            </div>
            <div class="col-md-11">
              <h5 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; padding-left: 15px">
                Revisa la información correspondiente a mensajes, citas y más.</h5>
            </div>
          </div>
        </div>
      </div>

      <!-- <div th:replace="~{fragmentos/messages.html::messages}"></div> -->
      <div class="card d-flex justify-content-center align-items-center" style="padding: 3%">
        <div id="cometchat" class="d-flex justify-content-center align-items-center"></div>
      </div>


      <footer th:replace="~{fragmentos/footer.html::footer}"></footer>
    </div>
  </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->




<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<div th:replace="~{fragmentos/scripts.html::scripts}"></div>


<!--    Scripts de CometChat -->
<script th:src="@{/js/CometChat.js}"></script>


<script>


  jQuery(document).ready(function($){

    (function () {
      // cometchat initialization
      var appID = "242035960420f9a5";   //mi appID
      var region = "us"; //region de mi appID
      var appSetting = new CometChat.AppSettingsBuilder()
              .subscribePresenceForAllUsers()
              .setRegion(region)
              .build();
      CometChat.init(appID, appSetting).then(
              () => {
                console.log("Initialization completed successfully");
                // You can now call login function.
              },
              (error) => {
                console.log("Initialization failed with error:", error);
                // Check the reason for error and take appropriate action.
              }
      );
    })();

    // cometchat widget initialization

      CometChatWidget.init({
        appID: "242035960420f9a5",  //mi appID
        appRegion: "us",  //region de mi appID
        authKey: "d923b0cc075aa911acef6415f775d893b5c75aa6",  //authkey de mi appID
      }).then(
              (response) => {
                console.log("Initialization (CometChatWidget) completed successfully");
              },
              (error) => {
                console.log("Initialization (CometChatWidget) failed with error:", error);
                //Check the reason for error and take appropriate action.
              }
      );




    var logout = function () {
      // log user out of CometChat
      CometChat.logout().then(
              () => {
                //Logout completed successfully
                console.log("Logout completed successfully");
              },
              (error) => {
                //Logout failed with exception
                console.log("Logout failed with exception:", { error });
              }
      );
    };


    var init = function () {
      CometChatWidget.login({
        uid: [[${session.usuario.id}]],
      }).then(
              (response) => {

                  CometChatWidget.launch({
                    widgetID: "6e163aef-cb84-40ba-a6fd-06b296018397",   //mi widgetID
                    target: "#cometchat",
                    roundedCorners: "true",
                    height: "600px",
                    width: "700px",
                    defaultID: "superhero1", //default UID (user) or GUID (group) to show,
                    defaultType: "user", //user or group
                  });


              },
              (error) => {
                console.log("User login failed with error:", error);
              }
      );

    };

    init();


  });



</script>



<!--    Scripts de DataTable -->
<script th:src="@{/lib/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/lib/datatables-bs4/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables.net-responsive/dataTables.responsive.js}"></script>
<script th:src="@{/lib/datatables.net-responsive-bs4/responsive.bootstrap4.js}"></script>
<script th:src="@{/lib/datatables-buttons/dataTables.buttons.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.flash.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/jszip.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.html5.min.js}"></script>

<!-- Initialize DataTable in JavaScript -->
<script>
  $(document).ready(function () {
    //Esta busacando por el ID del tah <table>
    //para que entiendan bien lo que se esta haciendo, leer la documentación de datatable
    $('#userList').DataTable({
      dom: "<'d-flex justify-content-end pb-4'B>\n" +
              "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>\n" +
              "<'table-responsive'tr>\n" +
              "<'row align-items-center'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 d-flex justify-content-end'p>>",
      language: {
        processing: "Procesando...",
        lengthMenu: "Mostrar  _MENU_  usuarios",
        zeroRecords: "No se encontraron usuarios",
        emptyTable: "No hay usuarios",
        info: "Mostrando usuarios del _START_ al _END_ <br>Total _TOTAL_ usuarios",
        infoEmpty: "Mostrando usuarios del 0 al 0 <br>Total 0 usuarios",
        infoFiltered: "(filtrado de un total de _MAX_ usuarios)",
        loadingRecords: "Cargando...",
        search: "Buscar:",
        paginate: {
          previous: '<i class="fa fa-lg fa-angle-left mr-2"></i>Anterior',
          next: 'Siguiente<i class="fa fa-lg fa-angle-right ml-2"></i>'
        }
      },
      autoWidth: false,
      lengthMenu: [
        [10, 25, 50, -1], [10, 25, 50, "Todos"]
      ],
      buttons: [
        {extend: 'csv', className: 'btn btn-falcon-default', text: '<span class="fa fa-file-csv mr-1"></span>CSV'},
        {extend: 'excel', className: 'btn btn-falcon-success', text: '<span class="fa fa-file-excel mr-1"></span>Excel'}
      ]
    });
  });
</script>


</body>
</html>