<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/cabecera.html::cabecera(titulo='Dashboard')}">
</head>


<body class="">

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">


    <div class="container" data-layout="container">
        <nav th:replace="~{fragmentos/sidebaradministrador.html::sideBar}"></nav>
        <div class="content" >
            <nav th:replace="~{fragmentos/topbaradministrador.html::topBar}"></nav>
            <div class="content">


                <div class="card-deck">
                    <div class="card mb-3 overflow-hidden" style="min-width: 12rem; min-height: 12rem;">
                        <div class="bg-holder bg-card" style="background-image:url(/img/illustrations/corner-2.png);">
                        </div>
                        <div class="card-body" style="display: flex; align-items: center; justify-content: space-around">
                            <div style="text-align: center">
                                <span class="far fa-credit-card" style="font-size: 3em; color: #0032aa"></span>
                                <hr style="height: 1px; background-color: #333; border: none">
                                <h4 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold">
                                    Sección de Pagos
                                </h4>
                                <h5 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; margin-top: 1rem; margin-bottom: 1rem">Podrás visualizar tus boletas emitidas y pagos de las citas</h5>
                                <a style="margin-top: 1rem; margin-bottom: 1rem" class="btn btn-info" href="#">Ingresar</a>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 overflow-hidden" style="min-width: 12rem; min-height: 12rem;">
                        <div class="bg-holder bg-card" style="background-image:url(/img/illustrations/corner-2.png);">
                        </div>
                        <div class="card-body" style="display: flex; align-items: center; justify-content: space-around">
                            <div style="text-align: center">
                                <span class="far fa-address-book" style="font-size: 3em; color: #0032aa"></span>
                                <hr style="height: 1px; background-color: #333; border: none">
                                <h4 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold">
                                    Próximas Sesiones
                                </h4>
                                <h5 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; margin-top: 1rem; margin-bottom: 1rem">Revisa tus futuras consultas médicas</h5>
                                <a style="margin-top: 1rem; margin-bottom: 1rem" class="btn btn-info" href="#">Ingresar</a>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 overflow-hidden" style="min-width: 12rem; min-height: 12rem;">
                        <div class="bg-holder bg-card" style="background-image:url(/img/illustrations/corner-2.png);">
                        </div>
                        <div class="card-body" style="display: flex; align-items: center; justify-content: space-around">
                            <div style="text-align: center">
                                <span class="far fa-file-alt" style="font-size: 3em; color: #0032aa"></span>
                                <hr style="height: 1px; background-color: #333; border: none">
                                <h4 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold">
                                    Cuestionarios
                                </h4>
                                <h5 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; margin-top: 1rem; margin-bottom: 1rem">En caso tu doctor solicite un cuestionario, aparecerá en esta sección</h5>
                                <a style="margin-top: 1rem; margin-bottom: 1rem" class="btn btn-info" href="#">Ingresar</a>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="row no-gutters">
                    <div class="col-lg-5 pr-lg-2">
                        <div class="card h-100 bg-gradient">
                            <div class="card-header bg-transparent">
                                <h4 class="mb-2 mb-md-0 text-white" style="font-weight: bold">
                                    Sedes
                                </h4>
                            </div>
                            <div class="card-body text-white fs--1" style="display: flex; align-items: center; justify-content: space-around">
                                <div class="form-group" style="text-align: center">
                                    <label for="" style="font-size: medium">Sede Actual</label>
                                    <input class="form-control col text-black" id="" type="text" placeholder="Lima Centro" readonly="" style="text-align: center">
                                    <hr style="height: 1px; background-color: #FFFFFF; border: none">
                                    <div class="dropdown">
                                        <button class="btn btn-info dropdown-toggle" id="dropdownMenu2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cambiar Sede</button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            <button class="dropdown-item" type="button">Action</button>
                                            <button class="dropdown-item" type="button">Another action</button>
                                            <button class="dropdown-item" type="button">Something else here</button>
                                        </div>
                                    </div>
                                    <br>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1950.7672059942151!2d-77.0690430410581!3d-12.075522405736658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c91046bc86a9%3A0xc44e2f0808f16654!2sAv.%20Jos%C3%A9%20Legu%C3%ADa%20y%20Mel%C3%A9ndez%2C%20Pueblo%20Libre%2015084!5e0!3m2!1ses!2spe!4v1681093467425!5m2!1ses!2spe" height="pixels" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7 pl-lg-2">
                        <div class="card h-100 mb-3">
                            <div class="card-header bg-light py-2">
                                <div class="row flex-between-center">
                                    <div class="col-md-6 col-lg-6">
                                        <h4 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold">
                                            Doctores
                                        </h4>
                                        <h5 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; margin-top: 1rem; margin-bottom: 1rem">Visualiza la información de los doctores</h5>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="input-group">
                                            <input class="form-control border-end-0 border rounded-pill" type="search" placeholder="Buscar" id="example-search-input">
                                            <span class="input-group-append">
                          <button class="btn btn-outline-secondary bg-white border-bottom-0 border rounded-pill ms-n5" type="button">
                            <i class="fas fa-search"></i>
                          </button>
                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body" style="max-height:30rem; overflow-y: auto; text-align: center">
                                <div class="row">
                                    <div class="col-sm-6 mb-3">
                                        <div class="card" style="min-height: 20rem">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col" style="display: flex; align-items: center">
                                                        <div class="avatar avatar-2x1">
                                                            <img class="rounded-circle" src="/img/team/avatar.png" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="col" style="">
                                                        <h4 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; margin-top: 20px;">
                                                            Don Lucho
                                                        </h4>
                                                        <h5 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; margin-top: 1rem; margin-bottom: 1rem">Medicina General</h5>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <h6 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; margin-top: 20px;">
                                                            Próximos horarios de disponibilidad:
                                                        </h6>
                                                        <div class="form-group" style="text-align: center">
                                                            <input class="form-control col text-black" id="" type="text" placeholder="Sábado 30/Marzo - 10:00hrs" readonly="" style="text-align: center; margin-top: 5px;margin-bottom: 5px;">
                                                            <input class="form-control col text-black" id="" type="text" placeholder="Lunes 01/Abril - 08:00hrs" readonly="" style="text-align: center">
                                                        </div>
                                                        <a href="#" class="btn btn-info">Ver más</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <div class="card" style="min-height: 20rem">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col" style="display: flex; align-items: center">
                                                        <div class="avatar avatar-2x1">
                                                            <img class="rounded-circle" src="/img/team/avatar.png" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="col" style="">
                                                        <h4 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; margin-top: 20px;">
                                                            Don Lucho
                                                        </h4>
                                                        <h5 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; margin-top: 1rem; margin-bottom: 1rem">Medicina General</h5>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <h6 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; margin-top: 20px;">
                                                            Próximos horarios de disponibilidad:
                                                        </h6>
                                                        <div class="form-group" style="text-align: center">
                                                            <input class="form-control col text-black" id="" type="text" placeholder="Sábado 30/Marzo - 10:00hrs" readonly="" style="text-align: center; margin-top: 5px;margin-bottom: 5px;">
                                                            <input class="form-control col text-black" id="" type="text" placeholder="Lunes 01/Abril - 08:00hrs" readonly="" style="text-align: center">
                                                        </div>
                                                        <a href="#" class="btn btn-info">Ver más</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-6 mb-3">
                                        <div class="card" style="min-height: 20rem">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col" style="display: flex; align-items: center">
                                                        <div class="avatar avatar-2x1">
                                                            <img class="rounded-circle" src="/img/team/avatar.png" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="col" style="">
                                                        <h4 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; margin-top: 20px;">
                                                            Don Lucho
                                                        </h4>
                                                        <h5 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; margin-top: 1rem; margin-bottom: 1rem">Medicina General</h5>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <h6 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; margin-top: 20px;">
                                                            Próximos horarios de disponibilidad:
                                                        </h6>
                                                        <div class="form-group" style="text-align: center">
                                                            <input class="form-control col text-black" id="" type="text" placeholder="Sábado 30/Marzo - 10:00hrs" readonly="" style="text-align: center; margin-top: 5px;margin-bottom: 5px;">
                                                            <input class="form-control col text-black" id="" type="text" placeholder="Lunes 01/Abril - 08:00hrs" readonly="" style="text-align: center">
                                                        </div>
                                                        <a href="#" class="btn btn-info">Ver más</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <div class="card" style="min-height: 20rem">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col" style="display: flex; align-items: center">
                                                        <div class="avatar avatar-2x1">
                                                            <img class="rounded-circle" src="/img/team/avatar.png" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="col" style="">
                                                        <h4 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; margin-top: 20px;">
                                                            Don Lucho
                                                        </h4>
                                                        <h5 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; margin-top: 1rem; margin-bottom: 1rem">Medicina General</h5>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <h6 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; margin-top: 20px;">
                                                            Próximos horarios de disponibilidad:
                                                        </h6>
                                                        <div class="form-group" style="text-align: center">
                                                            <input class="form-control col text-black" id="" type="text" placeholder="Sábado 30/Marzo - 10:00hrs" readonly="" style="text-align: center; margin-top: 5px;margin-bottom: 5px;">
                                                            <input class="form-control col text-black" id="" type="text" placeholder="Lunes 01/Abril - 08:00hrs" readonly="" style="text-align: center">
                                                        </div>
                                                        <a href="#" class="btn btn-info">Ver más</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-6 mb-3">
                                        <div class="card" style="min-height: 20rem">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col" style="display: flex; align-items: center">
                                                        <div class="avatar avatar-2x1">
                                                            <img class="rounded-circle" src="/img/team/avatar.png" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="col" style="">
                                                        <h4 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; margin-top: 20px;">
                                                            Don Lucho
                                                        </h4>
                                                        <h5 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; margin-top: 1rem; margin-bottom: 1rem">Medicina General</h5>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <h6 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; margin-top: 20px;">
                                                            Próximos horarios de disponibilidad:
                                                        </h6>
                                                        <div class="form-group" style="text-align: center">
                                                            <input class="form-control col text-black" id="" type="text" placeholder="Sábado 30/Marzo - 10:00hrs" readonly="" style="text-align: center; margin-top: 5px;margin-bottom: 5px;">
                                                            <input class="form-control col text-black" id="" type="text" placeholder="Lunes 01/Abril - 08:00hrs" readonly="" style="text-align: center">
                                                        </div>
                                                        <a href="#" class="btn btn-info">Ver más</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <div class="card" style="min-height: 20rem">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col" style="display: flex; align-items: center">
                                                        <div class="avatar avatar-2x1">
                                                            <img class="rounded-circle" src="/img/team/avatar.png" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="col" style="">
                                                        <h4 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; margin-top: 20px;">
                                                            Don Lucho
                                                        </h4>
                                                        <h5 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; margin-top: 1rem; margin-bottom: 1rem">Medicina General</h5>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <h6 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; margin-top: 20px;">
                                                            Próximos horarios de disponibilidad:
                                                        </h6>
                                                        <div class="form-group" style="text-align: center">
                                                            <input class="form-control col text-black" id="" type="text" placeholder="Sábado 30/Marzo - 10:00hrs" readonly="" style="text-align: center; margin-top: 5px;margin-bottom: 5px;">
                                                            <input class="form-control col text-black" id="" type="text" placeholder="Lunes 01/Abril - 08:00hrs" readonly="" style="text-align: center">
                                                        </div>
                                                        <a href="#" class="btn btn-info">Ver más</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <footer th:replace="~{fragmentos/footer.html::footer}"></footer>
        </div>
    </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->




<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<div th:replace="~{fragmentos/scripts.html::scripts}"></div>

</body>
</html>
