<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/cabecera.html::cabecera(titulo='Dashboard')}">

</head>


<body class="">

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">


  <div class="container" data-layout="container">
    <nav th:replace="~{fragmentos/sidebaradministrador.html::sideBar}"></nav>
    <div class="content" >
      <nav th:replace="~{fragmentos/topbaradministrador.html::topBar}"></nav>

      <div class="card mb-3 bg-card-gradient" style="; background: #FFFFFF">
        <div class="card-body" style="background: #FFFFFF">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-11">
              <h1 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; padding-left: 15px; padding-bottom: 5px">
                Configuración
              </h1>
            </div>
            <div class="col-md-11">
              <h5 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; padding-left: 15px">
                Revisa tu información o cambia tu contraseña.
              </h5>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="card mb-3 bg-card-gradient" style="; background: #FFFFFF">
        <div class="card-body" style="background: #FFFFFF">

          <div class="row">
            <div class="col-lg-8">
              <h4 class="mb-1"><span th:text="${admin.nombre} + ' ' +  ${admin.apellido}"></span><small class="fas fa-check-circle text-primary ml-1" data-toggle="tooltip" data-placement="right" title="Verified" data-fa-transform="shrink-4 down-2"></small>
              </h4>
              <form>
                <fieldset disabled>
                  <div class="row">
                    <div class="col mb-3">
                      <label for="disabledTextInput1" class="form-label">Nombres</label>
                      <input type="text" id="disabledTextInput1" class="form-control" th:value="${admin.nombre}">
                    </div>
                    <div class="col mb-3">
                      <label for="disabledTextInput2" class="form-label">Apellidos</label>
                      <input type="text" id="disabledTextInput2" class="form-control" th:value="${admin.apellido}">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col mb-3">
                      <label for="disabledTextInput3" class="form-label">Correo</label>
                      <input type="text" id="disabledTextInput3" class="form-control" th:value="${admin.email}">
                    </div>
                    <div class="col mb-3">
                      <label for="disabledTextInput4" class="form-label">Celular</label>
                      <input type="text" id="disabledTextInput4" class="form-control" th:value="${admin.telefono}">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col mb-3">
                      <label for="disabledTextInput5" class="form-label">DNI</label>
                      <input type="text" id="disabledTextInput5" class="form-control" th:value="${admin.id}">
                    </div>
                    <div class="col mb-3">
                      <label for="disabledTextInput6" class="form-label">Sede actual</label>
                      <input type="text" id="disabledTextInput6" class="form-control" th:value="${admin.sedesIdsedes.nombre}">
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
            <div class="col pl-2 pl-lg-3" style="display: flex; align-items: center; justify-content: space-around">
              <div class="mb-3" >
                <div style="text-align: center">
                  <h5 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold">
                    Cambio de contraseña
                  </h5>
                  <h6 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; margin-top: 1rem; margin-bottom: 1rem">¿Desea cambiar su contraseña?</h6>
                  <button  class="btn btn-primary" data-toggle="modal" data-target="#cambioContrasena" th:href="@{/paciente/password}">Cambiar Contraseña</button>
                </div>
              </div>
            </div>
          </div>
          <!--
          <h3 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; padding-left: 15px; padding-bottom: 5px">
            Perfil
          </h3>
          <div class="row justify-content-between align-items-center" style="padding-left: 15px; ">
            <div class="col-md-6">
              <p style="font-weight: bold; margin: 0px">Nombres: <span style="font-weight: normal">Dana Paola</span></p>
            </div>
            <div class="col-md-6">
              <p style="font-weight: bold; margin: 0px">Apellidos: <span style="font-weight: normal">Nolasco Vallejos</span></p>
            </div>
          </div>
          <div style="height: 10px"></div>
          <div class="row justify-content-between align-items-center" style="padding-left: 15px; ">
            <div class="col-md-6">
              <p style="font-weight: bold; margin: 0px">Email: <span style="font-weight: normal">dnolasco@pucp.edu.pe</span></p>
            </div>
            <div class="col-md-6">
              <p style="font-weight: bold; margin: 0px">Celular: <span style="font-weight: normal">951899507</span></p>
            </div>
          </div>
          <div style="height: 10px"></div>
          <div class="row justify-content-between align-items-center" style="padding-left: 15px; ">
            <div class="col-md-6">
              <p style="font-weight: bold; margin: 0px">CMP:  <span style="font-weight: normal">30111</span>, RNE: <span style="font-weight: normal">13308</span></p>

            </div>
            <div class="col-md-6">
              <p style="font-weight: bold; margin: 0px">Idiomas: <span style="font-weight: normal">Español, Inglés</span></p>
            </div>
          </div>-->


        </div>
      </div>


      <br>
      <div class="card mb-3 bg-card-gradient" style="; background: #FFFFFF">
        <div class="card-body" style="background: #FFFFFF">

          <div class="row">
            <div class="col-lg">
              <h4 class="mb-1">Configuracion de sede
              </h4>
              <form>

                  <div class="row">
                    <div class="col-6 mb-3 form-group">
                      <label for="disabledTextInput1" class="form-label"> Direccion de sede </label>
                      <input type="text" id="disabledTextInput1" class="form-control" name="lugar" value="LugarSede">
                    </div>
                    <div class="form-group col-6">
                      <label for="estadoSede">Estado de sede</label>
                      <select class="form-control" name="estadoSede" id="estadoSede">
                        <option value="1"> Activa </option>
                        <option value="2"> No activa </option>
                      </select>
                    </div>
                  </div>
                <div align="end">
                  <button type="submit" class="btn btn-primary" > Guardar </button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>







      <footer th:replace="~{fragmentos/footer.html::footer}"></footer>
    </div>
  </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

<!--modal-->
<div class="modal fade" id="cambioContrasena" role="dialog" tabindex="-1" aria-labelledby="exampleModal1Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModal1Label">Advertencia</h1>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span class="font-weight-light" aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>
          Estás a punto de cambiar tu contraseña. <br>Por favor, asegúrese de que su nueva contraseña sea segura y única. No use la misma contraseña que utiliza en otros sitios web y evite usar información personal, como su nombre o fecha de nacimiento.

          Además, nunca comparta su contraseña con nadie y no la guarde en lugares públicos como correos electrónicos o notas.<br>

          Recuerda que una contraseña segura es esencial para proteger sus datos personales y evitar que sean robados por ciberdelincuentes. ¡Gracias por tomar precauciones para mantener su cuenta segura!
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <a type="button" class="btn btn-primary" th:href="@{/administrador/password}">Continuar</a>
      </div>
    </div>
  </div>
</div>
<!--modal-->


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<div th:replace="~{fragmentos/scripts.html::scripts}"></div>

<!--    Scripts de DataTable -->
<script th:src="@{/lib/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/lib/datatables-bs4/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables.net-responsive/dataTables.responsive.js}"></script>
<script th:src="@{/lib/datatables.net-responsive-bs4/responsive.bootstrap4.js}"></script>
<script th:src="@{/lib/datatables-buttons/dataTables.buttons.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.flash.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/jszip.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.html5.min.js}"></script>

<!-- Initialize DataTable in JavaScript -->
<script>
  $(document).ready(function () {
    //Esta busacando por el ID del tah <table>
    //para que entiendan bien lo que se esta haciendo, leer la documentación de datatable
    $('#userList').DataTable({
      dom: "<'d-flex justify-content-end pb-4'B>\n" +
              "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>\n" +
              "<'table-responsive'tr>\n" +
              "<'row align-items-center'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 d-flex justify-content-end'p>>",
      language: {
        processing: "Procesando...",
        lengthMenu: "Mostrar  _MENU_  usuarios",
        zeroRecords: "No se encontraron usuarios",
        emptyTable: "No hay usuarios",
        info: "Mostrando usuarios del _START_ al _END_ <br>Total _TOTAL_ usuarios",
        infoEmpty: "Mostrando usuarios del 0 al 0 <br>Total 0 usuarios",
        infoFiltered: "(filtrado de un total de _MAX_ usuarios)",
        loadingRecords: "Cargando...",
        search: "Buscar:",
        paginate: {
          previous: '<i class="fa fa-lg fa-angle-left mr-2"></i>Anterior',
          next: 'Siguiente<i class="fa fa-lg fa-angle-right ml-2"></i>'
        }
      },
      autoWidth: false,
      lengthMenu: [
        [10, 25, 50, -1], [10, 25, 50, "Todos"]
      ],
      buttons: [

      ]
    });
  });
</script>


</body>
</html>