<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/cabecera.html::cabecera(titulo='Dashboard')}">

</head>


<body class="">

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">


  <div class="container" data-layout="container">
    <nav th:replace="~{fragmentos/sidebaradministrador.html::sideBar}"></nav>
    <div class="content" >
      <nav th:replace="~{fragmentos/topbaradministrador.html::topBar}"></nav>

      <div class="card mb-3 bg-card-gradient" style="; background: #FFFFFF">
        <div class="card-body" style="background: #FFFFFF">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-11">
              <h1 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; padding-left: 15px; padding-bottom: 5px">
                Configuración
              </h1>
            </div>
            <div class="col-md-11">
              <h5 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; padding-left: 15px">
                Revisa tu información o cambia tu contraseña.
              </h5>
            </div>
          </div>
        </div>
      </div>
      <br>

      <div th:if="${msgContrasenia != null}" th:text="${msgContrasenia}" class="alert alert-success" role="alert"></div>

      <div class="card mb-3 bg-card-gradient" style="; background: #FFFFFF">
        <div class="card-header position-relative min-vh-25 mb-7">
          <div class="bg-holder rounded-soft rounded-bottom-0" style="background-image:url(/img/generic/20.jpg)">
          </div>
          <!--/.bg-holder-->
          <div class="avatar avatar-5xl avatar-profile">
            <img class="rounded-circle img-thumbnail shadow-sm" th:src="@{/fotoPerfil}" width="200" alt="" />
          </div>
        </div>
        <div class="card-body" style="background: #FFFFFF">

          <div class="row">
            <div class="col-lg-8">
              <h4 class="mb-1"><span th:text="${#strings.capitalize(admin.nombre)} + ' ' +  ${#strings.capitalize(admin.apellido)}"></span><small class="fas fa-check-circle text-primary ml-1" data-toggle="tooltip" data-placement="right" title="Verified" data-fa-transform="shrink-4 down-2"></small>
              </h4>
              <form>
                <fieldset disabled>
                  <div class="row">
                    <div class="col mb-3">
                      <label for="disabledTextInput1" class="form-label">Nombres</label>
                      <input type="text" id="disabledTextInput1" class="form-control" th:value="${#strings.capitalize(admin.nombre)}">
                    </div>
                    <div class="col mb-3">
                      <label for="disabledTextInput2" class="form-label">Apellidos</label>
                      <input type="text" id="disabledTextInput2" class="form-control" th:value="${#strings.capitalize(admin.apellido)}">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col mb-3">
                      <label for="disabledTextInput3" class="form-label">Correo</label>
                      <input type="text" id="disabledTextInput3" class="form-control" th:value="${admin.email}">
                    </div>
                    <div class="col mb-3">
                      <label for="disabledTextInput4" class="form-label">Celular</label>
                      <input type="text" id="disabledTextInput4" class="form-control" th:value="${admin.telefono}">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col mb-3">
                      <label for="disabledTextInput5" class="form-label">DNI</label>
                      <input type="text" id="disabledTextInput5" class="form-control" th:value="${admin.id}">
                    </div>
                    <div class="col mb-3">
                      <label for="disabledTextInput6" class="form-label">Sede actual</label>
                      <input type="text" id="disabledTextInput6" class="form-control" th:value="${admin.sedesIdsedes.nombre}">
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
            <div class="col pl-2 pl-lg-3" style="display: flex; align-items: center; justify-content: space-around">
              <div class="mb-3" >
                <div style="text-align: center">
                  <h5 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold">
                    Cambio de contraseña
                  </h5>
                  <h6 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; margin-top: 1rem; margin-bottom: 1rem">¿Desea cambiar su contraseña?</h6>
                  <button  class="btn btn-primary" data-toggle="modal" data-target="#cambioContrasena" th:href="@{/paciente/password}">Cambiar Contraseña</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- CAMBIAR FOTO DE PERFIL -->
            <div id="div3" style="padding-left: 15px;">
              <h4 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; padding: 16px 0 0 0;">
                Foto de perfil
              </h4>
              <div th:if="${fotoSiu != null}" th:text="${fotoSiu}" class="alert alert-success" role="alert"></div>
              <div th:if="${foto != null}" th:text="${foto}" class="alert alert-warning" role="alert"></div>
              <div style="display: flex;">
                <form method="POST" th:action="@{/uploadAdministrador}"
                      class="dropzone"
                      id="myGreatDropzone" style="margin: 10px 15px; width: 50%; flex: 2; "></form>
                <div style="flex: 1;    padding-left: 20px;">
                  <p style="padding: 15px 15px 15px 0;">
                    Aquí puedes personalizar tu perfil agregando una foto.
                    Simplemente haz clic en el área designada y selecciona la imagen que deseas utilizar.
                  </p>
                  <button class="btn btn-primary btn-sm" type="submit" id="arch">Guardar cambios</button>
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>


      <br>

      <!--
      <div class="card mb-3 bg-card-gradient" style="; background: #FFFFFF">
        <div class="card-body" style="background: #FFFFFF">

          <div class="row">
            <div class="col-lg">
              <h4 class="mb-1">Configuracion de sede
              </h4>
              <form>

                  <div class="row">
                    <div class="col-6 mb-3 form-group">
                      <label for="disabledTextInput1" class="form-label"> Direccion de sede </label>
                      <input type="text" id="disabledTextInput1" class="form-control" name="lugar" value="LugarSede">
                    </div>
                    <div class="form-group col-6">
                      <label for="estadoSede">Estado de sede</label>
                      <select class="form-control" name="estadoSede" id="estadoSede">
                        <option value="1"> Activa </option>
                        <option value="2"> No activa </option>
                      </select>
                    </div>
                  </div>
                <div align="end">
                  <button type="submit" class="btn btn-primary" > Guardar </button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
      -->






      <footer th:replace="~{fragmentos/footer.html::footer}"></footer>
    </div>
  </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

<!--modal-->
<div class="modal fade" id="cambioContrasena" role="dialog" tabindex="-1" aria-labelledby="exampleModal1Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModal1Label">Advertencia</h1>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span class="font-weight-light" aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>
          Estás a punto de cambiar tu contraseña. <br>Por favor, asegúrese de que su nueva contraseña sea segura y única. No use la misma contraseña que utiliza en otros sitios web y evite usar información personal, como su nombre o fecha de nacimiento.

          Además, nunca comparta su contraseña con nadie y no la guarde en lugares públicos como correos electrónicos o notas.<br>

          Recuerda que una contraseña segura es esencial para proteger sus datos personales y evitar que sean robados por ciberdelincuentes. ¡Gracias por tomar precauciones para mantener su cuenta segura!
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <a type="button" class="btn btn-primary" th:href="@{/administrador/password}">Continuar</a>
      </div>
    </div>
  </div>
</div>
<!--modal-->


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<div th:replace="~{fragmentos/scripts.html::scripts}"></div>
<script th:src="@{/lib/dropzone/dropzone.min.js}"></script>

<!-- Initialize DataTable in JavaScript -->
<script>
  Dropzone.options.myGreatDropzone = { // camelized version of the `id`
    paramName: "file", // The name that will be used to transfer the file
    maxFiles: 1,
    autoProcessQueue: false,
    acceptedFiles: ".jpg,.jpeg",
    maxFilesize: 2,
    addRemoveLinks: true,
    dictResponseError: 'Server not Configured',
    init:function(){
      var self = this;
// Update selector to match your button
      $("#arch").click(function (e) {
        e.preventDefault();
        self.processQueue();
// config
        self.options.addRemoveLinks = true;
        self.options.dictRemoveFile = "Delete";
//New file added
        self.on("addedfile", function (file) {
          console.log('new file added ', file);
        });
// Send file starts
        self.on("sending", function (file) {
          console.log('upload started', file);
          $('.meter').show();
        });

// File upload Progress
        self.on("totaluploadprogress", function (progress) {
          console.log("progress ", progress);
          $('.roller').width(progress + '%');
        });

        self.on("queuecomplete", function (progress) {
          $('.meter').delay(999).slideUp(999);
        });

// On removing file
        self.on("removedfile", function (file) {
          console.log(file);
        });
      });
      this.on("queuecomplete", function(progress) {
// File upload is complete
        location.reload();
      });
    }
  };
</script>
</body>
</html>