<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/cabecera.html::cabecera(titulo='Usuarios')}">
</head>


<body class="">

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">


    <div class="container" data-layout="container">
        <nav th:replace="~{fragmentos/sidebaradministrador.html::sideBar}"></nav>
        <div class="content" >
            <nav th:replace="~{fragmentos/topbaradministrador.html::topBar}"></nav>
            <div class="card mb-3 bg-card-gradient" style="; background: #FFFFFF">
                <div class="card-body" style="background: #FFFFFF">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md-11">
                            <h1 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; padding-left: 15px; padding-bottom: 5px">
                                Usuarios
                            </h1>
                        </div>
                        <div class="col-md-11">
                            <h5 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; padding-left: 15px">
                                Gestiona los pacientes y doctores de tu sede
                            </h5>
                        </div>

                    </div>
                </div>
            </div>

            <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
            <div th:if="${msgDanger != null}" th:text="${msgDanger}" class="alert alert-danger" role="alert"></div>

            <!--
            <div style="padding-bottom: 1rem">
                <a th:href="@{/administrador/listaFormulariosRegistro}" class="btn btn-secondary" style="text-align: center;background: #02b0fb;
                        border-color: #FFFFFF"> Lista formularios de registro</a>
            </div>-->


            <div class="card mb-3">
                <div class="card-body border-top bg-gradient" style="padding-left: 35px; padding-right: 35px; color: white; font-weight: bold"> Pacientes </div>
                <div class="card-body border-top" style="padding-left: 35px; padding-right: 35px">
                    <div class="row">
                        <div class="col-md-3">
                            <a th:href="@{/administrador/crearPacientePagina}" class="btn btn-secondary" style="text-align: center;background: #02b0fb;
                            border-color: #FFFFFF"> Crear paciente </a>
                             </div>
                        <div class="col-md-5">
                            <a th:href="@{/administrador/listaFormulariosRegistro}" class="btn btn-secondary" style="text-align: center;background: #02b0fb;
                            border-color: #FFFFFF"> Lista formularios de registro</a>
                        </div>
                    </div>

                    <table class="table table-striped" id="userList">
                        <thead style="background: #cdeffc">
                        <tr>
                            <th class="sort align-middle" style="width: 22%">Nombre Completo</th>
                            <th class="sort align-middle" style="width: 13%">DNI</th>
                            <th class="sort align-middle" style="width: 15%; text-align: center">Correo</th>
                            <th class="sort align-middle" style="width: 15%; text-align: center">Estado</th>
                            <th class="no-sort" style="width: 20%;" ></th> <!--style="width: 35%"-->
                            <th class="no-sort" style="width: 15%;" ></th>
                        </tr>
                        </thead>
                        <tbody class="bg-white">
                        <tr th:each="paciente, vEstado : ${listaPacientes}">

                            <td th:text="${#strings.capitalize(paciente.nombre)} + ' ' + ${#strings.capitalize(paciente.apellido)} "></td>
                            <td th:text="${paciente.id}"></td>
                            <td th:text="${paciente.email}"></td>
                            <td style="text-align: center" th:text="${#strings.capitalize(paciente.estadosIdestado.nombre)}"></td>

                            <td class="align-middle" align="center">
                                <a th:href="@{'/administrador/historialPaciente' + '?id=' + ${paciente.id}}" class="btn btn-primary btn-sm" style="text-align: center;background: #3d8af7;
                                                border-radius: 15px" >Ver Historial Médico</a>
                            </td>

                            <td class="align-middle" align="center">
                                <a th:href="@{'/administrador/editarPacientePagina' + '?id=' + ${paciente.id}}" class="btn btn-danger btn-sm" style="text-align: center;
                                    border-radius: 15px" >Editar</a>
                            </td>

                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>


            <!-- SEGUNDA TABLA -->
            <div class="card mb-3" style="margin-top: 25px">
                <div class="card-body border-top bg-gradient" style="padding-left: 35px; padding-right: 35px; color: white; font-weight: bold"> Doctor </div>
                <div class="card-body border-top" style="padding-left: 35px; padding-right: 35px">

                    <a th:href="@{/administrador/crearDoctorPagina}" class="btn btn-secondary" style="text-align: center;background: #02b0fb;
                        border-color: #FFFFFF"> Crear doctor </a>

                    <table class="table table-striped" id="userList2">
                        <thead style="background: #cdeffc">
                        <tr>
                            <th class="sort align-middle" style="width: 22%">Nombre Completo</th>
                            <th class="sort align-middle" style="width: 18%; text-align: center">Correo</th>
                            <th class="sort align-middle" style="width: 15%; text-align: center">Especialidad</th>

                            <th class="no-sort" style="width: 15%;" ></th> <!--style="width: 35%"-->
                            <th class="no-sort" style="width: 15%;" ></th>
                        </tr>
                        </thead>
                        <tbody class="bg-white">
                        <tr th:each="doctor, vEstado : ${listaDoctores}">

                            <td th:text="${#strings.capitalize(doctor.nombre)} + ' ' + ${#strings.capitalize(doctor.apellido)} "></td>
                            <td th:text="${doctor.email}"></td>
                            <td style="text-align: center" th:text="${#strings.capitalize(doctor.especialidad)}"></td>

                            <td class="align-middle" align="center">
                                <button type="button" class="btn btn-primary btn-sm" style="text-align: center;background: #3d8af7;
                                    border-radius: 15px" data-toggle="modal" th:data-target="'#PerfilDoctor' + ${doctor.dni}">Ver Perfil</button>
                            </td>
                            <td class="align-middle" align="center">
                                <a th:href="@{'/administrador/editarDoctorPagina' + '?id=' + ${doctor.dni}}" class="btn btn-danger btn-sm" style="text-align: center;
                                    border-radius: 15px" >Editar</a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>


            <footer th:replace="~{fragmentos/footer.html::footer}"></footer>
        </div>
    </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


<!-- Modal-->

<div th:each="doctor, arch: ${listaDoctores}">
    <div class="modal fade modalDoctor" th:id="'PerfilDoctor' + ${doctor.dni}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1" th:text="|Dr. ${doctor.nombre}|" th:if="${doctor.sexo=='M'}"></h5>
                    <h5 class="modal-title" id="exampleModalLabel2" th:text="|Dra. ${doctor.nombre}|" th:if="${doctor.sexo=='F'}"></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span class="font-weight-light" aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <form>
                                    <div class="row" style="display: flex; align-items: center">
                                        <!-- Columna 1 -->
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="nombres">Nombres</label>
                                                <input type="text" id="nombres" name="nombres" th:value="${doctor.nombre}" class="form-control" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label for="cedula">Nro. de Colegiatura</label>
                                                <input type="text" id="cedula" name="cedula" th:value="${doctor.cedula}" class="form-control" disabled>
                                            </div>
                                        </div>
                                        <!-- Columna 2 -->
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="apellidos">Apellidos</label>
                                                <input type="text" id="apellidos" name="apellidos" th:value="${doctor.apellido}" class="form-control" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label for="especialidad">Especialidad</label>
                                                <input type="text" id="especialidad" name="especialidad" th:value="${doctor.especialidad}" class="form-control" disabled>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row justify-content-center" >

                                        <!-- Columna 1 -->
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="Telefono">Telefono</label>
                                                <input type="text" id="telefono"  th:value="${doctor.telefono}" class="form-control" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label for="fechanacimiento">Fecha de nacimiento</label>
                                                <input type="text" id="fechanacimiento" th:value="${doctor.fechaNacimiento}" class="form-control" disabled>
                                            </div>
                                        </div>
                                        <!-- Columna 2 -->
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="estado">Estado</label>
                                                <input type="text" id="estado" th:value="${doctor.enabled==true?'Activo':'Inactivo'}" class="form-control" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label for="direccion">Direccion</label>
                                                <input type="text" id="direccion" th:value="${doctor.direccion}" class="form-control" disabled>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Botón de envío -->

                                </form>
                            </div>
                            <div class="col">
                                <div class="avatar avatar-2x1" style="display: flex; align-items: center; justify-content: space-around">
                                    <img class="rounded-circle" th:src="@{'/fotoPerfilDoctor?dni='+${doctor.dni}}" alt="" style="max-height: 200px; max-width: 200px"/>
                                </div>
                                <hr>
                                <div style="display: flex; flex-direction: column;">
                                    <label for="firma" class="form-label">Firma:</label>
                                    <img th:src="@{'/fotoFirmaDoctor?dni='+${doctor.dni}}" width="200" alt="" style="background: #edf2f9;border-radius: 5px;
                                height: 100px;width: 300px;border: 1px solid #d8e2ef;"/>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <h5>Horarios de disponibilidad:</h5>
                            <div class="col-lg-12 pl-lg-2 mb-3 calendar " th:id="${doctor.dni}"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-falcon-secondary btn-sm" type="button" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- ===============================================-->
<!--   Modals -->
<!-- ===============================================-->


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<!--    Scripts de Calendar -->
<div th:replace="~{fragmentos/scripts.html::scripts}"></div>
<script th:src="@{/lib/fullcalendar/main.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<!--    Scripts de DataTable -->
<script th:src="@{/lib/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/lib/datatables-bs4/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables.net-responsive/dataTables.responsive.js}"></script>
<script th:src="@{/lib/datatables.net-responsive-bs4/responsive.bootstrap4.js}"></script>
<script th:src="@{/lib/datatables-buttons/dataTables.buttons.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.flash.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/jszip.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.html5.min.js}"></script>

<!-- Initialize DataTable in JavaScript -->
<script>
    $(document).ready(function () {
        //Esta busacando por el ID del tah <table>
        //para que entiendan bien lo que se esta haciendo, leer la documentación de datatable
        $('#userList').DataTable({
            dom: "<'d-flex justify-content-end pb-4'B>\n" +
                "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>\n" +
                "<'table-responsive'tr>\n" +
                "<'row align-items-center'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 d-flex justify-content-end'p>>",
            language: {
                processing: "Procesando...",
                lengthMenu: "Mostrar  _MENU_  usuarios",
                zeroRecords: "No se encontraron usuarios",
                emptyTable: "No hay usuarios",
                info: "Mostrando usuarios del _START_ al _END_ <br>Total _TOTAL_ usuarios",
                infoEmpty: "Mostrando usuarios del 0 al 0 <br>Total 0 usuarios",
                infoFiltered: "(filtrado de un total de _MAX_ usuarios)",
                loadingRecords: "Cargando...",
                search: "Buscar:",
                paginate: {
                    previous: '<i class="fa fa-lg fa-angle-left mr-2"></i>Anterior',
                    next: 'Siguiente<i class="fa fa-lg fa-angle-right ml-2"></i>'
                }
            },
            autoWidth: false,
            lengthMenu: [
                [6, 8, 10], [6, 8, 10]
            ],
            buttons: [

            ]
        });
    });



    $(document).ready(function () {
        //Esta busacando por el ID del tah <table>
        //para que entiendan bien lo que se esta haciendo, leer la documentación de datatable
        $('#userList2').DataTable({
            dom: "<'d-flex justify-content-end pb-4'B>\n" +
                "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>\n" +
                "<'table-responsive'tr>\n" +
                "<'row align-items-center'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 d-flex justify-content-end'p>>",
            language: {
                processing: "Procesando...",
                lengthMenu: "Mostrar  _MENU_  usuarios",
                zeroRecords: "No se encontraron usuarios",
                emptyTable: "No hay usuarios",
                info: "Mostrando usuarios del _START_ al _END_ <br>Total _TOTAL_ usuarios",
                infoEmpty: "Mostrando usuarios del 0 al 0 <br>Total 0 usuarios",
                infoFiltered: "(filtrado de un total de _MAX_ usuarios)",
                loadingRecords: "Cargando...",
                search: "Buscar:",
                paginate: {
                    previous: '<i class="fa fa-lg fa-angle-left mr-2"></i>Anterior',
                    next: 'Siguiente<i class="fa fa-lg fa-angle-right ml-2"></i>'
                }
            },
            autoWidth: false,
            lengthMenu: [
                [6, 8, 10], [6, 8, 10]
            ],
            buttons: [

            ]
        });
    });
</script>

<script th:inline="javascript">
    $(document).ready(function() {
        var doctores = [[${listaDoctores}]];
        $.each(doctores, function (i){
            $.ajax({
                method: 'GET',
                data: {
                    dni: doctores[i].dni,
                },
                url: 'http://34.132.54.61:8081/api/doctores',
                success: function(response) {
                    var horariosMes = response.horariosMes;
                    $('.calendar').each(function(){
                        var calendarEl = this;
                        var elementId = calendarEl.id;
                        if(elementId===horariosMes.doctorDni){
                            var calendar = new FullCalendar.Calendar(calendarEl, {
                                initialView: 'dayGridWeek',
                                headerToolbar: {
                                    left: 'prev,next',
                                    center: 'title',
                                    right: 'dayGridWeek,dayGridDay' // user can switch between the two
                                },
                                defaultView: 'month',
                                weekday: 'long',
                                selectable: true,
                                height: 650,
                                events: [],
                                eventTextColor: '#ffffff',
                                eventBackgroundColor: '#3d8af7',
                                eventDisplay: 'block',
                                eventTimeFormat:{
                                    hour: 'numeric',
                                    minute: '2-digit',
                                    meridiem: 'short'
                                },
                                firstDay: 1,
                                locale: 'es',
                            });
                            var diasDelMes = horariosMes.diasDelMes;
                            $.each(diasDelMes,function(i, object) {
                                var dia = object.dia;
                                var horas = object.horas;
                                var events = [];
                                $.each(horas, function (j, hora){
                                    var event = {
                                        title: hora,
                                        start: dia,

                                    };
                                    events.push(event);
                                });
                                calendar.addEventSource(events);
                            });
                            calendar.updateSize()
                            calendar.render();
                        }
                    });
                },
                error: function(xhr, status, error) {
                    // Error handling
                    console.log(error);
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function() {
        // Attach the event handler to the "show.bs.modal" event of the modals
        $('.modalDoctor').on('shown.bs.modal', function() {
            // Trigger the click event on the button within the modal
            const button = $(this).find('.fc-next-button');
            if (button.length > 0) {
                button.click();
            }
            const button2 = $(this).find('.fc-prev-button');
            if (button2.length > 0) {
                button2.click();
            }
        });
    });
</script>
</body>
</html>