<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/cabecera.html::cabecera(titulo='Dashboard')}">

</head>


<body class="">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
        crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src='https://8x8.vc/libs/external_api.min.js' async></script>
<style>
    #map {
        height: 300px;
        width: 300px;
    }
</style>
<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">


    <div class="container" data-layout="container">
        <nav th:replace="~{fragmentos/sidebaradministrativo.html::sideBar}"></nav>
        <div class="content">
        <nav th:replace="~{fragmentos/topbaradministrativo.html::topBar}"></nav>
            <div class="alert alert-success" role="alert" th:if="${envio != null}" th:text="${envio}"></div>
            <div class="alert alert-danger" role="alert" th:if="${errorenvio != null}" th:text="${errorenvio}"></div>
                <div class="alert alert-success" role="alert" th:if="${msg != null}" th:text="${msg}">
            </div>
            <div class="row no-gutters">
                <div class="col-sm-6">
                    <!-- TABLA PACIENTES -->
                    <div class="content">
                        <div class="card mb-3 bg-card-gradient">
                            <div class="card-body" style="background: white;">
                                <h1 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; padding-left: 15px; padding-bottom: 5px">
                                    Tabla de Pacientes
                                </h1>
                                <h5 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; padding-left: 15px">
                                    Maneja y edita la información de los usuarios
                                </h5>
                                <br>
                                <table class="table table-striped" id="userList" style="max-width: 600px; margin-left: 0;">
                                    <thead class="bg-200">
                                    <tr >
                                        <th class="sort align-middle" style="width: 30%">Pacientes</th>
                                        <th class="sort align-middle" style="width: 20%; text-align: center">Estado</th>
                                        <th class="sort align-middle" style="width: 20%; text-align: center">Modo de Registro</th>
                                        <th class="sort align-middle" style="width: 30%; text-align: center">Visualizar Formulario</th>
                                    </tr>
                                    </thead>
                                    <tbody class="bg-white" style="font-size: 15px">
                                    <tr th:each="user : ${listaUsuarios}">
                                        <td class="align-middle"  th:text="|${#strings.capitalize(user.nombre)} ${#strings.capitalize(user.apellido)}|">
                                        </td>
                                        <td class="align-middle" style="text-align: center"  th:text="${#strings.capitalize(user.estadosIdestado.nombre)}">
                                            Registrado
                                        </td>
                                        <td class="align-middle" style="text-align: center" th:text="${#strings.capitalize(user.modoregistro)}">
                                            Invitacion
                                        </td>
                                        <td class="align-middle" style="text-align: center"  >
                                            <a th:href="@{'/administrativo/form?id='+${user.id}}" th:if="${user.getModoregistro().equalsIgnoreCase('invitado') && !user.estadosIdestado.nombre.equalsIgnoreCase('invitado')}">
                                                <button  type="button" class="btn btn-primary" style="background: #b38df7; border: 5px solid #b38df7; padding: 1px">Formulario</button>
                                            </a>

                                            <div th:if="${ user.getModoregistro().equalsIgnoreCase('autoregistro') || ( user.getModoregistro().equalsIgnoreCase('invitado') && user.estadosIdestado.nombre.equalsIgnoreCase('invitado') )}">
                                                <p>No disponible</p>
                                            </div>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5" style="margin-left: 20px">
                    <!-- INVITAR PACIENTE -->
                    <div class="content" style="padding: 0 !important;">
                        <div class="card mb-3 bg-card-gradient">
                            <div class="card-body" style="background: white;">
                                <h2 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; padding-left: 15px; padding-bottom: 5px">
                                    Invitar a un paciente
                                </h2>
                                <h5 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; padding-left: 15px">
                                    Conoce los requisitos para invitar un paciente:
                                </h5>
                                <br>
                                <p style="display: flex;align-items: center; justify-content: center; font-weight: 500">
                                    1. El paciente debe aceptar los términos y condiciones. <br>
                                    2. Este se registrará en la sede que se encuentra dicho administrativo. <br>
                                    3. El form pre-llenado registrará los datos a través del DNI del usuario.
                                </p>
                                <div style="display: flex; text-align: center; flex-direction: column;">

                                    <!-- Button trigger modal -->
                                    <button type="button"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-right: 10px;
                                    background: #3d8af7; border: 5px solid #3d8af7; padding: 1px">Invitar Paciente</button>

                                    <!-- MODAL -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Invitar paciente</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
                                                </div>

                                                <div class="modal-body">
                                                    <form method="POST" th:action="${'/administrativo/enviar'}">
                                                        <div class="row justify-content-between align-items-center" style="padding-left: 15px; ">
                                                            <div class="col-md-6">
                                                                <p style="font-weight: bold; margin: 0px">DNI: </p>
                                                                <input type="text" id="disabledTextInput" class="form-control" placeholder="dni" name="dni">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <p style="font-weight: bold; margin: 0px">Correo: </p>
                                                                <input type="text" id="disabledTextInput2" class="form-control" placeholder="correo" name="correo">
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal" style="text-align: center;background: #b38df7;
                                    border-radius: 15px; border-color: #b38df7;" >Cerrar</button>
                                                            <button type="submit" class="btn btn-primary" >Enviar</button>
                                                        </div>

                                                        <!--<div class="row justify-content-between align-items-center" style="padding-left: 15px; ">
                                                            <div class="col-md-6">
                                                                <p style="font-weight: bold; margin: 0px">Nombres: </p>
                                                                <input type="text" id="disabledTextInput3" class="form-control" placeholder="Nombres">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <p style="font-weight: bold; margin: 0px">Apellidos: </p>
                                                                <input type="text" id="disabledTextInput4" class="form-control" placeholder="Apellidos">
                                                            </div>
                                                        </div>-->
                                                    </form>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <a th:href="${'/administrativo/form1'}" style="margin-top: 10px">
                                        <button type="button" class="btn btn-primary" style="background: #0032aa; border: 5px solid #0032aa; padding: 1px">Previsualizar Formulario</button>
                                        <!--button type="button" class="btn btn-secondary"
                                                style="background: #3d8af7; border: 5px solid #3d8af7; padding: 1px">Previsualizar Formulario</button-->
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- SEDE DEL ADMINISTRATIVO -->
                    <div class="content">
                        <div class="card mb-3 bg-card-gradient">
                            <div class="card-body" style="background: white; text-align: center;">
                                <h3 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; padding-left: 15px; padding-bottom: 5px">
                                    Sede Respectiva como Administrativo
                                </h3>
                                <h5 th:text="${session.usuario.sedesIdsedes.nombre}" style="margin: 10px !important;"></h5>
                                <div style="text-align: center">
                                    <h5 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; padding-left: 15px">
                                        Visualice su sede en el mapa:
                                    </h5>
                                    <br>
                                    <div class="card-body text-white fs--1" style="display: flex; align-items: center; justify-content: space-around">
                                        <div id="map" class="col-sm-12"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Mensajeria Notificaciones -->
            <!-- <div class="card">

                <div class="card mb-3 bg-card-gradient">
                    <div class="card-body ">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-md">
                                <h5 class="mb-2 mb-md-0 text-white">Mensajeria</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <a href="message" style="font-weight: bold; margin: 0px">Luis Ramos: La operacion salio exitosamente ...<span style="font-weight: normal"></span></a><br>
                    <a href="message" style="font-weight: bold; margin: 0px">Rodrigo Barrios ✔️✔️<span style="font-weight: normal"></span></a><br>
                    <a href="message" style="font-weight: bold; margin: 0px">Leonardo Abanto ✔️✔️<span style="font-weight: normal"></span></a><br>
                    <a href="message" style="font-weight: bold; margin: 0px">Julio Aranda: El paciente Gil Zanabria se recupero...<span style="font-weight: normal"></span></a>
                </div>




            </div> -->

            <hr>

        </div>
    </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->




<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="path/to/jquery-3.6.0.min.js"></script>
<script src="path/to/jquery.dataTables.min.js"></script>


<div th:replace="~{fragmentos/scripts.html::scripts}"></div>

<!--    Scripts de DataTable -->
<script th:src="@{/lib/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/lib/datatables-bs4/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables.net-responsive/dataTables.responsive.js}"></script>
<script th:src="@{/lib/datatables.net-responsive-bs4/responsive.bootstrap4.js}"></script>
<script th:src="@{/lib/datatables-buttons/dataTables.buttons.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.flash.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/jszip.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.html5.min.js}"></script>

<!-- Initialize DataTable in JavaScript -->
<script>
    $(document).ready(function () {
        //Esta busacando por el ID del tah <table>
        //para que entiendan bien lo que se esta haciendo, leer la documentación de datatable
        $('#userList').DataTable({
            dom: "<'d-flex justify-content-end pb-4'B>\n" +
                "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>\n" +
                "<'table-responsive'tr>\n" +
                "<'row align-items-center'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 d-flex justify-content-end'p>>",
            language: {
                processing: "Procesando...",
                lengthMenu: "Mostrar  _MENU_  usuarios",
                zeroRecords: "No se encontraron usuarios",
                emptyTable: "No hay usuarios",
                info: "Mostrando usuarios del _START_ al _END_ <br>Total _TOTAL_ usuarios",
                infoEmpty: "Mostrando usuarios del 0 al 0 <br>Total 0 usuarios",
                infoFiltered: "(filtrado de un total de _MAX_ usuarios)",
                loadingRecords: "Cargando...",
                search: "Buscar:",
                paginate: {
                    previous: '<i class="fa fa-lg fa-angle-left mr-2"></i>Anterior',
                    next: 'Siguiente<i class="fa fa-lg fa-angle-right ml-2"></i>'
                }
            },
            autoWidth: false,
            lengthMenu: [
                [10, 25, 50, -1], [10, 25, 50, "Todos"]
            ],
            buttons: [
                {extend: 'csv', className: 'btn btn-falcon-default', text: '<span class="fa fa-file-csv mr-1"></span>CSV'},
                {extend: 'excel', className: 'btn btn-falcon-success', text: '<span class="fa fa-file-excel mr-1"></span>Excel'}
            ]
        });
    });
</script>
<script th:inline="javascript">
    $(document).ready(function () {
        $('#zona').on('change', function () {
            set_map($(this).val());
        });
        var map = L.map('map')

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        ;
        var marker,sede;

        function set_map(){

            /*<![CDATA[*/
            sede = [[${sede}]];
            console.log(sede)
            var latitud,longitud,nombre;
                    longitud = sede.longitud;
                    latitud = sede.latitud;
                    nombre = sede.nombre;
                    console.log("Latitud: " + latitud + ", Longitud: " + longitud + ", Nombre: " + nombre);
            map.setView([latitud, longitud], 30);

            if (marker) {
                marker.setLatLng([latitud, longitud])
                    .bindPopup(nombre)
                    .openPopup();
            } else {
                marker = L.marker([latitud, longitud]).addTo(map)
                    .bindPopup(nombre)
                    .openPopup();
            }
        }

        set_map(sede)
        /*]]>*/
    });
</script>

</body>

</html>