<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/cabecera.html::cabecera(titulo='Dashboard')}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" integrity="sha512-1rC8rTfT1RVztF9dZTbLW8+MUtIbMSs3sDdiw2rMYfqmCvFnb9XZINkrOZHXtOtwMpyvDzubqy3RF/gQzYJNlQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>


<body class="">

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">


    <div class="container" data-layout="container">
        <nav th:replace="~{fragmentos/sidebar.html::sideBar}"></nav>
        <div class="content">
        <nav th:replace="~{fragmentos/topbar.html::topBar}"></nav>
            <div class="row">

                <div class="col-md-6">

                    <div class="card mb-3 bg-card-gradient">
                        <div class="card-body ">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-md">
                                    <h5 class="mb-2 mb-md-0 text-white">Lista de Pacientes</h5>
                                </div>
                            </div>
                        </div>
                    </div>


                    <table class="table table-striped" id="userList" style="max-width: 600px; margin-left: 0;">
                        <thead class="bg-200">
                        <tr>
                            <th class="sort align-middle" style="width: 30%">Pacientes</th>
                            <th>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Status
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <p>Invitado</p>
                                        <p>Registrado</p>
                                        <p>Activo</p>
                                        <p>Agendado</p>
                                        <p>En consulta</p>
                                    </div>
                                </div>
                            </th>
                            <th class="sort align-middle" style="width: 20%">Modo de Registro</th>
                        </tr>
                        </thead>
                        <tbody class="bg-white">
                        <tr>
                            <td class="align-middle">
                                <a href="">Hiroshi Giotoku</a>
                            </td>
                            <td class="align-middle">
                                Registrado
                            </td>
                            <td class="align-middle">
                                Invitacion
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle">
                                Manuel Yarleque
                            </td>
                            <td class="align-middle">
                                En consulta
                            </td>
                            <td class="align-middle">
                                AutoRegistro
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle">
                                <a href="">Paola Vallejos</a>
                            </td>
                            <td class="align-middle">
                                Activo
                            </td>
                            <td class="align-middle">
                                Invitacion
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle">
                                Don Lucho
                            </td>
                            <td class="align-middle">
                                Inactivo
                            </td>
                            <td class="align-middle">
                                AutoRegistro
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6" style="margin-right: 0;">

                    <div class="card">
                        <div class="bg-light p-3">

                            <div class="card mb-3 bg-card-gradient">
                                <div class="card-body ">
                                    <div class="row justify-content-between align-items-center">
                                        <div class="col-md">
                                            <h5 class="mb-2 mb-md-0 text-white">Invitar a un Paciente</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h6 class="mb-2 mb-md-0 text-white">Conoce los requisitos para invitar un paciente:</h6>
                            <p>- El paciente debe aceptar los términos y condiciones <br>
                                - Este se registrara en la sede que se encuentra dicho administrativo. <br>
                                - El form prellenado registrará los datos a través del DNI del usurario.</p>
                            <div class="d-flex justify-content-end">
                                <a class="btn btn-primary mr-2">Invitar a un paciente</a>
                                <a class="btn btn-primary ml-2">Preview Form</a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="card">

                        <div class="card mb-3 bg-card-gradient">
                            <div class="card-body ">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-md">
                                        <h5 class="mb-2 mb-md-0 text-white">Mensajeria</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <a href="message" style="font-weight: bold; margin: 0px">Luis Ramos: La operacion salio exitosamente ...<span style="font-weight: normal"></span></a><br>
                            <a href="message" style="font-weight: bold; margin: 0px">Rodrigo Barrios ✔️✔️<span style="font-weight: normal"></span></a><br>
                            <a href="message" style="font-weight: bold; margin: 0px">Leonardo Abanto ✔️✔️<span style="font-weight: normal"></span></a><br>
                            <a href="message" style="font-weight: bold; margin: 0px">Julio Aranda: El paciente Gil Zanabria se recupero...<span style="font-weight: normal"></span></a>
                        </div>




                    </div>
                </div>


            </div>
            <hr>
            <div class="row">
                <div class="col-md-6" style="margin-right: 0;">
                <div class="card mb-3 bg-card-gradient">
                    <div class="card-body ">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-md">
                                <h5 class="mb-2 mb-md-0 text-white">Sede Actual: (Sede C)</h5>
                            </div>
                        </div>
                    </div>
                </div>


                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1950.7672059942151!2d-77.0690430410581!3d-12.075522405736658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c91046bc86a9%3A0xc44e2f0808f16654!2sAv.%20Jos%C3%A9%20Legu%C3%ADa%20y%20Mel%C3%A9ndez%2C%20Pueblo%20Libre%2015084!5e0!3m2!1ses!2spe!4v1681093467425!5m2!1ses!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

                <div class="col-md-6" style="margin-right: 0;">
                    <img src="/img/team/hospital.jpeg" alt="Clinica Sede C" width="700" height="500">
                </div>

            </div>
        </div>
    </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->




<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<div th:replace="~{fragmentos/scripts.html::scripts}"></div>

<!--    Scripts de DataTable -->
<script th:src="@{/lib/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/lib/datatables-bs4/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables.net-responsive/dataTables.responsive.js}"></script>
<script th:src="@{/lib/datatables.net-responsive-bs4/responsive.bootstrap4.js}"></script>
<script th:src="@{/lib/datatables-buttons/dataTables.buttons.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.flash.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/jszip.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.html5.min.js}"></script>

<!-- Initialize DataTable in JavaScript -->
<script>
    $(document).ready(function () {
        //Esta busacando por el ID del tah <table>
        //para que entiendan bien lo que se esta haciendo, leer la documentación de datatable
        $('#userList').DataTable({
            dom: "<'d-flex justify-content-end pb-4'B>\n" +
                "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>\n" +
                "<'table-responsive'tr>\n" +
                "<'row align-items-center'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 d-flex justify-content-end'p>>",
            language: {
                processing: "Procesando...",
                lengthMenu: "Mostrar  _MENU_  usuarios",
                zeroRecords: "No se encontraron usuarios",
                emptyTable: "No hay usuarios",
                info: "Mostrando usuarios del _START_ al _END_ <br>Total _TOTAL_ usuarios",
                infoEmpty: "Mostrando usuarios del 0 al 0 <br>Total 0 usuarios",
                infoFiltered: "(filtrado de un total de _MAX_ usuarios)",
                loadingRecords: "Cargando...",
                search: "Buscar:",
                paginate: {
                    previous: '<i class="fa fa-lg fa-angle-left mr-2"></i>Anterior',
                    next: 'Siguiente<i class="fa fa-lg fa-angle-right ml-2"></i>'
                }
            },
            autoWidth: false,
            lengthMenu: [
                [10, 25, 50, -1], [10, 25, 50, "Todos"]
            ],
            buttons: [
                {extend: 'csv', className: 'btn btn-falcon-default', text: '<span class="fa fa-file-csv mr-1"></span>CSV'},
                {extend: 'excel', className: 'btn btn-falcon-success', text: '<span class="fa fa-file-excel mr-1"></span>Excel'}
            ]
        });
    });
</script>


</body>

</html>