<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/cabecera.html::cabecera(titulo='Formulario')}">


<body class="">

<main class="main" id="top">

    <div class="container" data-layout="container">
        <nav th:replace="~{fragmentos/sidebar.html::sideBar}"></nav>
        <div class="content">
            <nav th:replace="~{fragmentos/topbar.html::topBar}"></nav>


            <div class="card mb-3 bg-card-gradient" style="; background: #FFFFFF">
                <div class="card-body" style="background: #FFFFFF">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md-11">
                            <h1 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; padding-left: 15px; padding-bottom: 5px">
                                Formulario de Invitacion
                            </h1>
                        </div>

                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-3 bg-card-gradient" style="; background: #FFFFFF">
                        <div class="card-body" style="background: #FFFFFF">
                            <h3 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; padding-left: 15px; padding-bottom: 5px; text-align: center; text-decoration: underline">
                                Datos del paciente
                            </h3>
                            <br>
                            <form method="POST" th:action="@{'/administrativo/editForm'}" th:object="${formInvitacion}">
                                <div class="row justify-content-between align-items-center" style="padding-left: 15px; ">
                                    <input th:value="${formInvitacion.getId()}" name="id" type="hidden"/>
                                    <input  class="form-control"  th:field="*{nombres}" type="hidden"/>
                                    <input   class="form-control"  th:field="*{apellidos}" type="hidden"/>
                                    <input   class="form-control"  th:field="*{dni}" type="hidden"/>
                                    <input   class="form-control"  th:field="*{edad}"  type="hidden"/>
                                    <div class="col-md-6">
                                        <p style="font-weight: bold; margin: 0px">Nombres: </p>
                                        <input type="text" class="form-control" th:field="*{nombres}" style="color: #9da9bb;" disabled>
                                    </div>
                                    <div class="col-md-6">
                                        <p style="font-weight: bold; margin: 0px">Apellidos: </p>
                                        <input type="text" class="form-control"  th:field="*{apellidos}" style="color: #9da9bb;" disabled>
                                    </div>
                                </div>
                                <div style="height: 10px"></div>
                                <div class="row justify-content-between align-items-center" style="padding-left: 15px; ">
                                    <div class="col-md-6">
                                        <p style="font-weight: bold; margin: 0px">Edad: </p>
                                        <input type="text" class="form-control"  th:field="*{edad}" style="color: #9da9bb;" disabled>
                                    </div>
                                    <div class="col-md-6">
                                        <p style="font-weight: bold; margin: 0px">DNI: </p>
                                        <input type="text" class="form-control"  th:field="*{dni}" style="color: #9da9bb;" disabled>
                                    </div>
                                </div>
                                <div style="height: 10px"></div>
                                <div class="row justify-content-between align-items-center" style="padding-left: 15px; ">
                                    <div class="col-md-6">
                                        <p style="font-weight: bold; margin: 0px">Sede: <span style="color: #3d8af7; font-size: small">(editable)</span></p>
                                        <select class="form-select" th:field="*{idSede}" style="border: 2px solid #d8e2ef; width: 100%; height: 35px;margin-top: 5px; padding-left: 16px;">
                                            <option th:each="sede : ${listasedes}" th:value="${sede.getId()}"
                                                    th:text="${sede.nombre}"
                                                    th:selected="${formInvitacion.idSede==sede.id}"></option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <p style="font-weight: bold; margin: 0px">Sexo: <span style="color: #3d8af7; font-size: small">(editable)</span></p>
                                        <select  th:field="*{sexo}" style="border: 2px solid #d8e2ef; width: 100%; height: 35px;margin-top: 5px; padding-left: 16px;">
                                            <option value="M" th:selected="${formInvitacion.getSexo().equalsIgnoreCase('M')}">Masculino</option>
                                            <option value="F" th:selected="${formInvitacion.getSexo().equalsIgnoreCase('F')}">Femenino</option>
                                        </select>

                                    </div>
                                </div>
                                <div style="height: 10px"></div>
                                <div class="row justify-content-between align-items-center" style="padding-left: 15px; ">
                                    <div class="col-md-6">
                                        <p style="font-weight: bold; margin: 0px">Domicilio: <span style="color: #3d8af7; font-size: small">(editable)</span></p>
                                        <input  type="text" class="form-control"  th:field="*{domicilio}"   th:classappend="${domicilioError!=null?'is-invalid':''}">
                                        <div class ="invalid-feedback" th:if="${domicilioError!=null}" th:text="${domicilioError}"></div>

                                    </div>
                                    <div class="col-md-6">
                                        <p style="font-weight: bold; margin: 0px">Correo: <span style="color: #3d8af7; font-size: small">(editable)</span></p>
                                        <input  type="text" class="form-control"  th:field="*{correo}"    th:classappend="${correoError!=null || correoError2!=null?'is-invalid':''}">
                                        <div class ="invalid-feedback" th:if="${correoError!=null}" th:text="${correoError}"></div>
                                        <div class ="invalid-feedback" th:if="${correoError2!=null}" th:text="${correoError2}"></div>
                                    </div>
                                </div>
                                <div style="height: 10px"></div>
                                <div class="row justify-content-between align-items-center" style="padding-left: 15px; ">
                                    <div class="col-md-6">
                                        <p style="font-weight: bold; margin: 0px">Seguro: <span style="color: #3d8af7; font-size: small">(editable)</span></p>
                                        <select class="form-select" th:field="*{idSeguro}" style="border: 2px solid #d8e2ef; width: 100%; height: 35px;margin-top: 5px; padding-left: 16px;">
                                            <option th:each="seguro : ${listaseguros}"
                                            th:value="${seguro.id}"
                                            th:text="${seguro.nombreSeguro}"
                                            th:selected="${formInvitacion.idSeguro==seguro.id}"></option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <p style="font-weight: bold; margin: 0px" for="celular">Telefono celular: <span style="color: #3d8af7; font-size: small">(editable)</span> </p>
                                        <input  type="text" class="form-control"  th:field="*{celular}" th:classappend="${telefonoError!=null || telefonoError2!=null?'is-invalid':''}" >
                                        <div class ="invalid-feedback" th:if="${telefonoError!=null}" th:text="${telefonoError}"></div>
                                        <div class ="invalid-feedback" th:if="${telefonoError2!=null}" th:text="${telefonoError2}"></div>
                                    </div>
                                </div>
                                <div style="height: 10px"></div>
                                <div class="row justify-content-between align-items-center" style="padding-left: 15px; ">
                                    <div class="col-md-6">
                                        <p style="font-weight: bold; margin: 0px">Medicamentos que toma actualmente: <span style="color: #3d8af7; font-size: small">(editable)</span></p>
                                        <textarea class="form-control" placeholder="Ingrese su respuesta aqui" th:field="*{medicamentos}" th:classappend="${medicamentosError!=null?'is-invalid':''}"></textarea>
                                        <div class ="invalid-feedback" th:if="${medicamentosError!=null}" th:text="${medicamentosError}"></div>

                                    </div>
                                    <div class="col-md-6">
                                        <p style="font-weight: bold; margin: 0px">Alergias: <span style="color: #3d8af7; font-size: small">(editable)</span></p>
                                        <textarea class="form-control" placeholder="Ingrese su respuesta aqui" th:field="*{alergias}" th:classappend="${alergiaError!=null?'is-invalid':''}"></textarea>
                                        <div class ="invalid-feedback" th:if="${alergiaError!=null}" th:text="${alergiaError}"></div>
                                    </div>


                                </div>
                                <div style="height: 20px"></div>
                                <div style="text-align: center">
                                    <button type="submit" class="btn btn-primary" style="background: #b38df7; border: 5px solid #b38df7; padding: 2px">Guardar Cambios</button>
                                    <button type="button" class="btn btn-secondary" th:href="@{'/administrativo/dashboard'}" style="margin-left: 15px;
                                    border: 1px solid #9da9bb; background: #9da9bb">Cancelar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</main>
<div th:replace="~{fragmentos/scripts.html::scripts}"></div>

<!--    Scripts de DataTable -->
<script th:src="@{/lib/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/lib/datatables-bs4/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables.net-responsive/dataTables.responsive.js}"></script>
<script th:src="@{/lib/datatables.net-responsive-bs4/responsive.bootstrap4.js}"></script>
<script th:src="@{/lib/datatables-buttons/dataTables.buttons.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.flash.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/jszip.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.html5.min.js}"></script>

<!-- Initialize DataTable in JavaScript -->
<script>
    $(document).ready(function () {
        //Esta busacando por el ID del tah <table>
        //para que entiendan bien lo que se esta haciendo, leer la documentación de datatable
        $('#userList').DataTable({
            dom: "<'d-flex justify-content-end pb-4'B>\n" +
                "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>\n" +
                "<'table-responsive'tr>\n" +
                "<'row align-items-center'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 d-flex justify-content-end'p>>",
            language: {
                processing: "Procesando...",
                lengthMenu: "Mostrar  _MENU_  usuarios",
                zeroRecords: "No se encontraron usuarios",
                emptyTable: "No hay usuarios",
                info: "Mostrando usuarios del _START_ al _END_ <br>Total _TOTAL_ usuarios",
                infoEmpty: "Mostrando usuarios del 0 al 0 <br>Total 0 usuarios",
                infoFiltered: "(filtrado de un total de _MAX_ usuarios)",
                loadingRecords: "Cargando...",
                search: "Buscar:",
                paginate: {
                    previous: '<i class="fa fa-lg fa-angle-left mr-2"></i>Anterior',
                    next: 'Siguiente<i class="fa fa-lg fa-angle-right ml-2"></i>'
                }
            },
            autoWidth: false,
            lengthMenu: [
                [10, 25, 50, -1], [10, 25, 50, "Todos"]
            ],
            buttons: [
                {extend: 'csv', className: 'btn btn-falcon-default', text: '<span class="fa fa-file-csv mr-1"></span>CSV'},
                {extend: 'excel', className: 'btn btn-falcon-success', text: '<span class="fa fa-file-excel mr-1"></span>Excel'}
            ]
        });
    });
</script>


</body>

</html>
