<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/cabecera.html::cabecera(titulo='Perfil') }">
</head>


<body class="">
<!-- ===============================================-->
<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">


    <div class="container" data-layout="container">
        <nav th:replace="~{fragmentos/sidebar.html::sideBar }"></nav>
        <div class="content">
            <nav th:replace="~{fragmentos/topbar.html::topBar}"></nav>

            <!-- ===============================================-->
            <!--    static Content-->
            <!-- ===============================================-->

            <div class="card mb-3 bg-card-gradient">
                <div class="card-body ">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md">
                            <h5 class="mb-2 mb-md-0 text-white">Perfil de Administrativo</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header position-relative min-vh-25 mb-7">
                    <div class="bg-holder rounded-soft rounded-bottom-0" style="background-image:url(/img/generic/4.jpg);">
                    </div>
                    <!--/.bg-holder-->
                    <div class="avatar avatar-5xl avatar-profile"><img class="rounded-circle img-thumbnail shadow-sm" th:src="@{/img/team/avatar.png}" width="200" alt="" /></div>
                </div>
                <br>
                <div class="col">
                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#CambiarFoto">Cambiar foto</button>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-8">
                            <h4 class="mb-1" th:text="|${usuario.nombre} ${usuario.apellido}|"><small class="fas fa-check-circle text-primary ml-1" data-toggle="tooltip" data-placement="right" title="Verified" data-fa-transform="shrink-4 down-2"></small>
                            </h4>
                            <form>
                                <fieldset disabled>
                                    <div class="row">
                                        <div class="col mb-3">
                                            <label for="disabledTextInput1" class="form-label">Nombres</label>
                                            <input type="text" id="disabledTextInput1" class="form-control" th:placeholder="${usuario.nombre}">
                                        </div>
                                        <div class="col mb-3">
                                            <label for="disabledTextInput2" class="form-label">Apellidos</label>
                                            <input type="text" id="disabledTextInput2" class="form-control" th:placeholder="${usuario.apellido}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col mb-3">
                                            <label for="disabledTextInput3" class="form-label">Correo</label>
                                            <input type="text" id="disabledTextInput3" class="form-control" th:placeholder="${usuario.email}">
                                        </div>
                                        <div class="col mb-3">
                                            <label for="disabledTextInput4" class="form-label">Celular</label>
                                            <input type="text" id="disabledTextInput4" class="form-control" th:placeholder="${usuario.telefono}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col mb-3">
                                            <label for="disabledTextInput5" class="form-label">DNI</label>
                                            <input type="text" id="disabledTextInput5" class="form-control" th:placeholder="${usuario.id}">
                                        </div>
                                        <div class="col mb-3">
                                            <label for="disabledTextInput6" class="form-label">Sede actual</label>
                                            <input type="text" id="disabledTextInput6" class="form-control" th:placeholder="${usuario.sedesIdsedes.nombre}">
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="col pl-2 pl-lg-3" style="display: flex; align-items: center; justify-content: space-around">
                            <div class="mb-3" >
                                <div style="text-align: center">
                                    <h5 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold">
                                        Cambio de contraseña
                                    </h5>
                                    <div th:if="${msgContrasenia != null}" th:text="${msgContrasenia}" class="alert alert-success" role="alert"></div>
                                    <h6 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; margin-top: 1rem; margin-bottom: 1rem">¿Desea cambiar su contraseña?</h6>
                                    <button  class="btn btn-primary" data-toggle="modal" data-target="#CambiarContrasena" th:href="@{/paciente/password}">Cambiar Contraseña</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="CambiarContrasena" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Advertencia</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span class="font-weight-light" aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        Estás a punto de cambiar tu contraseña. <br>Por favor, asegúrate de que tu nueva contraseña sea segura y única. No uses la misma contraseña que utilizas en otros sitios web y evita usar información personal, como tu nombre o fecha de nacimiento.

                        Además, nunca compartas tu contraseña con nadie y no la guardes en lugares públicos como correos electrónicos o notas.<br>

                        Recuerda que una contraseña segura es esencial para proteger tus datos personales y evitar que sean robados por ciberdelincuentes. ¡Gracias por tomar precauciones para mantener tu cuenta segura!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <a type="button" class="btn btn-primary" th:href="@{/administrativo/pass}">Continuar</a>
                    </div>
                </div>
            </div>
        </div>
            <footer th:replace="~{fragmentos/footer.html::footer}"></footer>
        </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


<!-- Modal-->
<div class="modal fade" id="CambiarFoto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelA" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelA">Cambiar foto de perfil</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span class="font-weight-light" aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form class="form-group" method="post" th:action="@{/guardarFoto}" enctype="multipart/form-data">
                    <div class="row dz-clickable" data-dropzone="data-dropzone" data-options="{&quot;maxFiles&quot;:1,&quot;data&quot;:[{&quot;name&quot;:&quot;avatar.png&quot;,&quot;size&quot;:&quot;54kb&quot;,&quot;url&quot;:&quot;/img/team&quot;}]}">
                        <div class="col-md-auto">
                            <div class="dz-preview dz-preview-single">
                                <div class="dz-preview-cover d-flex align-items-center justify-content-center mb-3 mb-md-0 dz-image-preview">
                                    <div class="avatar avatar-4xl"><img class="rounded-circle" src="/img/team/avatar.png" alt="avatar.png" data-dz-thumbnail="data-dz-thumbnail"></div>
                                    <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress=""></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="dz-message dropzone-area px-2 py-3" data-dz-message="data-dz-message">
                                <div class="text-center"><img class="mr-2" src="/img/icons/cloud-upload.svg" alt="" width="25">Upload your profile picture
                                    <p class="mb-0 fs--1 text-400">Upload a 300x300 jpg image with <br>a maximum size of 400KB</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cerrar</button>
                <button class="btn btn-primary btn-sm" type="button">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>



<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<div th:replace="~{fragmentos/scripts.html::scripts}"></div>
<!--    Scripts de Dropzone -->
<script th:src="@{/lib/dropzone/dropzone.min.js}"></script>
</body>

</html>