<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Boleta de Pago</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="estilos.css">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <!-- aquí iría el logo de la empresa -->

      <img class="mr-2" src="/img/illustrations/shield.png" alt="" width="30">
    </div>

  </div>
  <div class="row">
    <div class="col-md-6">
      <!-- aquí irían los detalles del empleador -->
      <p>doctor Manuel Yarleque</p>
      <p>CMP: 64656268</p>
      <p>Cardiologia</p>
    </div>
    <div class="col-md-6">
      <!-- aquí irían los detalles del empleado -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- aquí iría la tabla con los detalles del pago -->

      <table>
        <thead style="background: #cdeffc">
        <tr>
          <th class="sort align-middle" style="width: 22%">Detalles</th>
          <th class="sort align-middle" style="width: 13%">Valor UNITARIO</th>
          <th class="sort align-middle" style="width: 15%; text-align: center">valor total</th>
        </tr>
        </thead>

        <tbody class="bg-white">
        <tr>
          <td class="align-middle">
            consulta medica
          </td>
          <td class="align-middle">
            $60
          </td>
          <td class="align-middle" style="text-align: center">
            $60
          </td>
        </tr>

      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- aquí iría cualquier otro detalle o nota -->

      <div>
        <hr>
        &nbsp;
        <label>FIRMA</label>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
