<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/cabecera.html::cabecera(titulo='Dashboard')}">
</head>


<body class="">

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">


    <div class="container" data-layout="container">
        <nav th:replace="~{fragmentos/sidebarpaciente.html::sideBar}"></nav>
        <div class="content" >
            <nav th:replace="~{fragmentos/topbarpaciente.html::topBar}"></nav>

            <div class="card mb-3 bg-card-gradient" style="; background: #FFFFFF">
                <div class="card-body" style="background: #FFFFFF">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md-11">
                            <h1 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; padding-left: 15px; padding-bottom: 5px">
                                Consultas Médicas
                            </h1>
                        </div>
                        <div class="col-md-11">
                            <h5 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; padding-left: 15px">
                                Revise información sobre sus consultas médicas
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 bg-card-gradient">
                <div class="card-body ">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md">
                            <h5 class="mb-2 mb-md-0 text-white">Próximas Citas</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div th:replace="~{fragmentos/calendar.html::calendar}"></div>
            </div>
            <div class="card mb-3 bg-card-gradient">
                <div class="card-body ">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md">
                            <h5 class="mb-2 mb-md-0 text-white">Historial de Citas</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body border-top" style="padding-left: 35px; padding-right: 35px">
                    <table class="table table-striped" id="listaHistorial">
                        <thead style="background: #cdeffc">
                        <tr>
                            <th class="sort align-middle" style="width: 22%">Especialidad</th>
                            <th class="sort align-middle" style="width: 13%">Fecha</th>
                            <th class="sort align-middle" style="width: 15%; text-align: center">Doctor</th>
                            <th class="no-sort" style="width: 15%;" ></th>
                            <th class="no-sort" style="width: 15%;" ></th>
                        </tr>
                        </thead>
                        <tbody class="bg-white">
                        <tr th:each="doctor, info : ${listaDoc}">
                            <td th:text="${doctor.especialidadesIdEspecialidad.nombreEspecialidad}" class="align-middle">
                            </td>
                            <td th:text="${doctor.especialidadesIdEspecialidades}" class="align-middle">
                                23-02-2023
                            </td>
                            <td th:text="${doctor.nombre}" class="align-middle" style="text-align: center">
                            </td>
                            <td class="align-middle" align="center">
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal2" style="text-align: center;
                                    border-radius: 15px">Detalles</button>
                                <!-- Modal -->
                            </td>

                            <td class="align-middle" align="center">
                                <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#exampleModal" style="text-align: center;
                                    border-radius: 15px">Receta</button>
                                <!-- Modal -->
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle">
                                Dermatología
                            </td>
                            <td class="align-middle">
                                23-02-2023
                            </td>
                            <td class="align-middle" style="text-align: center">
                                Gregory House
                            </td>
                            <td class="align-middle" align="center">
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal2" style="text-align: center;
                                    border-radius: 15px">Detalles</button>
                                <!-- Modal -->
                            </td>

                            <td class="align-middle" align="center">
                                <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#exampleModal" style="text-align: center;
                                    border-radius: 15px">Receta</button>
                                <!-- Modal -->
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle">
                                Dermatología
                            </td>
                            <td class="align-middle">
                                23-02-2023
                            </td>
                            <td class="align-middle" style="text-align: center">
                                Gregory House
                            </td>
                            <td class="align-middle" align="center">
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal2" style="text-align: center;
                                    border-radius: 15px">Detalles</button>
                                <!-- Modal -->
                            </td>

                            <td class="align-middle" align="center">
                                <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#exampleModal" style="text-align: center;
                                    border-radius: 15px">Receta</button>
                                <!-- Modal -->
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle">
                                Dermatología
                            </td>
                            <td class="align-middle">
                                23-02-2023
                            </td>
                            <td class="align-middle" style="text-align: center">
                                Gregory House
                            </td>
                            <td class="align-middle" align="center">
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal2" style="text-align: center;
                                    border-radius: 15px">Detalles</button>
                                <!-- Modal -->
                            </td>

                            <td class="align-middle" align="center">
                                <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#exampleModal" style="text-align: center;
                                    border-radius: 15px">Receta</button>
                                <!-- Modal -->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal fade" id="exampleModal2">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Aquí puedes agregar el contenido del modal -->
                        <div class="modal-header">
                            <h5 class="modal-title">Historial de la cita</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="nombre">nombre del paciente </label>
                                        <input type="text" id="nombre" name="nombre"  placeholder="Carlos Pisco" class="form-control" disabled>
                                    </div>

                                    <div class="form-group">
                                        <label for="especialidad">especialidad:</label>
                                        <input type="text" id="especialidad" name="especialidad" placeholder="cardiologia" class="form-control" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="fecha">fecha </label>
                                        <input type="date" id="fecha" name="nombre" class="form-control" disabled>
                                    </div>

                                    <div class="form-group">
                                        <label for="tipocita">tipo de cita: </label>
                                        <input type="text" id="tipocita" name="tipocita"  placeholder="Presencial" class="form-control" disabled>
                                    </div>


                                </div>

                                <!-- Columna 2 -->
                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="sede">sede de atencion:  </label>
                                        <input type="text" id="sede" name="sede"  placeholder="Lima Centro" class="form-control" disabled>
                                    </div>


                                    <div class="form-group">
                                        <label for="doctor">doctor:  </label>
                                        <input type="text" id="doctor" name="doctor"  placeholder="Don Lucho" class="form-control" disabled>
                                    </div>


                                    <div class="form-group">
                                        <label for="hora">hora</label>
                                        <input type="text" id="hora" name="apellido"  placeholder="15:00 h" class="form-control" disabled>
                                    </div>

                                    <div class="form-group">
                                        <label for="seguro">seguro de salud:  </label>
                                        <input type="text" id="seguro" name="seguro"  placeholder="Rimac EPS" class="form-control" disabled>
                                    </div>


                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-falcon-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="exampleModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Aquí puedes agregar el contenido del modal -->
                        <div class="modal-header">
                            <h5 class="modal-title">Receta Medica</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <header>
                                <h1>Receta Médica</h1>
                                <p>Nombre del paciente: <strong th:text="${usuario.nombre} + ' ' + ${usuario.apellido}">Carlos Pisco</strong></p>
                                <p th:each=" doc : ${doctores}">Nombre del doctor: <strong th:text="${doc.nombre} + ' ' + ${doc.apellido}">Manuel Yarleque</strong></p>
                                <p>Fecha de emisión: <strong>21 de abril de 2023</strong></p>
                            </header>

                            <section>
                                <h2>Medicamentos Recetados</h2>
                                <ul th:each="med : ${medicamentos}">
                                    <li th:text="${med.getNombre()}" ><strong>Nombre del Medicamento:</strong> Ibuprofeno</li>
                                    <li><strong>Dosis:</strong> 400mg</li>
                                    <li th:text="${med.getFrecuencia()}"><strong>Frecuencia:</strong> Cada 8 horas</li>
                                </ul>

                                <ul>
                                    <li><strong>Nombre del Medicamento:</strong> Amoxicilina</li>
                                    <li><strong>Dosis:</strong> 500mg</li>
                                    <li><strong>Frecuencia:</strong> Cada 12 horas</li>
                                    <li><strong>Duración:</strong> 10 días</li>
                                </ul>
                            </section>

                            <footer>
                                <p>Esta receta médica es válida por un mes a partir de la fecha de emisión.</p>
                            </footer>

                        </div>

                       <div class="modal-footer">
                            <button type="button" class="btn btn-falcon-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <footer th:replace="~{fragmentos/footer.html::footer}"></footer>
        </div>
    </div>



</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<!--    Scripts de Calendar -->
<script th:src="@{/lib/fullcalendar/main.min.js}"></script>
<div th:replace="~{fragmentos/scripts.html::scripts}"></div>

<!--    Scripts de DataTable -->
<script th:src="@{/lib/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/lib/datatables-bs4/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables.net-responsive/dataTables.responsive.js}"></script>
<script th:src="@{/lib/datatables.net-responsive-bs4/responsive.bootstrap4.js}"></script>
<script th:src="@{/lib/datatables-buttons/dataTables.buttons.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.flash.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/jszip.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.html5.min.js}"></script>

<!-- Initialize DataTable in JavaScript -->
<script>
    $(document).ready(function () {
        //Esta busacando por el ID del tah <table>
        //para que entiendan bien lo que se esta haciendo, leer la documentación de datatable
        $('#listaHistorial').DataTable({
            dom: "<'d-flex justify-content-end pb-4'B>\n" +
                "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>\n" +
                "<'table-responsive'tr>\n" +
                "<'row align-items-center'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 d-flex justify-content-end'p>>",
            language: {
                processing: "Procesando...",
                lengthMenu: "Mostrar  _MENU_  usuarios",
                zeroRecords: "No se encontraron usuarios",
                emptyTable: "No hay usuarios",
                info: "Mostrando usuarios del _START_ al _END_ <br>Total _TOTAL_ usuarios",
                infoEmpty: "Mostrando usuarios del 0 al 0 <br>Total 0 usuarios",
                infoFiltered: "(filtrado de un total de _MAX_ usuarios)",
                loadingRecords: "Cargando...",
                search: "Buscar:",
                paginate: {
                    previous: '<i class="fa fa-lg fa-angle-left mr-2"></i>Anterior',
                    next: 'Siguiente<i class="fa fa-lg fa-angle-right ml-2"></i>'
                }
            },
            autoWidth: false,
            lengthMenu: [
                [6, 10, 15, -1], [6, 10, 15, "Todos"]
            ],
            buttons: [

            ]
        });
    });
</script>

</body>
</html>
