<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/cabecera.html::cabecera(titulo='Dashboard')}">
</head>


<body class="">

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">


    <div class="container" data-layout="container">
        <nav th:replace="~{fragmentos/sidebarpaciente.html::sideBar}"></nav>
        <div class="content" >
            <nav th:replace="~{fragmentos/topbarpaciente.html::topBar(validar = ${arch})}"></nav>

            <div class="card mb-3 bg-card-gradient" style="; background: #FFFFFF">
                <div class="card-body" style="background: #FFFFFF">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md-11">
                            <h1 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; padding-left: 15px; padding-bottom: 5px">
                                Cuestionarios
                            </h1>
                        </div>
                        <div class="col-md-11">
                            <h5 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; padding-left: 15px">
                                Responda las preguntas formuladas para usted
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div th:if="${msg2 != null}" th:text="${msg2}" class="alert alert-success" role="alert"></div>
            <div class="card mb-3">
                <div class="card-header position-relative min-vh-25 mb-7">
                    <div class="bg-holder rounded-soft rounded-bottom-0" style="background-image:url(/img/generic/4.jpg);">
                    </div>
                    <!--/.bg-holder-->
                </div>
                <div class="card-body" style="margin-top: -70px">
                    <br>
                    <div class="row">
                        <div class="col-lg-12" >
                            <form method="post" th:action="@{/paciente/guardarRespuestas}">
                                <div class="row">
                                    <!--<div class="col mb-2" th:each=" preg, vEstado: ${preguntas}">

                                        <label for="disabledTextInput1" th:text="${preg.pregunta}" class="form-label">¿Qué enfermedades previas has tenido/tienes?</label>
                                        <input type="text" class="form-control" name="preguntasIdpreguntas" th:value="${preg.id}" hidden>
                                        <input type="text" id="disabledTextInput1" class="form-control" name="respuesta">
                                    </div>-->
                                    <div class="col mb-2" th:each=" preg, vEstado: ${preguntas}">

                                        <label for="disabledTextInput1" th:text="${preg.pregunta}" class="form-label">¿Qué enfermedades previas has tenido/tienes?</label>
                                        <input type="text" id="disabledTextInput1" class="form-control" th:name="'respuesta' + ${vEstado.index}">
                                        <input type="text" class="form-control" th:name="${preg.cuestionarioIdcuestionario}">
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary" >Enviar cuestionario</button>
                                <!-- Modal -->

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="~{fragmentos/footer.html::footer}"></footer>
        </div>
    </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->




<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<div th:replace="~{fragmentos/scripts.html::scripts}"></div>



</body>
</html>
