<!DOCTYPE html>
<html lang="en"><meta charset="UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width initial-scale=1.0">
<title>historial cita</title>
<!-- GLOBAL MAINLY STYLES-->
<link rel="stylesheet" href="css/style.min.css">
<link href="css/main.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<body>
<div class="content-wrapper">
  <!-- START PAGE CONTENT-->
  <div class="page-heading" style="  margin-top: 100px; text-align: center">
    <h1 class="page-title" style="font-size: 40px; font-weight: bold"><b>historial de cita</b></h1>
  </div>
  <div class="page-content fade-in-up">
    <div class="col-md-6" style="margin: 0 auto">
      <div class="ibox" style="align-content: center">
        <div class="ibox-head">
          <div class="ibox-title">Detalles de la cita</div>
        </div>
        <div class="ibox-body">
          <form method="post">
            <div class="row g-2">
              <div class="col-md">
                <div class="form-floating" style="margin-bottom: 5px;">
                  <input type="text" class="form-control"
                         id="floatingInputGrid1" placeholder="nombrecompleto" name="dni">
                  <label for="floatingInputGrid1">nombre completo del paciente</label>
                </div>

              </div>
              <div class="col-md">
                <div class="form-floating" style="margin-bottom: 5px;">
                  <div class="mb-3">
                    <label for="sede">sede de atencion</label>
                    <input type="text" id="sede" class="form-control" placeholder="Lima centro" disabled>
                  </div>
                </div>
              </div>

            </div>
            <div class="row g-2">
              <div class="col-md">
                <div class="form-floating" style="margin-bottom: 5px;">
                  <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">especialidad</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="cardiologia" disabled>
                  </div>
                </div>
              </div>

              <div class="col-md">
                <div class="form-floating" style="margin-bottom: 5px;">
                  <div class="mb-3">
                    <label for="disabledTextInput1" class="form-label">Doctor</label>
                    <input type="text" class="form-control" placeholder="Manuel Yarleque" id ="disabledTextInput1" disabled>
                  </div>
                </div>
              </div>

            </div>
            <div class="row g-2">
              <div class="col-md">
                <div class="form-floating" style="margin-bottom: 5px;">
                  <input type="text"
                         class="form-control"
                         id="floatingInputGrid5" placeholder="fecha" name="fecha">
                  <label for="floatingInputGrid5">fecha</label>
                </div>

              </div>
              <div class="col-md">
                <div class="form-floating" style="margin-bottom: 5px;">
                  <input type="text"
                         class="form-control"
                         id="floatingInputGrid6" placeholder="hora" name="hora">
                  <label for="disabledTextInput" >hora</label>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <div class="form-floating">
                  <select class="form-select"
                          name="tipo de cita" id="floatingSelectGrid7">
                    <!--<% for (Rol r : roles) {%>

                    <option value="<%=r.getIdRol()%>"<%=usuario != null ? (usuario.getRol().getIdRol() == r.getIdRol() ? "selected" : "") : ""%>><%= r.getNombreRol()%>
                    </option>-->
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                  <label for="floatingSelectGrid7">tipo de cita</label>
                </div>
              </div>
              <div class="col-md">
                <div class="form-floating">
                  <select class="form-select" name="seguro" id="floatingSelectGrid2">

                  </select>
                  <label for="floatingSelectGrid2">seguro de salud</label>
                </div>
              </div>

            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">Aceptar</button>
              <a class="btn btn-secondary">Cancelar</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- END PAGE CONTENT-->
</div>
</body>
</html>