<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/cabecera.html::cabecera(titulo='Doctores')}">
</head>


<body class="">

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container" data-layout="container">
        <nav th:replace="~{fragmentos/sidebarpaciente.html::sideBar}"></nav>
        <div class="content" >
            <nav th:replace="~{fragmentos/topbarpaciente.html::topBar}"></nav>
            <div class="card mb-3 bg-card-gradient">
                <div class="card-body ">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md">
                            <h5 class="mb-2 mb-md-0 text-white">Lista de doctores</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                    <div class="card-header bg-light py-2">
                        <div class="row flex-between-center">
                            <div class="col-auto">
                                <h4 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold">
                                    Busque a su Médico
                                </h4>
                                <h5 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; margin-top: 1rem; margin-bottom: 1rem">Visualice la información de los doctores de su sede</h5>
                            </div>
                            <div class="col-auto">
                                <div class="input-group">
                                    <input class="form-control border-end-0 border rounded-pill" type="search" placeholder="Buscar por especialidad" id="quickSearch2">
                                    <span class="input-group-append">
                                            <button class="btn btn-outline-secondary bg-white border-bottom-0 border rounded-pill ms-n5" type="button" id="quicksearch">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="contenedorCards" style="align-items: center">
                        <div id="pagination">
                            <button id="previousBtn" class="btn btn-secondary" type="button"><span class='fas fa-arrow-left'></span></button>
                            <button id="nextBtn" class="btn btn-secondary" type="button"><span class='fas fa-arrow-right'></span></button>
                        </div>
                        <div id="cardContainer">
                            <div class="row" th:each="i, arch: ${#numbers.sequence(0, doctores.size() - 1, 2)}">
                                <div class="col-md-6 col-lg-6">
                                    <div class="card doctores" th:if="${i < doctores.size()}" style="margin: 5px">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col" >
                                                    <div class="avatar" style="display: flex; align-items: center">
                                                        <img class="rounded-circle" src="/img/team/avatar.png" alt="" style=""/>
                                                    </div>
                                                </div>
                                                <div class="col" style="">
                                                    <h4 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; margin-top: 20px;" th:text="|Doctora ${doctores[i].nombre}|" th:if="${doctores[i].sexo=='F'}">
                                                    </h4>
                                                    <h4 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; margin-top: 20px;" th:text="|Doctor ${doctores[i].nombre}|" th:if="${doctores[i].sexo=='M'}">
                                                    </h4>
                                                    <h5 class="mb-2 mb-md-0 especialidadDoctor" style="color: #3d8af7; font-weight: bold; margin-top: 1rem; margin-bottom: 1rem" th:text="${doctores[i].especialidad}"></h5>
                                                    <h6 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; margin-top: 20px;">
                                                        Próximos horarios de disponibilidad:
                                                    </h6>
                                                    <div class="form-group" style="text-align: center">
                                                        <input class="form-control col text-black" id="" type="text" placeholder="Sábado 30/Marzo - 10:00hrs" readonly="" style="text-align: center; margin-top: 5px;margin-bottom: 5px;">
                                                        <input class="form-control col text-black" id="" type="text" placeholder="Lunes 01/Abril - 08:00hrs" readonly="" style="text-align: center">
                                                    </div>
                                                    <!--Button trigger modal-->
                                                    <button class="btn btn-info" type="button" data-toggle="modal" th:data-target="'#PerfilDoctor' + ${arch.index+1}">Ver más</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="card doctores" th:if="${i + 1 < doctores.size()}" style="margin: 5px">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col" >
                                                    <div class="avatar" style="display: flex; align-items: center">
                                                        <img class="rounded-circle" src="/img/team/avatar.png" alt="" style=""/>
                                                    </div>
                                                </div>
                                                <div class="col" style="">
                                                    <h4 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; margin-top: 20px;" th:text="|Doctora ${doctores[i+1].nombre}|" th:if="${doctores[i+1].sexo=='F'}">
                                                    </h4>
                                                    <h4 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; margin-top: 20px;" th:text="|Doctor ${doctores[i+1].nombre}|" th:if="${doctores[i+1].sexo=='M'}">
                                                    </h4>
                                                    <h5 class="mb-2 mb-md-0 especialidadDoctor" style="color: #3d8af7; font-weight: bold; margin-top: 1rem; margin-bottom: 1rem" th:text="${doctores[i+1].especialidad}"></h5>
                                                    <h6 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; margin-top: 20px;">
                                                        Próximos horarios de disponibilidad:
                                                    </h6>
                                                    <div class="form-group" style="text-align: center">
                                                        <input class="form-control col text-black" id="" type="text" placeholder="Sábado 30/Marzo - 10:00hrs" readonly="" style="text-align: center; margin-top: 5px;margin-bottom: 5px;">
                                                        <input class="form-control col text-black" id="" type="text" placeholder="Lunes 01/Abril - 08:00hrs" readonly="" style="text-align: center">
                                                    </div>
                                                    <!--Button trigger modal-->
                                                    <button class="btn btn-info" type="button" data-toggle="modal" th:data-target="'#PerfilDoctor' + ${arch.index+2}">Ver más</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div th:each="doctor, arch : ${doctores}">
        <div class="modal fade" th:id="'PerfilDoctor' + ${arch.index + 1}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" th:text="|Perfil Dr. ${doctor.nombre}|" th:if="${doctor.sexo=='M'}"></h5>
                        <h5 class="modal-title" id="exampleModalLabel" th:text="|Perfil Dra. ${doctor.nombre}|" th:if="${doctor.sexo=='F'}"></h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span class="font-weight-light" aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <form>
                                        <div class="row" style="display: flex; align-items: center">
                                            <!-- Columna 1 -->
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="nombres">Nombres</label>
                                                    <input type="text" id="nombres" name="nombres" th:placeholder="${doctor.nombre}" class="form-control" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label for="cedula">Cedula profesional</label>
                                                    <input type="text" id="cedula" name="cedula" th:placeholder="${doctor.cedula}" class="form-control" disabled>
                                                </div>
                                            </div>
                                            <!-- Columna 2 -->
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="apellidos">Apellidos</label>
                                                    <input type="text" id="apellidos" name="apellidos" th:placeholder="${doctor.apellido}" class="form-control" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label for="especialidad">Especialidad</label>
                                                    <input type="text" id="especialidad" name="especialidad" th:placeholder="${doctor.especialidad}" class="form-control" disabled>
                                                </div>
                                            </div>

                                        </div>

                                        <!-- Botón de envío -->

                                    </form>
                                </div>
                                <div class="col">
                                    <div class="avatar avatar-2x1" style="display: flex; align-items: center; justify-content: space-around">
                                        <img class="rounded-circle" src="/img/team/avatar.png" alt="" style="max-height: 200px; max-width: 200px"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row no-gutters">
                                <div class="col-lg-6 pl-lg-2 mb-3">
                                    <div class="card mb-3 h-100">
                                        <div class="card-header bg-light" style="text-align: center;">
                                            <h5 class="mb-0">Horarios de disponibilidad</h5>
                                        </div>
                                        <div class="card-body fs--1">
                                            <div class="card-body" style="max-height:30rem; overflow-y: auto; text-align: center">
                                                <div class="row" style="display: flex; align-items: center">
                                                    <div class="col" style="text-align: center;">
                                                        <p class="text-1000 mb-0">10:00 - 10:30 am</p>
                                                    </div>
                                                    <div class="col" style="text-align: center">
                                                        <button class="btn btn-primary" type="button" data-dismiss="modal" data-toggle="modal" data-target="#AgendarCita">Agendar cita</button>
                                                    </div>
                                                </div>
                                                <div class="row" style="display: flex; align-items: center; margin-bottom: 5px;margin-top: 5px;">
                                                    <div class="col" style="text-align: center;">
                                                        <p class="text-1000 mb-0">10:30 - 11:00 am</p>
                                                    </div>
                                                    <div class="col" style="text-align: center">
                                                        <button class="btn btn-primary" type="button" data-dismiss="modal" data-toggle="modal" data-target="#AgendarCita">Agendar cita</button>
                                                    </div>
                                                </div>
                                                <div class="row" style="display: flex; align-items: center; margin-bottom: 5px;margin-top: 5px;">
                                                    <div class="col" style="text-align: center;">
                                                        <p class="text-1000 mb-0">11:30 - 12:00 pm</p>
                                                    </div>
                                                    <div class="col" style="text-align: center">
                                                        <button class="btn btn-primary" type="button" data-dismiss="modal" data-toggle="modal" data-target="#AgendarCita">Agendar cita</button>
                                                    </div>
                                                </div>
                                                <div class="row" style="display: flex; align-items: center; margin-bottom: 5px;margin-top: 5px;">
                                                    <div class="col" style="text-align: center;">
                                                        <p class="text-1000 mb-0">12:00 - 12:30 pm</p>
                                                    </div>
                                                    <div class="col" style="text-align: center">
                                                        <button class="btn btn-primary" type="button" data-dismiss="modal" data-toggle="modal" data-target="#AgendarCita">Agendar cita</button>
                                                    </div>
                                                </div>
                                                <div class="row" style="display: flex; align-items: center; margin-bottom: 5px;margin-top: 5px;">
                                                    <div class="col" style="text-align: center;">
                                                        <p class="text-1000 mb-0">13:30 - 14:00 pm</p>
                                                    </div>
                                                    <div class="col" style="text-align: center">
                                                        <button class="btn btn-primary" type="button" data-dismiss="modal" data-toggle="modal" data-target="#AgendarCita">Agendar cita</button>
                                                    </div>
                                                </div>
                                                <div class="row" style="display: flex; align-items: center; margin-bottom: 5px;margin-top: 5px;">
                                                    <div class="col" style="text-align: center;">
                                                        <p class="text-1000 mb-0">14:30 - 15:00 pm</p>
                                                    </div>
                                                    <div class="col" style="text-align: center">
                                                        <button class="btn btn-primary" type="button" data-dismiss="modal" data-toggle="modal" data-target="#AgendarCita">Agendar cita</button>
                                                    </div>
                                                </div>
                                                <div class="row" style="display: flex; align-items: center; margin-bottom: 5px;margin-top: 5px;">
                                                    <div class="col" style="text-align: center;">
                                                        <p class="text-1000 mb-0">15:30 - 16:00 pm</p>
                                                    </div>
                                                    <div class="col" style="text-align: center">
                                                        <button class="btn btn-primary" type="button" data-dismiss="modal" data-toggle="modal" data-target="#AgendarCita">Agendar cita</button>
                                                    </div>
                                                </div>
                                                <div class="row" style="display: flex; align-items: center">
                                                    <div class="col" style="text-align: center;">
                                                        <p class="text-1000 mb-0">16:00 - 16:30 pm</p>
                                                    </div>
                                                    <div class="col" style="text-align: center">
                                                        <button class="btn btn-primary" type="button" data-dismiss="modal" data-toggle="modal" data-target="#AgendarCita">Agendar cita</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 pl-lg-2 mb-3 calendar">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-falcon-secondary btn-sm" type="button" data-dismiss="modal">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<div th:replace="~{fragmentos/scripts.html::scripts}"></div>
<script th:src="@{/lib/isotope/isotope.pkgd.js}"></script>
<script th:src="@{/lib/fullcalendar/main.min.js}"></script>
<script th:inline="javascript">
    $(document).ready(function() {
        function renderCalendars() {
            $('.calendar').each(function(){
                var calendarEl = this;
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: 'dayGridWeek',
                    headerToolbar: {
                        left: 'prev,next',
                        center: 'title',
                        right: 'dayGridWeek,dayGridDay' // user can switch between the two
                    },
                    defaultView: 'month',
                    weekday: 'long',
                    selectable: true,
                    height: 650,
                    events: [],
                    eventTextColor: '#ffffff',
                    eventBackgroundColor: '#3d8af7',
                    eventDisplay: 'block',
                    eventTimeFormat:{
                        hour: 'numeric',
                        minute: '2-digit',
                        meridiem: 'short'
                    },
                    firstDay: 1,
                    locale: 'es',
                });
                calendar.render();
            });
        }
        renderCalendars();
    });
</script>
<script>
    $(document).ready(function() {
        var currentPage = 1;
        var pageSize = 4; // Number of cards per page (2 rows with 2 cards each)
        var totalCards = $('.doctores').length; // Total count of cards


        function renderCards() {
            $('.doctores').each(function(index) {
                var row = Math.floor(index / 2) + 1; // Calculate the row number (1 or 2)
                if (row >= (currentPage - 1) * 2 + 1 && row <= currentPage * 2) {
                    $(this).show(); // Display relevant cards
                } else {
                    $(this).hide(); // Hide other cards
                }
            });
        }

        function handlePreviousPage() {
            if (currentPage > 1) {
                currentPage--;
                renderCards();
            }
        }

        function handleNextPage() {
            var totalPages = Math.ceil(totalCards / pageSize);
            if (currentPage < totalPages) {
                currentPage++;
                renderCards();
            }
        }

        // Event listeners for navigation buttons
        $('#previousBtn').on('click', handlePreviousPage);
        $('#nextBtn').on('click', handleNextPage);

        // Initial render of cards on the first page
        renderCards();


        // Filter cards based on the input value
        $('#quicksearch').on('click',
            function() {
                var filterValue = $("#quickSearch2").val().toLowerCase(); // Convert input value to lowercase
                console.log("filerValue: "+filterValue);
                $('.especialidadDoctor').each(function(){
                    var especialidad = $(this).text().toLowerCase(); // Get the card title and convert to lowercasecardTitle
                    console.log("especialidad: "+especialidad);
                    if(especialidad.includes(filterValue)){

                    }
                })
            });
    });
</script>
</body>
</html>
