<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/cabecera.html::cabecera(titulo='Doctores')}">
</head>

<body class="">

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container" data-layout="container">
        <nav th:replace="~{fragmentos/sidebarpaciente.html::sideBar}"></nav>
        <div class="content" >
            <nav th:replace="~{fragmentos/topbarpaciente.html::topBar}"></nav>
            <div class="card mb-3 bg-card-gradient">
                <div class="card-body ">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md">
                            <h5 class="mb-2 mb-md-0 text-white">Lista de doctores</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                    <div class="card-header bg-light py-2">
                        <div class="row flex-between-center">
                            <div class="col-auto">
                                <h4 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold">
                                    Busque a su Médico
                                </h4>
                                <h5 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; margin-top: 1rem; margin-bottom: 1rem">Visualice la información de los doctores de su sede</h5>
                            </div>
                            <div class="col-auto">
                                <br>
                                <div>
                                    <div class="form-group">
                                        <div class="dropdown">
                                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                                Filtrar por especialidad
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" th:each="especialidad : ${especialidades}"
                                                       th:href="@{'/paciente/listaDoctores?idEspecialidad=' + ${especialidad.id}}"
                                                       th:text="${especialidad.nombreEspecialidad}"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="contenedorCards" style="align-items: center">
                        <div id="pagination">
                            <button id="previousBtn" class="btn btn-secondary" type="button"><span class='fas fa-arrow-left'></span></button>
                            <button type="button" class="btn page-item"><a class="page-link" id="pageNumber">1</a></button>
                            <button id="nextBtn" class="btn btn-secondary" type="button"><span class='fas fa-arrow-right'></span></button>
                        </div>
                        <div id="cardContainer">
                            <div class="row" th:each="i, arch: ${#numbers.sequence(0, doctores.size() - 1, 2)}">
                                <div class="col-md-6 col-lg-6">
                                    <div class="card doctores" th:if="${i < doctores.size()}" style="margin: 5px">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col" >
                                                    <div class="avatar" style="display: flex; align-items: center">
                                                        <img class="rounded-circle" th:src="@{'/fotoPerfilDoctor?dni='+${doctores[i].dni}}" alt="" style="max-height: 200px; max-width: 200px"/>
                                                    </div>
                                                </div>
                                                <div class="col" style="">
                                                    <h4 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; margin-top: 20px;" th:text="|Dra. ${doctores[i].nombre}|" th:if="${doctores[i].sexo=='F'}">
                                                    </h4>
                                                    <h4 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; margin-top: 20px;" th:text="|Dr. ${doctores[i].nombre}|" th:if="${doctores[i].sexo=='M'}">
                                                    </h4>
                                                    <h5 class="mb-2 mb-md-0 especialidadDoctor" style="color: #3d8af7; font-weight: bold; margin-top: 1rem; margin-bottom: 1rem" th:text="${doctores[i].especialidad}"></h5>
                                                    <h6 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; margin-top: 20px;">
                                                        Próximos horarios de disponibilidad:
                                                    </h6>
                                                    <div class="form-group" style="text-align: center">
                                                        <input class="form-control col text-black inputHoras" th:id="|hora1${doctores[i].dni}|" type="text" readonly="" style="text-align: center; margin-top: 5px;margin-bottom: 5px;">
                                                        <input class="form-control col text-black inputHoras" th:id="|hora2${doctores[i].dni}|" type="text" readonly="" style="text-align: center">
                                                    </div>
                                                    <!--Button trigger modal-->
                                                    <button class="btn btn-info" type="button" data-toggle="modal" th:data-target="'#PerfilDoctor' + ${doctores[i].dni}">Ver más</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="card doctores" th:if="${i + 1 < doctores.size()}" style="margin: 5px">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col" >
                                                    <div class="avatar" style="display: flex; align-items: center">
                                                        <img class="rounded-circle" th:src="@{'/fotoPerfilDoctor?dni='+${doctores[i+1].dni}}" alt="" style="max-height: 200px; max-width: 200px"/>
                                                    </div>
                                                </div>
                                                <div class="col" style="">
                                                    <h4 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; margin-top: 20px;" th:text="|Dra. ${doctores[i+1].nombre}|" th:if="${doctores[i+1].sexo=='F'}">
                                                    </h4>
                                                    <h4 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; margin-top: 20px;" th:text="|Dr. ${doctores[i+1].nombre}|" th:if="${doctores[i+1].sexo=='M'}">
                                                    </h4>
                                                    <h5 class="mb-2 mb-md-0 especialidadDoctor" style="color: #3d8af7; font-weight: bold; margin-top: 1rem; margin-bottom: 1rem" th:text="${doctores[i+1].especialidad}"></h5>
                                                    <h6 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; margin-top: 20px;">
                                                        Próximos horarios de disponibilidad:
                                                    </h6>
                                                    <div class="form-group" style="text-align: center">
                                                        <input class="form-control col text-black inputHoras" th:id="|hora1${doctores[i+1].dni}|" type="text" readonly="" style="text-align: center; margin-top: 5px;margin-bottom: 5px;">
                                                        <input class="form-control col text-black inputHoras" th:id="|hora2${doctores[i+1].dni}|" type="text" readonly="" style="text-align: center">
                                                    </div>
                                                    <!--Button trigger modal-->
                                                    <button class="btn btn-info" type="button" data-toggle="modal" th:data-target="'#PerfilDoctor' + ${doctores[i+1].dni}">Ver más</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div th:each="doctor, arch: ${doctores}">
        <div class="modal fade modalDoctor" th:id="'PerfilDoctor' + ${doctor.dni}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Agendar Cita</h5>
                        <br>
                        <h5 class="modal-title" id="exampleModalLabel1" th:text="|Dr. ${doctor.nombre}|" th:if="${doctor.sexo=='M'}"></h5>
                        <h5 class="modal-title" id="exampleModalLabel2" th:text="|Dra. ${doctor.nombre}|" th:if="${doctor.sexo=='F'}"></h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span class="font-weight-light" aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <form>
                                        <div class="row" style="display: flex; align-items: center">
                                            <!-- Columna 1 -->
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="nombres">Nombres</label>
                                                    <input type="text" id="nombres" name="nombres" th:placeholder="${doctor.nombre}" class="form-control" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label for="cedula">Nro. de Colegiatura</label>
                                                    <input type="text" id="cedula" name="cedula" th:placeholder="${doctor.cedula}" class="form-control" disabled>
                                                </div>
                                            </div>
                                            <!-- Columna 2 -->
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="apellidos">Apellidos</label>
                                                    <input type="text" id="apellidos" name="apellidos" th:placeholder="${doctor.apellido}" class="form-control" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label for="especialidad">Especialidad</label>
                                                    <input type="text" id="especialidad" name="especialidad" th:placeholder="${doctor.especialidad}" class="form-control" disabled>
                                                </div>
                                            </div>

                                        </div>

                                        <!-- Botón de envío -->

                                    </form>
                                </div>
                                <div class="col">
                                    <div class="avatar avatar-2x1" style="display: flex; align-items: center; justify-content: space-around">
                                        <img class="rounded-circle" th:src="@{'/fotoPerfilDoctor?dni='+${doctor.dni}}" alt="" style="max-height: 200px; max-width: 200px"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row no-gutters">
                                <div class="col-lg-12 pl-lg-2 mb-3 calendar " th:id="${doctor.dni}">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-falcon-secondary btn-sm" type="button" data-dismiss="modal">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="modal fade" id="agendarCita" role="dialog" tabindex="-1" aria-labelledby="exampleModal1Label" aria-hidden="true" data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModal1Label">Agendar Cita</h1>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span class="font-weight-light" aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <!-- columna 1 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="especialidadId">Especialidad:</label>
                                <input type="text" name="especialidadId" id="especialidadId" class="form-control" readonly="" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="fecha">Fecha:</label>
                                <input type="text" name="fecha" id="fecha" class="form-control" readonly="" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="tipocitaId">Tipo de cita: </label>
                                <input type="text" name="tipocitaId" id="tipocitaId" class="form-control" readonly="" placeholder="">
                            </div>
                        </div>
                        <!-- columna 2 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="doctorDni">Doctor:</label>
                                <input type="text" name="doctorDni" id="doctorDni" class="form-control" readonly="" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="hora">Hora:</label>
                                <input type="text" name="hora" id="hora" class="form-control" readonly="" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="sedeId">Sede:</label>
                                <input type="text" name="sedeId" id="sedeId" class="form-control" readonly="" placeholder="">
                            </div>
                        </div>
                    </div>
                    <hr style="height: 1px; background-color: #333; border: none">
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label for="modalidadId">Modalidad:</label>
                            <select  class="form-control" name="modalidadId" id="modalidadId">
                                <option selected>Elegir modalidad de la cita...</option>
                                <option value="Presencial">Presencial</option>
                                <option value="Virtual">Virtual</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <a type="button" class="btn btn-primary" id="clash">Agendar cita</a>
            </div>
        </div>
    </div>
</div>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<div th:replace="~{fragmentos/scripts.html::scripts}"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
<script th:inline="javascript">
    $(document).ready(function() {
        var doctores = [[${doctores}]];
        $.each(doctores, function (i){
            $.ajax({
                method: 'GET',
                data: {
                    dni: doctores[i].dni,
                },
                url: 'http://34.28.24.16:8081/api/doctores',
                headers: {
                    'Content-Type': 'application/json' // Set the Content-Type header
                },
                success: function(response) {
                    var horariosMes = response.horariosMes;
                    $('.calendar').each(function(){
                        var calendarEl = this;
                        var elementId = calendarEl.id;
                        if(elementId===horariosMes.doctorDni){
                            var calendar = new FullCalendar.Calendar(calendarEl, {
                                initialView: 'dayGridWeek',
                                headerToolbar: {
                                    left: 'prev,next',
                                    center: 'title',
                                    right: 'dayGridWeek,dayGridDay' // user can switch between the two
                                },
                                defaultView: 'month',
                                weekday: 'long',
                                selectable: true,
                                height: 650,
                                events: [],
                                eventTextColor: '#ffffff',
                                eventBackgroundColor: '#3d8af7',
                                eventDisplay: 'block',
                                eventTimeFormat:{
                                    hour: 'numeric',
                                    minute: '2-digit',
                                    meridiem: 'short'
                                },
                                firstDay: 1,
                                locale: 'es',
                                eventClick: function(info) {
                                    $(".modalDoctor").each(function (){
                                        var modal = this;
                                        var idmodal = modal.id;
                                        var compare = "PerfilDoctor";
                                        compare += horariosMes.doctorDni;
                                        if(idmodal===compare){
                                            $(this).modal('hide');
                                        }
                                    });
                                    let modalA = $('#agendarCita');
                                    modalA.modal('show');
                                    modalA.on('shown.bs.modal', function() {
                                        var doctores = [[${doctores}]];
                                        var pacienteDni = [[${session.usuario.id}]];
                                        var especialidades = [[${especialidades}]];
                                        let especialidadId;
                                        $.each(doctores, function (k, doctor){
                                            if(doctor.dni===horariosMes.doctorDni){
                                                let doctorcito = $("#doctorDni");
                                                doctorcito.attr('placeholder', doctor.nombre + " " + doctor.apellido);
                                                $.each(especialidades, function (z, especialidad){
                                                    if(doctor.especialidad===especialidad.nombreEspecialidad){
                                                        let specialty = $("#especialidadId");
                                                        specialty.attr('placeholder', doctor.especialidad);
                                                        especialidadId = especialidad.id;
                                                    }
                                                })
                                            }
                                        })
                                        let fecha = $("#fecha");
                                        let hora = $("#hora");
                                        let tipocita = $("#tipocitaId");
                                        let sede = $("#sedeId");
                                        let sedeNombre = [[${sede.nombre}]];
                                        let sedeId = [[${sede.id}]];
                                        var time = moment(info.event.title, 'HH:mm');
                                        var formattedTime = time.format('h:mm A');
                                        var date = moment(info.event.start, 'YYYY-MM-DD');
                                        var formattedDate = date.format('DD-MM-YYYY');
                                        hora.attr('placeholder', formattedTime);
                                        fecha.attr('placeholder', formattedDate);
                                        tipocita.attr('placeholder', 'Consulta médica');
                                        sede.attr('placeholder', sedeNombre);
                                        $("#clash").on('click', function (){
                                            let modalidad = $("#modalidadId option:selected").val();
                                            console.log(modalidad + ' ' + formattedDate + ' ' + info.event.title + ' ' + pacienteDni);
                                            $.ajax({
                                                method: 'POST',
                                                data: {
                                                    sedeId: sedeId,
                                                    fecha: formattedDate,
                                                    tipoCitaId: 1,
                                                    especialidadId: especialidadId,
                                                    examenId: null,
                                                    modalidad: modalidad,
                                                    doctorDni: horariosMes.doctorDni,
                                                    hora: info.event.title,
                                                    pacienteDni: pacienteDni
                                                },
                                                url: 'http://34.28.24.16:8081/api/agendar2',
                                                success: function(response) {
                                                    alert(response.msg);
                                                    location.reload();
                                                },
                                                error: function(xhr, status, error) {
                                                    // Error handling
                                                    console.log(error);
                                                }
                                            });
                                        })
                                    });
                                }
                            });
                            var diasDelMes = horariosMes.diasDelMes;
                            $.each(diasDelMes,function(i, object) {
                                var dia = object.dia;
                                var horas = object.horas;
                                var events = [];
                                $.each(horas, function (j, hora){
                                    var event = {
                                        title: hora,
                                        start: dia,

                                    };
                                    events.push(event);
                                    if(i===0 && j===0){
                                       $(".inputHoras").each(function (){
                                           var input = this;
                                           var idInput = input.id;
                                           var compare = "hora1";
                                           compare += horariosMes.doctorDni;
                                           if(idInput===compare){
                                               var time = moment(hora, 'HH:mm');
                                               var formattedTime = time.format('h:mm A');
                                               var date = moment(dia, 'YYYY-MM-DD');
                                               var formattedDate = date.format('DD/MM/YYYY');
                                               input.placeholder = formattedDate + ' ' + formattedTime;
                                           }
                                       })
                                    }
                                    if(i===0 && j===1){
                                        $(".inputHoras").each(function (){
                                            var input = this;
                                            var idInput = input.id;
                                            var compare = "hora2";
                                            compare += horariosMes.doctorDni;
                                            if(idInput===compare){
                                                var time = moment(hora, 'HH:mm');
                                                var formattedTime = time.format('h:mm A');
                                                var date = moment(dia, 'YYYY-MM-DD');
                                                var formattedDate = date.format('DD/MM/YYYY');
                                                input.placeholder = formattedDate + ' ' + formattedTime;
                                            }
                                        })
                                    }
                                });
                                calendar.addEventSource(events);
                            });
                            calendar.render();
                        }
                    });
                },
                error: function(xhr, status, error) {
                    // Error handling
                    console.log(error);
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function() {
        var boton = $("#pageNumber");
        var currentPage = 1;
        var pageSize = 4; // Number of cards per page (2 rows with 2 cards each)
        var totalCards = $('.doctores').length; // Total count of cards


        function renderCards() {
            $('.doctores').each(function(index) {
                var row = Math.floor(index / 2) + 1; // Calculate the row number (1 or 2)
                if (row >= (currentPage - 1) * 2 + 1 && row <= currentPage * 2) {
                    $(this).show(); // Display relevant cards
                } else {
                    $(this).hide(); // Hide other cards
                }
            });
        }

        function handlePreviousPage() {
            if (currentPage > 1) {
                currentPage--;
                renderCards();
                boton.text(currentPage);
            }
        }

        function handleNextPage() {
            var totalPages = Math.ceil(totalCards / pageSize);
            if (currentPage < totalPages) {
                currentPage++;
                renderCards();
                boton.text(currentPage);
            }
        }

        // Event listeners for navigation buttons
        $('#previousBtn').on('click', handlePreviousPage);
        $('#nextBtn').on('click', handleNextPage);

        // Initial render of cards on the first page
        renderCards();

    });
</script>
</body>
</html>
