<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/cabecera.html::cabecera(titulo='Responder Cuestionario')}">
</head>


<body class="">

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">

  <div class="container" data-layout="container">
    <nav th:replace="~{fragmentos/sidebarpaciente.html::sideBar}"></nav>
    <div class="content">
      <nav th:replace="~{fragmentos/topbarpaciente.html::topBar(validar = ${arch})}"></nav>
      <div class="content">
        <div class="card mb-3 bg-card-gradient">
          <div class="card-body" style="background: white;">
            <div class="row justify-content-between align-items-center">
              <div class="col-md-11">
                <h1 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; padding-left: 15px; padding-bottom: 5px">
                  Responder cuestionario
                </h1>
              </div>
              <div class="col-md-11">
                <h5 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; padding-left: 15px">
                  Responda a las siguientes preguntas.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ===============================================-->
      <!--    static Content-->
      <!-- ===============================================-->
      <div class="card mb-3 bg-card-gradient">
        <div class="card-body" style="background-color: white">
          <div class="container">
            <form th:action="@{/paciente/guardarRespuestas}" method="post" >
              <div class="row">
                <!-- columna 1 -->
                <div class="col-sm-6" th:each=" p: ${preguntas}">
                  <div class="form-group" >

                    <!--<input type="hidden" name="paciente.id" th:value="${session.usuario.id}" class="form-control">-->
                    <label th:text="${p.getPregunta()}"></label>
                  </div>
                </div>
              </div>

              <!-- botón de envío -->
              <button class="btn btn-primary submit">Enviar respuestas</button>
              <a class="btn btn-secondary" style="text-align: center;background: #b38df7; border-radius: 15px;" th:href="@{/paciente/cuestionarios}">Cancelar</a>
            </form>
          </div>
        </div>
      </div>

      <footer th:replace="~{fragmentos/footer.html::footer}"></footer>
    </div>
  </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->




<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<div th:replace="~{fragmentos/scripts.html::scripts}"></div>
</body>

</html>>


