<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragmentos/cabecera.html::cabecera(titulo='Escoja sede')}">

<body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/flatpickr.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/flatpickr.min.css">
<div style="background: white;">
    <nav th:replace="~{fragmentos/navbarprincipal.html::navbarprincipal}"></nav>
</div>

<div style="position: relative; display: inline-block; width: 100%; height: 977px; ">
    <img class="card-img-top img-fluid" th:src="@{../img/principalpage/clinica_difuminada.png}" style="height: 100%; width: 100%; object-fit: cover;">
    <div style="transform: translate(-50%, -50%);color: #4d5969;top: 50%;left: 50%;position: absolute;">
        <div style="display: flex; justify-content: center; width: 100%;">
            <div class="card" style="width: 50%; border: 1px solid #d8e2ef;">
                <div class="card-body" style="padding: 25px;">
                    <div class="alert alert-success" role="alert" th:if="${minutos != null}" th:text="${minutos}">

                    </div>
                    <label style="margin: 0;"> Para poder continuar con el ingreso a la pagina <br>
                        Debe escoger su sede mas cercana  <br>
                    </label>


                    <form method="POST" th:action="@{'/escogerSede'}" >
                        <label >Escoger sede: </label>
                        <div class="row">
                            <div class="col-sm-6" th:each="sede : ${sedes}" th:if="${sede.id==null}">
                                <a type="button" th:href="@{'/paciente/principal' + '?idSede=' + ${sede.id}}">
                                    <div style="display: flex; align-items: center; justify-content: space-around">
                                        <select class="form-control" id="zona" >
                                            <option  th:each="sede : ${sedes}"
                                                     th:value="${sede.id}"
                                                     th:text="${sede.nombre}"
                                                     ></option>
                                        </select>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>