<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/cabecera.html::cabecera(titulo='Tracking')}">
</head>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
        crossorigin=""></script>
<script src="../../js/polyline.js"></script>
<script src="../../js/leaflet.geometryutil.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src='https://8x8.vc/libs/external_api.min.js' async></script>
<style>
  #map {
    height: 300px;
    width: 500px;
  }
</style>
<body class="">

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
  <div class="container" data-layout="container">
    <nav th:replace="~{fragmentos/sidebarpaciente.html::sideBar}"></nav>
    <div class="content" >
      <nav th:replace="~{fragmentos/topbarpaciente.html::topBar}"></nav>
      <div class="content">
          <div class="card mb-3 bg-card-gradient">
              <div class="card-body" style="background: white;">
                  <div class="row justify-content-between align-items-center">
                      <div class="col-md-11">
                          <h1 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; padding-left: 15px; padding-bottom: 5px">
                              Delivery de medicamentos
                          </h1>
                      </div>
                      <div class="col-md-11">
                          <h5 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; padding-left: 15px">
                            Visualice el progreso del delivery de sus medicamentos
                          </h5>
                      </div>
                  </div>
              </div>
          </div>
        <div class="card-deck">
              <div class="card-body text-white fs--1" style="display: flex; align-items: center; justify-content: space-around">
                  <span hidden id="porcentajeRecorrido"></span>
                <div id="map" class="col-sm-12"></div>
              </div>
              <div class="card-footer bg-transparent">
              </div>
        </div>
      </div>
        <footer th:replace="~{fragmentos/footer.html::footer}"></footer>
    </div>
  </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->



<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<div th:replace="~{fragmentos/scripts.html::scripts}"></div>
<script th:inline="javascript">
    $(document).ready(function () {
        var porcentajeRecorridoActual; // Variable para almacenar el valor del porcentajeRecorrido

        $('#zona').on('change', function () {
            set_map($(this).val());
        });
        var map = L.map('map')

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        ;
        var marker,sede,ruta,tiempo,tiempoStr,latitudActual,longitudActual;

        function set_map() {
            /*<![CDATA[*/
            sede = [[${sede}]];
            ruta = [[${ruta}]];
            tiempoStr = [[${tiempo}]]; // Reemplaza esto con el valor de tiempo que tienes
            tiempo = parseInt(tiempoStr); // Extrae el valor numérico de la cadena

            var latitud, longitud, nombre;
            longitud = sede.longitud;
            latitud = sede.latitud;
            nombre = sede.nombre;
            console.log("Latitud: " + latitud + ", Longitud: " + longitud + ", Nombre: " + nombre);
            map.setView([latitud, longitud], 30);
            if (marker) {
                marker.setLatLng([latitud, longitud])
                    .bindPopup("Delivery")
                    .openPopup();
            } else {
                marker = L.marker([latitud, longitud]).addTo(map)
                    .bindPopup("Delivery")
                    .openPopup();
            }

            var rutaOptimaCodificada = ruta; // Reemplaza con la ruta óptima codificada que tienes

// Decodifica la representación codificada de la ruta óptima
            var coordenadas = decodePolyline(rutaOptimaCodificada);

// Función para decodificar una cadena codificada en formato polyline
            function decodePolyline(encoded) {
                var index = 0;
                var len = encoded.length;
                var lat = 0;
                var lng = 0;
                var coordinates = [];

                while (index < len) {
                    var b;
                    var shift = 0;
                    var result = 0;

                    do {
                        b = encoded.charCodeAt(index++) - 63;
                        result |= (b & 0x1f) << shift;
                        shift += 5;
                    } while (b >= 0x20);

                    var dlat = ((result & 1) ? ~(result >> 1) : (result >> 1));
                    lat += dlat;

                    shift = 0;
                    result = 0;

                    do {
                        b = encoded.charCodeAt(index++) - 63;
                        result |= (b & 0x1f) << shift;
                        shift += 5;
                    } while (b >= 0x20);

                    var dlng = ((result & 1) ? ~(result >> 1) : (result >> 1));
                    lng += dlng;

                    var latlng = [lat * 1e-5, lng * 1e-5];
                    coordinates.push(latlng);
                }

                return coordinates;
            }

            console.log("coordinates: " + coordenadas)

// Crea una polilínea con las coordenadas decodificadas y agrega al mapa
            var polyline = L.polyline(coordenadas, {color: 'red'}).addTo(map);

            var tiempoTotal = tiempo * 60; // Convierte el tiempo a segundos

            console.log("time: " + tiempoTotal)

            function calculateDistance(coordinates) {
                var distance = 0;

                for (var i = 0; i < coordinates.length - 1; i++) {
                    var lat1 = coordinates[i][0];
                    var lon1 = coordinates[i][1];
                    var lat2 = coordinates[i + 1][0];
                    var lon2 = coordinates[i + 1][1];

                    var p = 0.017453292519943295;    // Math.PI / 180
                    var c = Math.cos;
                    var a = 0.5 - c((lat2 - lat1) * p) / 2 + c(lat1 * p) * c(lat2 * p) * (1 - c((lon2 - lon1) * p)) / 2;
                    var d = 12742 * Math.asin(Math.sqrt(a)); // 2 * R; R = 6371 km

                    distance += d;
                }

                return distance;
            }

            var distanciaTotalInicial = calculateDistance(coordenadas); // Obtiene la distancia total de la ruta
            console.log("distancia: " + distanciaTotalInicial)

            var velocidad = distanciaTotalInicial / tiempoTotal; // Calcula la velocidad CONSTANTE necesaria para completar la ruta en el tiempo especificado
            console.log("velocidad: " + velocidad)

            var distanciaRecorrida = 0;
            var tiempoTranscurrido = 0;

            const socket = io('http://localhost:8082');
            socket.on('connect', () => {
                console.log('Conectado al servidor WebSocket');
            });
            socket.on('porcentajeRecorrido', function (porcentajeRecorrido) {
                // Actualiza el valor de la variable porcentajeRecorrido
                porcentajeRecorridoActual = porcentajeRecorrido;
                console.log('Porcentaje de Recorrido:', porcentajeRecorridoActual);

                var punto = L.GeometryUtil.interpolateOnLine(map, polyline, porcentajeRecorridoActual); // Obtiene el punto en el porcentaje del recorrido
                marker.setLatLng(punto.latLng); // Actualiza la posición del marcador en el mapa
                console.log(punto.latLng)
                console.log("tiempo: " + tiempoTranscurrido)

                // Obtén la latitud y longitud actuales
                var latitud = punto.latLng.lat;
                var longitud = punto.latLng.lng;

                // Crea un objeto de datos para enviar al servidor
                console.log('Latitud actual: ' + latitud);
                console.log('Longitud actual: ' + longitud);

            });
        }
        set_map()

        /*]]>*/
    });

</script>

<!--para descarga de consentimientos en pdf-->
</body>
</html>
