<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/cabecera.html::cabecera(titulo='Boleta')}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>


<body class="">

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">


    <div class="container" data-layout="container">
        <nav th:replace="~{fragmentos/sidebardoctor.html::sideBar}"></nav>
        <div class="content" >
            <nav th:replace="~{fragmentos/topbardoctor.html::topBar}"></nav>

            <div class="card mb-3 bg-card-gradient" style="; background: #FFFFFF">
                <div class="card-body" style="background: #FFFFFF">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md-11">
                            <h1 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; padding-left: 15px; padding-bottom: 5px">Emisión de boletas de pago</h1>
                        </div>
                        <div class="col-md-11">
                            <h5 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; padding-left: 15px">Información de los pacientes, seguros y boletas correspondientes.</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body border-top" style="padding-left: 35px; padding-right: 35px">
                    <table class="table table-striped" id="userList">
                        <thead style="background: #cdeffc">
                        <tr>
                            <th class="sort align-middle" style="width: 25%">Nombre Completo</th>
                            <th class="sort align-middle" style="width: 20%">Fecha de Atención</th>
                            <th class="sort align-middle" style="width: 15%; text-align: center">Tipo de Cita</th>
                            <th class="sort align-middle" style="width: 15%; text-align: center">Tipo de Seguro</th>
                            <th class="sort align-middle" style="width: 25%; text-align: center">¿Cuánto recibo?</th>
                        </tr>
                        </thead>
                        <tbody class="bg-white">
                        <tr th:each="cita, i : ${listaCitas}">
                            <td class="align-middle" th:text="|${cita.paciente.nombre} ${cita.paciente.apellido}|">
                                Nombre Personas
                            </td>
                            <td class="align-middle" th:text="|${cita.fecha} - ${cita.hora}|">
                                00/00/00 - 00:00hrs
                            </td>
                            <td class="align-middle" style="text-align: center" th:text="|${#strings.capitalize(cita.modalidad)}|">
                                Presencial
                            </td>
                            <td class="align-middle" style="text-align: center" th:text="|${cita.paciente.segurosIdSeguro.nombreSeguro}|">
                                Nombre Seguro
                            </td>
                            <td class="align-middle" align="center">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary btn-sm" style="text-align: center;background: #3d8af7;
                                border-radius: 15px" data-toggle="modal"
                                        data-target="#exampleModal" th:data-target="'#Boletas' + ${i.index+1}">
                                    Ver boleta
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div th:each="cita, i : ${listaCitas}">
                <div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" th:id="'Boletas' + ${i.index+1}">
                    <div class="modal-dialog" style="max-width: 1100px !important;">
                        <div class="modal-content">
                            <!-- Aquí puedes agregar el contenido del modal -->
                            <div class="modal-header">
                                <h5 class="modal-title">Boleta de cita</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <!-- aquí iría el logo de la empresa -->
                                            <img class="mr-2" src="/img/illustrations/shield.png" alt="" width="50">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row no-gutters">
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <div class="col-sm-12" style="padding: 0">
                                                    <h4 style="color: #0032aa; font-weight: bold; padding-left: 15px; padding-bottom: 5px">Información de los Participantes</h4>
                                                </div>
                                                <div class="col-md-6">
                                                    <b>Doctor: </b>
                                                    <p th:text="|${cita.doctor.nombre} ${cita.doctor.apellido}|"></p>
                                                    <b>DNI Doctor:</b>
                                                    <p th:text="${cita.doctor.id}"></p>
                                                </div>
                                                <div class="col-md-6">
                                                    <b>Paciente: </b>
                                                    <p th:text="|${cita.paciente.nombre} ${cita.paciente.apellido}|"></p>
                                                    <b>DNI Paciente:</b>
                                                    <p th:text="${cita.paciente.id}"></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12" style="padding: 0">
                                                    <h4 style="color: #0032aa; font-weight: bold; padding-left: 15px; padding-bottom: 5px">Información de Cita:</h4>
                                                </div>
                                                <div class="col-md-6">
                                                    <b>Tipo de Cita: </b>
                                                    <p th:text="${cita.tipocitaIdtipocita.tipoCita}"></p>
                                                    <b>Sede:</b>
                                                    <p th:text="${cita.doctor.sedesIdsedes.nombre}"></p>
                                                </div>
                                                <div class="col-md-6">
                                                    <b>Fecha: </b>
                                                    <p th:text="|${cita.fecha} - ${cita.hora}hrs|"></p>
                                                    <b>Especialidad:</b>
                                                    <p th:text="${cita.doctor.especialidadesIdEspecialidad.nombreEspecialidad}"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <div class="col-sm-12" style="padding: 0">
                                                    <h4 style="color: #0032aa; font-weight: bold; padding-left: 15px; padding-bottom: 5px">Información de Pago:</h4>
                                                </div>
                                                <div class="col-md-5">
                                                    <b>Seguro: </b>
                                                    <p th:text="${cita.paciente.segurosIdSeguro.nombreSeguro}"></p>
                                                </div>
                                                <div class="col-md-7">
                                                    <b>Porcentaje del Doctor: </b>
                                                    <p th:text="${cita.paciente.segurosIdSeguro.porcDoctor}"></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <!-- aquí iría la tabla con los detalles del pago -->
                                                    <table style="margin-right: 0px;height: 100px;width: 435px;">
                                                        <thead style="background: #cdeffc">
                                                        <tr>
                                                            <th class="sort align-middle" style="width: 40%">Detalles</th>
                                                            <th class="sort align-middle" style="width: 30%">Valor Unitario</th>
                                                            <th class="sort align-middle" style="width: 30%; text-align: center">Valor total</th>
                                                        </tr>
                                                        </thead>

                                                        <tbody class="bg-white">
                                                        <tr>
                                                            <td class="align-middle">Consulta Médica</td>
                                                            <td class="align-middle" style="text-align: center">$ 60</td>
                                                            <td class="align-middle" style="text-align: center">$ 60
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="align-middle"> Consulta Médica </td>
                                                            <td class="align-middle" style="text-align: center"> $ 60</td>
                                                            <td class="align-middle" style="text-align: center"> $ 60</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="align-middle"></td>
                                                            <td class="align-middle"></td>
                                                            <td class="align-middle"></td>
                                                        </tr>

                                                    </table>
                                                </div>
                                            </div>
                                            <div class="border" style="padding: 10px">
                                                <div class="row">
                                                    <div class="col-sm-7" align="right"><b> TOTAL A PAGAR:</b></div>
                                                    <div class="col-sm-5" align="left">
                                                        <p style="margin: 0px"> $ 120 </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="border-top border-bottom" style="padding: 10px">
                                        <!-- aquí iría cualquier otro detalle o nota -->
                                        <label>FIRMA DEL DOCTOR</label>
                                    </div>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-falcon-default" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="~{fragmentos/footer.html::footer}"></footer>

        </div>
    </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->




<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<div th:replace="~{fragmentos/scripts.html::scripts}"></div>

<!--    Scripts de DataTable -->
<script th:src="@{/lib/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/lib/datatables-bs4/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables.net-responsive/dataTables.responsive.js}"></script>
<script th:src="@{/lib/datatables.net-responsive-bs4/responsive.bootstrap4.js}"></script>
<script th:src="@{/lib/datatables-buttons/dataTables.buttons.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.flash.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/jszip.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.html5.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>

<!-- Initialize DataTable in JavaScript -->
<script>
    $(document).ready(function () {
        //Esta busacando por el ID del tah <table>
        //para que entiendan bien lo que se esta haciendo, leer la documentación de datatable
        $('#userList').DataTable({
            dom: "<'d-flex justify-content-end pb-4'B>\n" +
                "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>\n" +
                "<'table-responsive'tr>\n" +
                "<'row align-items-center'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 d-flex justify-content-end'p>>",
            language: {
                processing: "Procesando...",
                lengthMenu: "Mostrar  _MENU_  usuarios",
                zeroRecords: "No se encontraron usuarios",
                emptyTable: "No hay usuarios",
                info: "Mostrando usuarios del _START_ al _END_ <br>Total _TOTAL_ usuarios",
                infoEmpty: "Mostrando usuarios del 0 al 0 <br>Total 0 usuarios",
                infoFiltered: "(filtrado de un total de _MAX_ usuarios)",
                loadingRecords: "Cargando...",
                search: "Buscar:",
                paginate: {
                    previous: '<i class="fa fa-lg fa-angle-left mr-2"></i>Anterior',
                    next: 'Siguiente<i class="fa fa-lg fa-angle-right ml-2"></i>'
                }
            },
            autoWidth: false,
            lengthMenu: [
                [10, 25, 50, -1], [10, 25, 50, "Todos"]
            ],
            buttons: []
        });
    });
</script>


</body>
</html>