<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/cabecera.html::cabecera(titulo='Dashboard')}">
</head>


<body class="">

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">


    <div class="container" data-layout="container">
        <nav th:replace="~{fragmentos/sidebardoctor.html::sideBar}"></nav>
        <div class="content" >
            <nav th:replace="~{fragmentos/topbardoctor.html::topBar}"></nav>

            <div class="card mb-3 bg-card-gradient" style="; background: #FFFFFF">
                <div class="card-body" style="background: #FFFFFF">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md-11">
                            <h1 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; padding-left: 15px; padding-bottom: 5px">
                                Calendario
                            </h1>
                        </div>
                        <div class="col-md-11">
                            <h5 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; padding-left: 15px">
                                Revisa la información correspondiente a mensajes, citas y más.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div id="calendar"></div>
            </div>


            <footer th:replace="~{fragmentos/footer.html::footer}"></footer>
        </div>
    </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->




<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<div th:replace="~{fragmentos/scripts.html::scripts}"></div>
<script th:src="@{/lib/fullcalendar/main.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6.3.4/dist/tippy-bundle.umd.js"></script>
<!--    Scripts de DataTable -->
<script th:src="@{/lib/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/lib/datatables-bs4/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables.net-responsive/dataTables.responsive.js}"></script>
<script th:src="@{/lib/datatables.net-responsive-bs4/responsive.bootstrap4.js}"></script>
<script th:src="@{/lib/datatables-buttons/dataTables.buttons.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.flash.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/jszip.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.html5.min.js}"></script>

<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            start: 'title', // will normally be on the left. if RTL, will be on the right
            center: '',
            end: 'today prev,next', // will normally be on the right. if RTL, will be on the left
            defaultView: 'month',
            weekday: 'long',
            selectable: true,
            height: 650,
            events: [],
            eventTextColor: '#ffffff',
            eventBackgroundColor: '#3d8af7',
            eventDisplay: 'block',
            eventTimeFormat:{
                hour: 'numeric',
                minute: '2-digit',
                meridiem: 'short'
            },
            firstDay: 1,
            locale: 'es',
            allDay: false,
            displayEventTime: true,
            eventDidMount: function(info) {
                tippy(info.el, {
                    trigger: 'mouseenter',
                    content: generateTooltipContent(info.event), // call a function to generate the html content
                    placement: 'top', // set the tooltip placement (e.g., top, bottom, left, right)
                    animation: 'fade',
                    allowHTML: 'true'
                })
            }
        });
        // AJAX request to fetch events
        $.ajax({
            url: 'http://34.28.24.16:8081/api/citasDoctor', // Replace with your API endpoint URL
            type: 'GET',
            data: {
                dni: [[${session.usuario.id}]] // Specify the GET parameter
            },
            headers: {
                'Content-Type': 'application/json' // Set the Content-Type header
            },
            success: function(response) {
                // Parse and format the received data
                var events = [];
                response.forEach(function(eventData) {
                    var dateString = eventData.start;
                    var date = moment(dateString, 'DD/MM/YYYY');
                    var fechaFormateada = date.format('YYYY-MM-DD');
                    var event = {
                        title: eventData.title,
                        start: fechaFormateada,
                        modalidad: eventData.modalidad,
                        paciente: eventData.paciente,
                        hora: eventData.hora,
                        sede: eventData.sede,
                        especialidad: eventData.especialidad,
                        formaPago: eventData.formaPago
                        // Add more properties as needed
                    };
                    events.push(event);
                });

                // Add the events to FullCalendar
                calendar.addEventSource(events);
            },
            error: function(xhr, status, error) {
                console.log('Error:', error);
            }
        });
        calendar.render();
    });
    function generateTooltipContent(event) {
        // Generate the HTML content for the tooltip
        // Assuming you have a time string like '14:30'
        var timeString = event.extendedProps.hora;

        // Parse the time string using Moment.js
        var time = moment(timeString, 'HH:mm');

        // Format the time as 'h:mm A' (e.g., '2:30 PM')
        var formattedTime = time.format('h:mm A');

        var dateString = event.start;
        var date = moment(dateString, 'YYYY-MM-DD');
        var fechaFormateada = date.format('DD/MM/YYYY');

        var content = '<strong>' + event.title + '</strong>';
        content += '<br>Paciente: ' + event.extendedProps.paciente;
        content += '<br>Modalidad: ' + event.extendedProps.modalidad;
        content += '<br>Fecha: ' + fechaFormateada;
        content += '<br>Hora: ' + formattedTime;

        return content;
    }
</script>
</body>
</html>