<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/cabecera.html::cabecera(titulo='Paciente')}">
</head>


<body class="">

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">


  <div class="container" data-layout="container">
    <nav th:replace="~{fragmentos/sidebardoctor.html::sideBar}"></nav>
    <div class="content" >
      <nav th:replace="~{fragmentos/topbardoctor.html::topBar}"></nav>

      <div class="card mb-3 bg-card-gradient" style="; background: #FFFFFF">
        <div class="card-body" style="background: #FFFFFF">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-11">
              <h1 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; padding-left: 15px; padding-bottom: 5px">
                Citas Recientes
              </h1>
            </div>
            <div class="col-md-11">
              <h5 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; padding-left: 15px">
                Visualiza tus citas ya finalizadas con información del paciente
              </h5>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body border-top" style="padding-left: 35px; padding-right: 35px">
          <table class="table table-striped" id="userList">
            <thead style="background: #cdeffc">
            <tr>
              <th class="sort align-middle" style="width: 20%">Servicio</th>
              <th class="sort align-middle" style="width: 20%">Nombre Completo</th>
              <th class="sort align-middle" style="width: 20%">Fecha de Atención</th>
              <th class="sort align-middle" style="width: 20%">Correo</th>
              <th class="sort align-middle" style="width: 20%; text-align: center"></th>
            </tr>
            </thead>
            <tbody class="bg-white">
            <tr th:each="cita : ${listaCitas}">
              <td th:text="|${cita.tipocitaIdtipocita.tipoCita}|" class="align-middle">
                Consulta o examen médico
              </td>
              <td th:text="|${cita.paciente.nombre} ${cita.paciente.apellido}|" class="align-middle">
                Nombre paciente
              </td>
              <td class="align-middle" th:text="|${cita.fecha} a las ${cita.hora}hrs|">
                00/00/00 - 00:00hrs
              </td>
              <td th:text="${cita.paciente.email}">
                correoelectronico@hotmail.com
              </td>
              <td class="align-middle" align="center">
                <a th:if="${cita.informeNuevo.id == null}" class="btn btn-primary btn-sm" style="text-align: center;background: #b38df7;
                border-radius: 15px; border-color: #b38df7;" th:href="@{/doctor/llenarInforme(idCita=${cita.id})}">Llenar informe</a>

                <!-- Si cuestionario.respondido != 1, muestra el botón "Ver respuestas" -->
                <a th:unless="${cita.informeNuevo.id == false}" class="btn btn-primary btn-sm" style="text-align: center;background: #b38df7;
                 border-radius: 15px; border-color: #b38df7;" th:href="@{/doctor/verInforme(idCita=${cita.id})}">Ver  informe</a>

              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
      <footer th:replace="~{fragmentos/footer.html::footer}"></footer>
    </div>
  </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->




<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<div th:replace="~{fragmentos/scripts.html::scripts}"></div>

<!--    Scripts de DataTable -->
<script th:src="@{/lib/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/lib/datatables-bs4/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables.net-responsive/dataTables.responsive.js}"></script>
<script th:src="@{/lib/datatables.net-responsive-bs4/responsive.bootstrap4.js}"></script>
<script th:src="@{/lib/datatables-buttons/dataTables.buttons.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.flash.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/jszip.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.html5.min.js}"></script>

<!-- Initialize DataTable in JavaScript -->
<script>
  $(document).ready(function () {
    //Esta busacando por el ID del tah <table>
    //para que entiendan bien lo que se esta haciendo, leer la documentación de datatable
    $('#userList').DataTable({
      dom: "<'d-flex justify-content-end pb-4'B>\n" +
              "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>\n" +
              "<'table-responsive'tr>\n" +
              "<'row align-items-center'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 d-flex justify-content-end'p>>",
      language: {
        processing: "Procesando...",
        lengthMenu: "Mostrar  _MENU_  usuarios",
        zeroRecords: "No se encontraron usuarios",
        emptyTable: "No hay usuarios",
        info: "Mostrando usuarios del _START_ al _END_ <br>Total _TOTAL_ usuarios",
        infoEmpty: "Mostrando usuarios del 0 al 0 <br>Total 0 usuarios",
        infoFiltered: "(filtrado de un total de _MAX_ usuarios)",
        loadingRecords: "Cargando...",
        search: "Buscar:",
        paginate: {
          previous: '<i class="fa fa-lg fa-angle-left mr-2"></i>Anterior',
          next: 'Siguiente<i class="fa fa-lg fa-angle-right ml-2"></i>'
        }
      },
      autoWidth: false,
      lengthMenu: [
        [10, 25, 50, -1], [10, 25, 50, "Todos"]
      ],
      buttons: []
    });
  });
</script>


</body>

</html