<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos/cabecera.html::cabecera(titulo='Configuración')}"></head>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>



<body class="">

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main style="padding: 0 50px 50px 50px;" id="top">

    <div data-layout="container">
        <nav th:replace="~{fragmentos/sidebardoctor.html::sideBar}"></nav>
        <div class="content" >
            <nav th:replace="~{fragmentos/topbardoctor.html::topBar}"></nav>

            <div class="card mb-3 bg-card-gradient" style="background: #FFFFFF">
                <div class="card-body" style="background: #FFFFFF">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md-11">
                            <h1 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold;; padding-bottom: 5px">
                                Configuración
                            </h1>
                        </div>
                        <div class="col-md-11">
                            <h5 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold">
                                Revisa tu información y cambia de sede.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header position-relative min-vh-25 mb-7">
                    <div class="bg-holder rounded-soft rounded-bottom-0" style="background-image:url(/img/generic/20.jpg)">
                    </div>
                    <!--/.bg-holder-->
                    <div class="avatar avatar-5xl avatar-profile">
                        <img class="rounded-circle img-thumbnail shadow-sm" th:src="@{/fotoPerfil}" width="200" alt="" />
                    </div>
                </div>
                <br>
                <div class="card-body">
                    <div>
                        <div>
                            <h4 class="mb-1" style="font-weight: 600;" th:text="|${session.usuario.nombre.toUpperCase()} ${session.usuario.apellido.toUpperCase()}|">
                                <small class="fas fa-check-circle text-primary ml-1" data-toggle="tooltip" data-placement="right" title="Verified" data-fa-transform="shrink-4 down-2">
                                </small>
                            </h4>
                            <form>
                                <fieldset disabled>
                                    <div class="row">
                                        <div class="col mb-3">
                                            <label for="disabledTextInput1" class="form-label">Nombres</label>
                                            <input type="text" id="disabledTextInput1" class="form-control" th:placeholder="${session.usuario.nombre}">
                                        </div>
                                        <div class="col mb-3">
                                            <label for="disabledTextInput2" class="form-label">Apellidos</label>
                                            <input type="text" id="disabledTextInput2" class="form-control" th:placeholder="${session.usuario.apellido}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col mb-3">
                                            <label for="disabledTextInput5" class="form-label">DNI</label>
                                            <input type="text" id="disabledTextInput5" class="form-control" th:placeholder="${session.usuario.id}">
                                        </div>
                                        <div class="col mb-3">
                                            <label for="disabledTextInput6" class="form-label">Estado</label>
                                            <input type="text" id="disabledTextInput6" class="form-control" th:placeholder="${#strings.capitalize(session.usuario.estadosIdestado.nombre)}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col mb-3">
                                            <label for="disabledTextInput3" class="form-label">Dirección</label>
                                            <input type="text" id="disabledTextInput3" class="form-control" th:placeholder="${session.usuario.direccion}">
                                        </div>
                                        <div class="col mb-3">
                                            <label for="disabledTextInput4" class="form-label">Número telefónico</label>
                                            <input type="text" id="disabledTextInput4" class="form-control" th:placeholder="${session.usuario.telefono}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col mb-3">
                                            <label for="disabledTextInput7" class="form-label">Correo</label>
                                            <input type="text" id="disabledTextInput7" class="form-control" th:placeholder="${session.usuario.email}">
                                        </div>
                                        <div class="col mb-3">
                                            <label for="disabledTextInput8" class="form-label">Estado</label>
                                            <input type="text" id="disabledTextInput8" class="form-control" th:placeholder="${#strings.capitalize(session.usuario.estadosIdestado.nombre)}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col mb-3">
                                            <label for="disabledTextInput9" class="form-label">Fecha de Nacimiento:</label>
                                            <input type="text" id="disabledTextInput9" class="form-control" th:placeholder="|${session.usuario.fechaNacimiento}|">
                                        </div>
                                        <div class="col mb-3">
                                            <label for="disabledTextInput10" class="form-label">Sexo</label>
                                            <input type="text" id="disabledTextInput10" class="form-control" th:placeholder="${session.usuario.sexo}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col mb-3">
                                            <label for="disabledTextInput11" class="form-label">Especialidad</label>
                                            <input type="text" id="disabledTextInput11" class="form-control" th:placeholder="${session.usuario.especialidadesIdEspecialidad.nombreEspecialidad}">
                                        </div>
                                        <div class="col mb-3">
                                            <label for="disabledTextInput12" class="form-label">Nro. de Colegiatura</label>
                                            <input type="text" id="disabledTextInput12" class="form-control" th:placeholder="${session.usuario.ceduladoctor}">
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                            <div style="display: flex; flex-direction: column;">
                                <label for="disabledTextInput11" class="form-label">Mi firma digital actual:</label>
                                <img th:src="@{'/fotoFirmaDoctor?dni='+${session.usuario.id}}" width="200" alt="" style="background: #edf2f9;border-radius: 5px;
                                height: 100px;width: 300px;border: 1px solid #d8e2ef;"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold;; padding-bottom: 5px">
                        Añade información relevante:
                    </h4>
                    <div style="display: flex; text-align: center">
                        <a style="flex: 1; width: 100%;">
                            <button onclick="mostrarDiv(1)" type="submit" class="btn btn-primary" style="background: #3d8af7; border: 5px solid #3d8af7; width: 95%;
                                margin-right: 5px; margin-left: 5px; padding: 1px !important;">
                                Agregar horarios de disponibilidad
                            </button>
                        </a>
                        <a style="flex: 1; width: 100%;">
                            <button onclick="mostrarDiv(2)" type="submit" class="btn btn-primary" style="background: #3d8af7; border: 5px solid #3d8af7; width: 95%;
                                margin-right: 5px; margin-left: 5px; padding: 1px !important;">
                                Agregar firma digital
                            </button>
                        </a>
                    </div>
                    <!-- HORARIOS DE DISPONIBILIDAD -->
                    <div id="div1" style="display:none; padding-left: 15px;">
                        <h4 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; padding: 16px 0 0 0;">
                            Horarios de disponibilidad
                        </h4>
                        <form th:action="@{/enviarHorasDoctor}" method="post" >
                            <label for="mes" class="form-label">Seleccione el mes para agregar disponibilidad:</label>
                            <select class="form-control" aria-label="Default select example" name="mes" id="mes" style="font-family: 'Open Sans',serif">
                                <option selected>Select--</option>
                                <option value="1">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                            <div style="height: 10px;">
                            </div>
                            <label for="dia" class="form-label">Seleccione los dias con disponibilidad:</label>
                            <div style="display: flex;">
                                <button type="button" class="btn btn-light" style="border: 1px solid #d8e2ef;" id="Lunes">Lunes</button>
                                <button type="button" class="btn btn-light" style="border: 1px solid #d8e2ef;" id="Martes">Martes</button>
                                <button type="button" class="btn btn-light" style="border: 1px solid #d8e2ef;" id="Miercoles">Miércoles</button>
                                <button type="button" class="btn btn-light" style="border: 1px solid #d8e2ef;" id="Jueves">Jueves</button>
                                <button type="button" class="btn btn-light" style="border: 1px solid #d8e2ef;" id="Viernes">Viernes</button>
                                <button type="button" class="btn btn-light" style="border: 1px solid #d8e2ef;" id="Sabado">Sábado</button>
                            </div>

                            <div style="width: 100%; display: flex;align-items: center;justify-content: center;padding: 10px 0;">
                                <input id="dia" name="dia" style="width: 50%; border-radius: 4px;height: 35px;border: 1px solid #d8e2ef;" disabled/>
                            </div>
                            <label class="form-label">Seleccione el horario para agregar disponibilidad:</label>
                            <div style="display: flex;">
                                <div style="flex: 1; margin-right: 10px;">
                                    <label class="form-label">Horario Inicio:</label>
                                    <select class="form-control" aria-label="Default select example" name="horainicial" id="horainicial" style="font-family: 'Open Sans',serif">
                                        <option selected>Select--</option>
                                        <option value="08:00">08:00</option>
                                        <option value="08:30">08:30</option>
                                        <option value="09:00">09:00</option>
                                        <option value="09:30">09:30</option>
                                        <option value="10:00">10:00</option>
                                        <option value="10:30">10:30</option>
                                        <option value="11:00">11:00</option>
                                        <option value="11:30">11:30</option>
                                        <option value="12:00">12:00</option>
                                        <option value="12:30">12:30</option>
                                        <option value="13:00">13:00</option>
                                        <option value="13:30">13:30</option>
                                        <option value="14:00">14:00</option>
                                        <option value="14:30">14:30</option>
                                        <option value="15:00">15:00</option>
                                        <option value="15:30">15:30</option>
                                        <option value="16:00">16:00</option>
                                        <option value="16:30">16:30</option>
                                        <option value="17:00">17:00</option>
                                        <option value="17:30">17:30</option>
                                        <option value="18:00">18:00</option>
                                        <option value="18:30">18:30</option>
                                        <option value="19:00">19:00</option>
                                        <option value="19:30">19:30</option>
                                        <option value="20:00">20:00</option>
                                        <option value="20:30">20:30</option>
                                        <option value="21:00">21:00</option>
                                        <option value="21:30">21:30</option>
                                        <option value="22:00">22:00</option>
                                    </select>
                                </div>
                                <div style="flex: 1; margin-left: 10px;">
                                    <label class="form-label">Horario Final:</label>
                                    <select class="form-control" aria-label="Default select example" name="horafinal" id="horafinal" style="font-family: 'Open Sans',serif">
                                        <option selected>Select--</option>
                                        <option value="08:00">08:00</option>
                                        <option value="08:30">08:30</option>
                                        <option value="09:00">09:00</option>
                                        <option value="09:30">09:30</option>
                                        <option value="10:00">10:00</option>
                                        <option value="10:30">10:30</option>
                                        <option value="11:00">11:00</option>
                                        <option value="11:30">11:30</option>
                                        <option value="12:00">12:00</option>
                                        <option value="12:30">12:30</option>
                                        <option value="13:00">13:00</option>
                                        <option value="13:30">13:30</option>
                                        <option value="14:00">14:00</option>
                                        <option value="14:30">14:30</option>
                                        <option value="15:00">15:00</option>
                                        <option value="15:30">15:30</option>
                                        <option value="16:00">16:00</option>
                                        <option value="16:30">16:30</option>
                                        <option value="17:00">17:00</option>
                                        <option value="17:30">17:30</option>
                                        <option value="18:00">18:00</option>
                                        <option value="18:30">18:30</option>
                                        <option value="19:00">19:00</option>
                                        <option value="19:30">19:30</option>
                                        <option value="20:00">20:00</option>
                                        <option value="20:30">20:30</option>
                                        <option value="21:00">21:00</option>
                                        <option value="21:30">21:30</option>
                                        <option value="22:00">22:00</option>
                                    </select>
                                </div>
                            </div>
                            <div style="height: 10px;"></div>
                            <label class="form-label">Seleccione el horario para su hora libre del día: (Duración: 1 hora)</label>
                            <div style="display: flex; width: 50%;">
                                <select class="form-control" aria-label="Default select example" name="horalibre" id="horalibre" style="font-family: 'Open Sans',serif">
                                    <option selected>Select--</option>
                                    <option value="0">Sin hora libre</option>
                                    <option value="08:00">08:00</option>
                                    <option value="08:30">08:30</option>
                                    <option value="09:00">09:00</option>
                                    <option value="09:30">09:30</option>
                                    <option value="10:00">10:00</option>
                                    <option value="10:30">10:30</option>
                                    <option value="11:00">11:00</option>
                                    <option value="11:30">11:30</option>
                                    <option value="12:00">12:00</option>
                                    <option value="12:30">12:30</option>
                                    <option value="13:00">13:00</option>
                                    <option value="13:30">13:30</option>
                                    <option value="14:00">14:00</option>
                                    <option value="14:30">14:30</option>
                                    <option value="15:00">15:00</option>
                                    <option value="15:30">15:30</option>
                                    <option value="16:00">16:00</option>
                                    <option value="16:30">16:30</option>
                                    <option value="17:00">17:00</option>
                                    <option value="17:30">17:30</option>
                                    <option value="18:00">18:00</option>
                                    <option value="18:30">18:30</option>
                                    <option value="19:00">19:00</option>
                                    <option value="19:30">19:30</option>
                                    <option value="20:00">20:00</option>
                                    <option value="20:30">20:30</option>
                                    <option value="21:00">21:00</option>
                                    <option value="21:30">21:30</option>
                                </select>
                            </div>
                            <div style="height: 10px;"></div>
                            <button type="submit" class="btn btn-primary btn-sm">Finalizar</button>
                        </form>
                    </div>
                    <!-- AGREGAR FIRMA DIGITAL -->
                    <div id="div2" style="display:none; padding-left: 15px;">
                        <h4 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; padding: 16px 0 0 0;">
                            Firma digital
                        </h4>
                        <div th:if="${fotoSiu != null}" th:text="${fotoSiu}" class="alert alert-success" role="alert"></div>
                        <div th:if="${foto != null}" th:text="${foto}" class="alert alert-warning" role="alert"></div>
                        <div style="display: flex;">
                            <form method="POST" th:action="@{/uploadFirma}"
                                  class="dropzone"
                                  id="myGreatDropzone2" style="margin: 10px 15px; width: 50%; flex: 2;"></form>
                            <div style="flex: 1; padding-left: 20px;">
                                <p style="padding: 15px 15px 15px 0;">
                                    Aquí puedes personalizar tu firma agregando una foto.
                                    Simplemente haz clic en el área designada y selecciona la imagen que deseas utilizar.
                                </p>
                                <button class="btn btn-primary btn-sm" type="submit" id="clash">Guardar cambios</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold;; padding-bottom: 5px">
                        Realiza cambios a tu perfil
                    </h4>
                    <div style="display: flex; text-align: center">
                        <a style="flex: 1; width: 100%;">
                            <button onclick="mostrarDiv(3)" type="submit" class="btn btn-primary" style="background: #3d8af7; border: 5px solid #3d8af7; width: 95%;
                                margin-right: 5px; margin-left: 5px; padding: 1px !important;">
                                Cambiar foto de perfil
                            </button>
                        </a>
                        <a style="flex: 1; width: 100%;">
                            <button onclick="mostrarDiv(4)" type="submit" class="btn btn-primary" style="background: #3d8af7; border: 5px solid #3d8af7; width: 95%;
                                margin-right: 5px; margin-left: 5px; padding: 1px !important;">
                                Cambiar sede
                            </button>
                        </a>
                        <a style="flex: 1; width: 100%;">
                            <button onclick="mostrarDiv(5)" type="submit" class="btn btn-primary" style="background: #3d8af7; border: 5px solid #3d8af7; width: 95%;
                                margin-right: 5px; margin-left: 5px; padding: 1px !important;">
                                Cambiar contraseña
                            </button>
                        </a>
                    </div>

                    <!-- CAMBIAR FOTO DE PERFIL -->
                    <div id="div3" style="display: none; padding-left: 15px;">
                        <h4 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; padding: 16px 0 0 0;">
                            Foto de perfil
                        </h4>
                        <div th:if="${fotoSiu != null}" th:text="${fotoSiu}" class="alert alert-success" role="alert"></div>
                        <div th:if="${foto != null}" th:text="${foto}" class="alert alert-warning" role="alert"></div>
                        <div style="display: flex;">
                            <form method="POST" th:action="@{/uploadDoctor}"
                                  class="dropzone"
                                  id="myGreatDropzone" style="margin: 10px 15px; width: 50%; flex: 2; "></form>
                            <div style="flex: 1;    padding-left: 20px;">
                                <p style="padding: 15px 15px 15px 0;">
                                    Aquí puedes personalizar tu perfil agregando una foto.
                                    Simplemente haz clic en el área designada y selecciona la imagen que deseas utilizar.
                                </p>
                                <button class="btn btn-primary btn-sm" type="submit" id="arch">Guardar cambios</button>
                            </div>
                        </div>
                    </div>
                    <!--
                        <div style="height: 30px"></div>
                        <div class="row">
                            <div class="col mb-3">
                                <label for="disabledTextInput1" class="form-label">Sede Actual</label>
                                <input type="text" id="disabledTextInput13" class="form-control" th:placeholder="${session.usuario.sedesIdsedes.nombre}" disabled>
                            </div>
                        </div>
                        <div style="">
                            <p style="margin: 0 15px 0 0;line-height: 40px; font-weight: bold;"> ¿Deseas cambiar tu foto de perfil?</p>
                            <button type="button" class="btn btn-secondary btn-sm" style="text-align: center;background: #3a85f3;
                                    border-radius: 15px; border-color: #3a85f3;width: 130px;" data-toggle="modal" data-target="#CambiarFoto">Cambiar foto</button>
                        </div>
                        <div style="height: 10px"></div>
                        <div style="height: 10px"></div>
-->
                    <!-- CAMBIAR SEDE -->
                    <div id="div4" style="display: none;">
                        <h4 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; padding: 16px 0 0 15px; ">
                            Cambio de sede
                        </h4>
                        <form th:action="@{/doctor/cambiarSede}" method="post" class="input-hidden" id="formscontainersede"
                              style="padding: 0 15px 15px 15px; display: block;">
                            <div class="form-group" style="display: block;">
                                <label for="id" class="form-label">Seleccione su nueva sede:</label>
                                <select class="form-control" aria-label="Default select example" name="id" id="id" style="font-family: 'Open Sans',serif">
                                    <option selected>Select--</option>
                                    <option th:each="sede : ${sedeList}" th:value="${sede.id}" th:text="${sede.nombre}"></option>
                                </select>
                            </div>
                            <div class="form-group" style="text-align: center;">
                                <button type="submit" class="btn btn-secondary btn-sm" style="text-align: center;background: #3d8af7;
                                    border-color: #3d8af7;width: 130px;">Cambiar Sede</button>
                                <a th:href="@{/doctor/config}" style="padding-left: 5px; color: #3d4858">
                                    <button class="btn btn-secondary btn-sm" style="text-align: center;background: #9da9bb;
                                   border-color: #9da9bb;width: 100px;">Cancelar</button>
                                </a>
                            </div>
                        </form>
                    </div>
                    <!--
                        <p style="margin: 0 0 10px 0; font-weight: bold;"> ¿Deseas cambiar tu sede?</p>
                        <button onclick="toggleInput()" class="btn btn-primary btn-sm" style="font-family: 'Open Sans',serif;
                                    border: 1px solid #3a85f3; border-radius: 1rem; background: #3a85f3;
                                    font-size: 15px; color: white">
                            Cambiar sede
                        </button>

                        <div style="height: 10px"></div>
                        <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"
                             style="margin-bottom: 10px; font-family: 'Open Sans',serif"></div>

                        <form th:action="@{/doctor/cambiarSede}" method="post" class="input-hidden" id="formscontainersede"
                              style="padding: 15px;border: 1px solid #b6c1d2;border-radius: 2px;">
                            <div class="form-group" style="display: block;">

                                <label for="id" style="font-weight: bold !important; margin: 0;
                                    font-family: 'Open Sans',serif;font-size: medium;margin-bottom: 10px;">Elija una nueva Sede:</label>
                                <select class="form-control" aria-label="Default select example" name="id" id="id" style="font-family: 'Open Sans',serif">
                                    <option selected>Select--</option>
                                    <option th:each="sede : ${sedeList}" th:value="${sede.id}" th:text="${sede.nombre}"></option>
                                </select>

                            </div>
                            <div class="form-group" style="text-align: right;">
                                <button type="submit" class="btn btn-secondary btn-sm" style="text-align: center;background: #3d8af7;
                                    border-radius: 15px; border-color: #3d8af7;width: 130px;">Cambiar Sede</button>
                                <a th:href="@{/doctor/config}" style="padding-left: 5px; color: #3d4858">
                                    <button class="btn btn-secondary btn-sm" style="text-align: center;background: #9da9bb;
                                    border-radius: 15px; border-color: #9da9bb;width: 100px;">Cancelar</button>
                                </a>
                            </div>
                        </form>
-->
                    <!-- CAMBIAR CONTRASEÑA -->
                    <div id="div5" style="display: none;">
                        <h4 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; padding: 16px 0 0 15px;">
                            Cambio de contraseña
                        </h4>
                        <div th:if="${msgContrasenia != null}" th:text="${msgContrasenia}" class="alert alert-success" role="alert"
                             style="margin-bottom: 10px; font-family: 'Open Sans',serif"></div>
                        <div th:if="${errorPass != null}" th:text="${errorPass}" class="alert alert-danger" role="alert"
                             style="margin-bottom: 10px; font-family: 'Open Sans',serif"></div>
                        <form th:action="@{/doctor/cambiarContrasena}" method="post" class="input-hidden" id="formscontainercontra"
                              style="padding: 15px; display: block;">
                            <div class="form-group">
                                <p  style="margin: 0; font-size: 15px;">
                                    Para ingresar su contraseña nueva, considere las siguientes restricciones:<br>
                                    • Que la contraseña contenga al menos ocho caracteres.<br>
                                    • Que la contraseña contenga al menos un número.<br>
                                    • Que la contraseña contenga al menos un carácter especial (@#$%&*).<br>
                                    • Que la contraseña contenga al menos una mayúscula.
                                </p>
                                <div style="height: 10px"></div>
                                <div style="width: 100%; display: flex; flex-direction: column ;justify-content: center;align-items: center;">
                                    <div style="width: 60%;">
                                        <label for="passActual" class="form-label">Contraseña actual: </label>
                                        <input type="password" class="form-control" id="passActual" name="pass1" style="width: 100%" required>
                                        <div style="height: 5px"></div>
                                        <label for="passNueva" class="form-label">Contraseña nueva: </label>
                                        <input type="password" class="form-control" id="passNueva" name="pass2" style="width: 100%" required>
                                        <div style="height: 5px"></div>
                                        <label for="passConfirmar" class="form-label">Confirmar contraseña nueva: </label>
                                        <input type="password" class="form-control" id="passConfirmar" name="pass3" style="width: 100%" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="text-align: center;">
                                <button type="submit" class="btn btn-secondary btn-sm" style="text-align: center;background: #3d8af7;
                                    border-color: #3d8af7;width: 190px;">Cambiar Contraseña</button>
                                <a th:href="@{/doctor/config}" style="padding-left: 5px; color: #3d4858">
                                    <button class="btn btn-secondary btn-sm" style="text-align: center;background: #9da9bb;
                                    border-color: #9da9bb;width: 100px;">Cancelar</button>
                                </a>
                            </div>
                        </form>
                    </div>
                    <!--
                        <div style="height: 10px"></div>
                        <p style="margin: 0 15px 0 0;line-height: 40px; font-weight: bold;"> ¿Deseas cambiar tu contraseña?</p>
                        <button onclick="toggleInputContra()" class="btn btn-primary btn-sm" style="font-family: 'Open Sans',serif;
                                    border: 1px solid #3a85f3; border-radius: 1rem; background: #3a85f3;
                                    font-size: 15px; color: white">
                            Cambiar contraseña
                        </button>
                        <div style="height: 10px"></div>
                        <div th:if="${msgContrasenia != null}" th:text="${msgContrasenia}" class="alert alert-success" role="alert"
                             style="margin-bottom: 10px; font-family: 'Open Sans',serif"></div>
                        <div th:if="${errorPass != null}" th:text="${errorPass}" class="alert alert-danger" role="alert"
                             style="margin-bottom: 10px; font-family: 'Open Sans',serif"></div>
                        <form th:action="@{/doctor/cambiarContrasena}" method="post" class="input-hidden" id="formscontainercontra"
                              style="padding: 15px;border: 1px solid #b6c1d2;border-radius: 2px;">
                            <div class="form-group">
                                <p  style="margin: 0">
                                    Para ingresar su contraseña nueva, considere las siguientes restricciones:<br>
                                    • Que la contraseña contenga al menos ocho caracteres.<br>
                                    • Que la contraseña contenga al menos un número.<br>
                                    • Que la contraseña contenga al menos un carácter especial (@#$%&*).<br>
                                    • Que la contraseña contenga al menos una mayúscula. </p>
                                <label for="passActual" style="font-weight: bold !important; margin: 0;
                                    font-family: 'Open Sans',serif;font-size: medium;margin-bottom: 10px;">Contraseña actual</label>
                                <input type="password" class="form-control" id="passActual" name="pass1" style="width: 90%" required>
                                <div style="height: 5px"></div>
                                <label for="passNueva" style="font-weight: bold !important; margin: 0;
                                    font-family: 'Open Sans',serif;font-size: medium;margin-bottom: 10px;">Contraseña nueva</label>
                                <input type="password" class="form-control" id="passNueva" name="pass2" style="width: 90%" required>
                                <div style="height: 5px"></div>
                                <label for="passConfirmar" style="font-weight: bold !important; margin: 0;
                                    font-family: 'Open Sans',serif;font-size: medium;margin-bottom: 10px;">Confirmar contraseña nueva</label>
                                <input type="password" class="form-control" id="passConfirmar" name="pass3" style="width: 90%" required>
                            </div>
                            <div class="form-group" style="text-align: right;">
                                <button type="submit" class="btn btn-secondary btn-sm" style="text-align: center;background: #3d8af7;
                                    border-radius: 15px; border-color: #3d8af7;width: 190px;">Cambiar Contraseña</button>
                                <a th:href="@{/doctor/config}" style="padding-left: 5px; color: #3d4858">
                                    <button class="btn btn-secondary btn-sm" style="text-align: center;background: #9da9bb;
                                    border-radius: 15px; border-color: #9da9bb;width: 100px;">Cancelar</button>
                                </a>
                            </div>
                        </form>
-->
                </div>
            </div>
            <div>
                <footer th:replace="~{fragmentos/footer.html::footer}"></footer>
            </div>
        </div>
        <script>
            var input = document.getElementById('dia');
            var valor;
            var nuevoValor;
            var botonLunes = document.getElementById('Lunes');
            console.log(botonLunes);
            console.log(input)
            var botonMartes = document.getElementById('Martes');
            var botonMiercoles = document.getElementById('Miercoles');
            var botonJueves = document.getElementById('Jueves');
            var botonViernes = document.getElementById('Viernes');
            var botonSabado = document.getElementById('Sabado');

            // Agrega un evento click al botón
            botonLunes.addEventListener("click", function() {
                valor = input.value;
                nuevoValor = valor+"Lunes";
                input.value = nuevoValor;
            });

            botonMartes.addEventListener("click", function() {
                valor = input.value;
                nuevoValor = valor+"Martes";
                input.value = nuevoValor;
            });

            botonMiercoles.addEventListener("click", function() {
                valor = input.value;
                nuevoValor = valor+"Miercoles";
                input.value = nuevoValor;
            });

            botonJueves.addEventListener("click", function() {
                valor = input.value;
                nuevoValor = valor+"Jueves";
                input.value = nuevoValor;
            });

            botonViernes.addEventListener("click", function() {
                valor = input.value;
                nuevoValor = valor+"Viernes";
                input.value = nuevoValor;
            });

            botonSabado.addEventListener("click", function() {
                valor = input.value;
                nuevoValor = valor+"Sabado";
                input.value = nuevoValor;
            });


        </script>
        <script>
            function toggleInput() {
                var inputContainer = document.getElementById("formscontainersede");
                if (inputContainer.style.display === "none") {
                    inputContainer.style.display = "block";
                } else {
                    inputContainer.style.display = "none";
                }
            }

            function toggleInputContra() {
                var inputContainer = document.getElementById("formscontainercontra");
                if (inputContainer.style.display === "none") {
                    inputContainer.style.display = "block";
                } else {
                    inputContainer.style.display = "none";
                }
            }

            function mostrarDiv(numeroDiv) {
                for (var i = 1; i <= 5; i++) {
                    var div = document.getElementById("div" + i);
                    div.style.display = "none";
                }

                // Mostrar el div seleccionado
                var divMostrar = document.getElementById("div" + numeroDiv);
                divMostrar.style.display = "block";
            }
        </script>
    </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->




<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<div th:replace="~{fragmentos/scripts.html::scripts}"></div>
<!--    Scripts de Dropzone -->
<script th:src="@{/lib/dropzone/dropzone.min.js}"></script>

<!--    Scripts de DataTable -->
<script th:src="@{/lib/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/lib/datatables-bs4/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables.net-responsive/dataTables.responsive.js}"></script>
<script th:src="@{/lib/datatables.net-responsive-bs4/responsive.bootstrap4.js}"></script>
<script th:src="@{/lib/datatables-buttons/dataTables.buttons.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.flash.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/jszip.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.html5.min.js}"></script>

<!-- Initialize DataTable in JavaScript -->
<script>
    Dropzone.options.myGreatDropzone = { // camelized version of the `id`
        paramName: "file", // The name that will be used to transfer the file
        maxFiles: 1,
        autoProcessQueue: false,
        acceptedFiles: ".jpg,.jpeg",
        maxFilesize: 2,
        addRemoveLinks: true,
        dictResponseError: 'Server not Configured',
        init:function(){
            var self = this;
            // Update selector to match your button
            $("#arch").click(function (e) {
                e.preventDefault();
                self.processQueue();
                // config
                self.options.addRemoveLinks = true;
                self.options.dictRemoveFile = "Delete";
                //New file added
                self.on("addedfile", function (file) {
                    console.log('new file added ', file);
                });
                // Send file starts
                self.on("sending", function (file) {
                    console.log('upload started', file);
                    $('.meter').show();
                });

                // File upload Progress
                self.on("totaluploadprogress", function (progress) {
                    console.log("progress ", progress);
                    $('.roller').width(progress + '%');
                });

                self.on("queuecomplete", function (progress) {
                    $('.meter').delay(999).slideUp(999);
                });

                // On removing file
                self.on("removedfile", function (file) {
                    console.log(file);
                });
            });
            this.on("queuecomplete", function(progress) {
                // File upload is complete
                location.reload();
            });
        }
    };
    Dropzone.options.myGreatDropzone2 = { // camelized version of the `id`
        paramName: "file", // The name that will be used to transfer the file
        maxFiles: 1,
        autoProcessQueue: false,
        acceptedFiles: ".jpg,.jpeg",
        maxFilesize: 2,
        addRemoveLinks: true,
        dictResponseError: 'Server not Configured',
        init:function(){
            var self = this;
            // Update selector to match your button
            $("#clash").click(function (e) {
                e.preventDefault();
                self.processQueue();
                // config
                self.options.addRemoveLinks = true;
                self.options.dictRemoveFile = "Delete";
                //New file added
                self.on("addedfile", function (file) {
                    console.log('new file added ', file);
                });
                // Send file starts
                self.on("sending", function (file) {
                    console.log('upload started', file);
                    $('.meter').show();
                });

                // File upload Progress
                self.on("totaluploadprogress", function (progress) {
                    console.log("progress ", progress);
                    $('.roller').width(progress + '%');
                });

                self.on("queuecomplete", function (progress) {
                    $('.meter').delay(999).slideUp(999);
                });

                // On removing file
                self.on("removedfile", function (file) {
                    console.log(file);
                });
            });
            this.on("queuecomplete", function(progress) {
                // File upload is complete
                location.reload();
            });
        }
    };
</script>

<script>
    $(document).ready(function () {
        //Esta buscando por el ID del tah <table>
        //para que entiendan bien lo que se está haciendo, leer la documentación de datatable
        $('#userList').DataTable({
            dom: "<'d-flex justify-content-end pb-4'B>\n" +
                "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>\n" +
                "<'table-responsive'tr>\n" +
                "<'row align-items-center'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 d-flex justify-content-end'p>>",
            language: {
                processing: "Procesando...",
                lengthMenu: "Mostrar  _MENU_  usuarios",
                zeroRecords: "No se encontraron usuarios",
                emptyTable: "No hay usuarios",
                info: "Mostrando usuarios del _START_ al _END_ <br>Total _TOTAL_ usuarios",
                infoEmpty: "Mostrando usuarios del 0 al 0 <br>Total 0 usuarios",
                infoFiltered: "(filtrado de un total de _MAX_ usuarios)",
                loadingRecords: "Cargando...",
                search: "Buscar:",
                paginate: {
                    previous: '<i class="fa fa-lg fa-angle-left mr-2"></i>Anterior',
                    next: 'Siguiente<i class="fa fa-lg fa-angle-right ml-2"></i>'
                }
            },
            autoWidth: false,
            lengthMenu: [
                [10, 25, 50, -1], [10, 25, 50, "Todos"]
            ],
            buttons: [

            ]
        });
    });
</script>


</body>
</html>