<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Responder Cuestionario</title>
<head th:replace="~{fragmentos/cabecera.html::cabecera(titulo='Rellenar Informe')}">
</head>


<body class="">

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">

    <div class="container" data-layout="container">
        <nav th:replace="~{fragmentos/sidebardoctor.html::sideBar}"></nav>
        <div class="content">
            <nav th:replace="~{fragmentos/topbardoctor.html::topBar}"></nav>
            <div class="content">
                <div class="card mb-3 bg-card-gradient">
                    <div class="card-body" style="background: white;">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-md-11">
                                <h1 class="mb-2 mb-md-0" style="color: #0032aa; font-weight: bold; padding-left: 15px; padding-bottom: 5px">
                                    Llenar Informe
                                </h1>
                            </div>
                            <div class="col-md-11">
                                <h5 class="mb-2 mb-md-0" style="color: #3d8af7; font-weight: bold; padding-left: 15px">
                                    Rellene los siguientes campos
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ===============================================-->
            <!--    static Content-->
            <!-- ===============================================-->
            <div class="card mb-3 bg-card-gradient">
                <div class="card-body" style="background-color: white">
                    <div class="container">
                        <form th:action="@{/doctor/rellenarInforme}" method="post">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <label for="bitacora">Bitácora</label>
                                        <input type="text" class="form-control"  th:classappend="${bitacoramsg!=null?'is-invalid':''}" id="bitacora" name="bitacora" required>
                                        <div class="invalid-feedback" th:if="${bitacoramsg!=null}" th:text="${bitacoramsg}"></div>
                                    </div>
                                    <div class="row">
                                        <label for="diagnostico">Diagnóstico</label>
                                        <input type="text" class="form-control"  th:classappend="${diagnosticomsg!=null?'is-invalid':''}" id="diagnostico" name="diagnostico" required>
                                        <div class="invalid-feedback" th:if="${diagnosticomsg!=null}" th:text="${diagnosticomsg}"></div>
                                    </div>
                                    <div class="row">
                                        <label for="tratamiento">Tratamiento</label>
                                        <input type="text" class="form-control"  th:classappend="${tratamientomsg!=null?'is-invalid':''}" id="tratamiento" name="tratamiento" required>
                                        <div class="invalid-feedback" th:if="${tratamientomsg!=null}" th:text="${tratamientomsg}"></div>
                                    </div>
                                    <div th:each="pregunta, status : ${informe.listacampos}">
                                        <div class="row">
                                            <div class="col mb-3">
                                                <label class="form-label" for="respuestasInput" th:text="${pregunta}"></label>
                                                <input type="text" class="form-control" placeholder="Respuesta" th:name="'respuestas'" />
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>

                            <input type="hidden" id="respuestasInput" name="listarespuestas" />
                            <button class="btn btn-primary" type="submit" onclick="enviarRespuestas()">Enviar respuestas</button>
                            <a class="btn btn-secondary" style="text-align: center;background: #b38df7; border-radius: 15px;" th:href="@{/paciente/cuestionarios}">Cancelar</a>
                        </form>

                        <script>
                            function enviarRespuestas() {
                                var respuestas = [];
                                var inputs = document.querySelectorAll('input[name="respuestas"]');

                                inputs.forEach(function(input) {
                                    respuestas.push(input.value);
                                });

                                document.getElementById('respuestasInput').value = respuestas.join(">%%%%%<%%%%>%%%%%<");
                                document.getElementById('respuestasInput').form.submit();

                            }
                        </script>

                    </div>
                </div>
            </div>

            <footer th:replace="~{fragmentos/footer.html::footer}"></footer>
        </div>
    </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->




<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<div th:replace="~{fragmentos/scripts.html::scripts}"></div>
</body>

</html>>

